
                <div class="row" >
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info" >
                        <form>

                        <div class="form-group">
                            <label><h4> รายการที่ {{|number| + 1}}</h4> </label>
                          </div>

                          <div class="form-group">
                            <label>หมวดสินค้า</label>
                            <select class="form-control" id="product_type_add_|number|"   ng-model="item_|number|" ng-change="getProductlist(|number|);ProductStringToID(|number|);Pass('product_type_add_|number|')" disabled>
                                         <option value='' hidden>Select</option>

                                          <option  ng-repeat="x in product_type_list "value="{{x.id}} ">{{x.ddl_name}}</option>
     
                            </select>
                          </div>
                        <div class="form-group">
                            <label>ชื่อสินค้า</label>
                                <input type="text" id="product_add_|number|" name="searchProduct" autocomplete="off" list="searchProductList_|number|" class="form-control" ng-model="inputDataProduct_|number|" ng-change="ProductStringToID(|number|);get_realamount(|number|);" disabled/>
                                    <datalist id="searchProductList_|number|" name="searchList" autocomplete="off" >
                                               <option ng-repeat="x in product_list_|number| ">{{ x.product_name }}</option>
                                    </datalist>
                          </div>
                          <div class="form-group">
                            <label>จำนวน</label>
                                <td><input id="total_paper_add_|number|" type="text"  class="form-control" ng-model = "total_paper_add_|number|" ng-change="isNumCheck('total_paper_add_|number|');
                                   get_realamount(|number|);"/></td>
                          </div>

                          <div class="form-group">
                            <label>ราคา</label>
                            <td><input id="total_price_add_|number|" type="text"  class="form-control" ng-model = "total_price_add_|number|" ng-change="isNumCheck('total_price_add_|number|');"/></td>
                          </div>
                          <div class="form-group">
                            <label>กำหนดส่ง</label>
                            <input id="due_date_add_|number|" type="date"  class="form-control"  ng-model = "due_date_add_|number|" ng-change="isDateCheck('due_date_add_|number|');"/>
                          </div>

                          
                        </form>
                    </div>
                    <div style="margin-left: 25px;"  class="col-sm-9 col-md-6 col-lg-4" >
                      <div class=" alert alert-info">
                        <form  name="form"> 
                          รูปภาพ
                            <br><center><img width="55%" ng-model="file_|number|" ngf-src="file_|number| || 'src/nopic.jpg'"></center><br>
                        </form>
                      </div>
                      <div class=" alert alert-info">
                        <form>
   
                          <div class="form-group">
                                <label>ขนาดกระดาษริม</label>
                                    <input type="text" class="form-control" ng-model="buy_size_|number|" disabled />
                              </div>   
                              <div class="form-group">
                                <label>จำนวนจริง</label>
                                    <input type="text" class="form-control" ng-model="buy_real_amount_|number|" disabled />
                              </div>
                          <div ng-show="paper_type_1_|number|">
                              <div class="form-group">
                                <label>ชื่อวัตถุดิบ</label>
                                    <input type="text" class="form-control" ng-model="paper_type_1_|number|" disabled />
                              </div>
                      
                              <div class="form-group">
                                <label>จำนวนที่สั่ง</label>
                                    <input type="text" id = "amount_order_1_|number|" class="form-control" ng-model= "a_1_|number|" ng-init="a_1_|number|='0'" ng-change="isNumCheck('amount_order_1_|number|')" value="0"/>
                              </div>     
                          </div>
                          <div ng-show="paper_type_2_|number|">
                              <div class="form-group">
                                <label>ชื่อวัตถุดิบ</label>
                                    <input type="text" class="form-control" ng-model="paper_type_2_|number|" disabled />
                              </div>
                      
                              <div class="form-group">
                                <label>จำนวนที่สั่ง</label>
                                    <input type="text" id = "amount_order_2_|number|" class="form-control" ng-model= "a_2_|number|" ng-init="a_2_|number|='0'" ng-change="isNumCheck('amount_order_2_|number|')" value="0"/>
                              </div>     
                          </div>
                          <div ng-show="paper_type_3_|number|">
                              <div class="form-group">
                                <label>ชื่อวัตถุดิบ</label>
                                    <input type="text" class="form-control" ng-model="paper_type_3_|number|" disabled />
                              </div>
                      
                              <div class="form-group">
                                <label>จำนวนที่สั่ง</label>
                                    <input type="text" id = "amount_order_3_|number|" class="form-control" ng-model= "a_3_|number|" ng-init="a_3_|number|='0'" ng-change="isNumCheck('amount_order_3_|number|')" value="0"/>
                              </div>     
                          </div>