<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"  type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="css/addition.css" rel="stylesheet" type="text/css">

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">
                            แบบฟอร์มฝ่ายจัดซื้อ
                        </h4>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tables
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

               <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row" >
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info">
                        <form>
                        <div class="form-group">
                            <label>ชื่อลูกค้า</label>
                                <input type="text" id="company_add_0" name="searchCompany" autocomplete="off" list="searchCompanyList" class="form-control" ng-model="company_add_0" ng-change="CheckData()"  />
                                <datalist id="searchCompanyList" name="searchList" autocomplete="off">
                                     <option ng-repeat="x in company_list ">{{ x.company_name }}</option>
                                </datalist>
                          </div>
                          <div class="form-group">
                            <label>วันที่</label>
                               <input id = "recieve_date_add_0" type="date"  class="form-control"  ng-model = "recieve_date_add_0" ng-change="CheckData()" value="{{recieve_date_add_0}}"/>
                          </div>

                          <div class="form-group">
                            <label>เลขที่ PO.</label>
                            <input id="po_id_add_0" type="text"  class="form-control" list="searchPoList" ng-model = "po_id_add_0" ng-change="CheckData()" />
                                <datalist  id="searchPoList" name="searchPoList" autocomplete="off">
                                     <option ng-repeat="x in po_queue_list_po_id ">{{ x.po_id }}</option>
                                </datalist>
                          </div>                          
                        </form>
                    </div>
                </div>
                <div class="row" ng-repeat="x in po_queue_current">
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info" >
                        <form>
                          <div class="form-group">
                            <label>หมวดสินค้า</label>
                                <input type="text" class="form-control" value="{{x.product_name}}" disabled />
                          </div>
                          <div class="form-group">
                            <label>จำนวน</label>
                                <input type="text" class="form-control" value="{{x.total_paper}}" disabled />
                          </div>
                          <div class="form-group">
                            <label>ชื่อวัตถุดิบ</label>
                                <input type="text" class="form-control" value="{{x.paper_type}}" disabled />
                          </div>
                          <div class="form-group">
                            <label>ขนาด</label>
                                <input type="text" class="form-control" value="{{x.paper_ream_size}}" disabled />
                          </div>   
                          <div class="form-group">
                            <label>จำนวนจริง</label>
                                <input type="text" class="form-control" value="{{(x.total_paper)/(x.paper_per_ream*x.cut_amount*x.work_per_print)|number:2}}" disabled />
                          </div>
                          <div class="form-group">
                            <label>จำนวนที่สั่ง</label>
                                <input type="text" id = "amount_order" class="form-control"  />
                          </div>   
                        </form>
                    </div>
                    <div style="margin-left: 25px;"  class="col-sm-3 col-md-6 col-lg-4 alert alert-info" >
                      <form  name="form">
                        <label>รูปภาพ</label><br>
                        <center><img width="55%"src="upload/{{x.img_url}}"></center>
                      </form>
                    </div>

                </div>

<!--                               <tr id = "input_fields_wrap" >  
   <td colspan="11">
        <button ng-controller="PostController as postCtrl" class="btn btn-primary" ng-model="addrow" ng-click="postCtrl.add_row()" >Add More Fields</button>
    </td> 
</tr>     -->

            <div class="form-group" style="margin:20px">  

                    <button type="submit" class="btn btn-primary" ng-click="po_update()">Submit</button>
                  <br>
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var app = angular.module('myApp', ['getDataApp','ngFileUpload']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;



        getDataApp.controller('customersCtrl',['$scope', '$http','$parse','Upload','$filter', function($scope, $http,$parse,Upload,$filter) 
        {       
            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                
                return results == null ? null : results[1];
            }


            $scope.split_lineget = function(){

                if($scope.lineget!=null){
                 var res = $scope.lineget.split("|");
                 $scope.company_add_0  = res[0];
                 $scope.recieve_date_add_0 = $filter("date")(res[1], 'yyyy-MM-dd');
                 $scope.po_id_add_0 = res[2];
                 //alert(res[0] + "aaa"+ res[1]+res[2])
                }
            }
//document.getElementById("recieve_date_add_0").value= "2014-02-09";

            $scope.po_update = function (){
            var isGo = true;
                //alert(document.getElementById("recieve_date_add").value);
            //alert($scope.getProductID());
            for (var i = 0; i<$scope.po_queue_current.length;i++){
                //alert(document.getElementById('amount_order').value);
                    var encodedString = 
                          'id='  + encodeURIComponent($scope.po_queue_current[i].id)+
                          '&state='  + encodeURIComponent(1) +
                          '&amount=' + encodeURIComponent(document.getElementById('amount_order').value);
                          //alert("test");

                        $http({
                          method: 'POST',
                          url: 'includes/update_state_po.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            //alert('aaa');
                          }
                          else{
                            isGo = false;
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }
                    if(isGo){
                          window.location.href = "tables.html"
                    }
                    //$scope.getData();
            };

            function makeid()
            {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 50; i++ )
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }

              $scope.unupload = function(num){
                $('#upload_status_0').text('No Upload');
                $('#upload_button_0').prop('disabled', false);;
              }

              $scope.upload = function (num) {
                var tempname = $scope.file.$ngfName.split(".");
                tempname = tempname[tempname.length-1];
                $scope.file.$ngfName = makeid()+ "." +tempname;console.log($scope.file);

                Upload.upload({
                    url: 'includes/upload_img.inc.php',
                    data: {
                      file: $scope.file, 
                      'targetPath' : '../upload/'
                    }
                }).then(function (resp) {
                    console.log('Success ' + resp.config.data.file.name + 'uploaded. Response: ' + resp.data);
                    $scope.uploadname =  resp.config.data.file.name;
                    $('#upload_status_0').text('Uploaded');
                    $('#upload_button_0').prop('disabled', true);;
                }, function (resp) {
                    console.log('Error status: ' + resp.status);
                }, function (evt) {
                    var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                    console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);

                });
            };
            $scope.getProductTypelist = function (){
                $scope.product_type_list = [];
                $http.get('includes/get_dropdown.php?group=type_product').then(function(response) 
                {
                    $scope.product_type_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.product_type_list)
                });
            }

            $scope.getProducerlistALL = function (){
                $scope.producer_list = [];
                $http.get('includes/get_producer_list.php').then(function(response) 
                {
                    $scope.producer_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.producer_list)
                });
            }

            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.company_list)
                });
            }

            $scope.getProductlistALL = function (){
                $scope.product_list_all = [];
                $http.get('includes/get_offset_product_list_full.php').then(function(response) 
                {
                    $scope.product_list_all = $.map(response.data, function(el) { 
                        return el });
                    //$scope.setProductIDToName(); 
            $scope.getProductlist(0);
                    console.log($scope.product_list_all)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }

            $scope.getProductlist = function (num){
                for(var i = 0;i<listadd.length;i++){
                  var the_string = 'product_list_'+listadd[i];
                  var model = $parse(the_string);
                  $temp = getObjects( $scope.product_list_all,'category',document.getElementById("product_type_add_0").options[document.getElementById("product_type_add_0").selectedIndex].value );
                  model.assign($scope, $temp);
                  if($temp.length>0){
                                    document.getElementById("product_add_"+listadd[i]).disabled = false;
                                }else{
                                    document.getElementById("product_add_"+listadd[i]).disabled = true;
                                }
                }
            }  

            $scope.setProductData = function (num){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+num).value );
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    document.getElementById("product_line_add_"+num).value = objecttemp[0].product_line;
                }
                else{
                    document.getElementById("product_line_add_"+num).value = '';
                }
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/get_po_queue_speci.php?state=0').then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.getCompanylistALL();
                    $scope.CheckData();
                    //$scope.getProductlistALL();
                    console.log($scope.po_queue);
                });
            }

            $scope.Colorpicker = function(colorget){
              if(colorget == 'red'){
                return '#ffcccc';
              }
              else if(colorget == 'green'){
                return '#ccffcc';
              }
              else if(colorget == 'white'){
                return '#ffffff';
              }

            }

            $scope.CheckData = function (){

               $scope.po_queue_current = [];
               $scope.po_queue_list_po_id = [];

                var  objecttemp = getObjects($scope.po_queue,'company_name',document.getElementById("company_add_0").value );
                if(objecttemp.length<=0){
                    return false;
                }
                objecttemp = getObjects(objecttemp,'recieve_date',document.getElementById("recieve_date_add_0").value );
                if(objecttemp.length<=0){
                    return false;
                }console.log(objecttemp);
                $scope.po_queue_list_po_id = objecttemp;
                objecttemp = getObjects(objecttemp,'po_id',document.getElementById("po_id_add_0").value );
                if(objecttemp.length<=0){
                    return false;
                }
                $scope.po_queue_current = objecttemp;


            }

             $scope.ProducerStringToID = function (){
                var  objecttemp = getObjects($scope.producer_list,'producer_name',document.getElementById("producer_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("producer_add_0").value.length == 0){
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0].producer_id;
                }
                else{
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.ProductStringToID = function (){
                var  objecttemp = getObjects($scope.product_list_all,'product_name',document.getElementById("product_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("product_add_0").value.length == 0){
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0];
                }
                else{
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

             $scope.isDateCheck = function (datein){
                //var timestamp = Date.parse(document.getElementById(datein).value);

                if(document.getElementById(datein).value.length == 0){
                   document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(isNaN(document.getElementById(datein).value) == true){
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

              $scope.isTextCheck = function (textin){

                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( document.getElementById(textin).value.length <= 10 ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }
            $scope.isNumCheck = function (textin){
              var x = +document.getElementById(textin).value;
                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( x.toString() === document.getElementById(textin).value ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.Pass = function (textin){
                    document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
            }


            $scope.getTextAdd = function (){
                $scope.company_list = [];
                $http.get('text/po_queue_add.txt').then(function(response) 
                { 
                    $scope.text = response.data; 
                    
                });
            }
            //alert('aaababa');

            $scope.lineget = $scope.gup('q', window.location.search);
            $scope.split_lineget();
            $scope.po_queue_current = [];

            $scope.getData();
            $scope.getTextAdd();
            $scope.getProductTypelist();

        }]);

    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
