<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"  type="text/javascript"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="css/addition.css" rel="stylesheet" type="text/css">

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="page-header">
                            แบบฟอร์มฝ่าขาย
                        </h4>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tables
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

               <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row" >
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info">
                        <form>
                          <div class="form-group">
                            <label>ชื่อผู้ผลิต</label>
                                <input type="text" id="producer_add_0" name="searchProducer" autocomplete="off" list="searchProducerList" class="form-control" ng-model=postCtrl.inputDataProducer ng-change="ProducerStringToID()" />
                                <datalist id="searchProducerList" name="searchProducerList" autocomplete="off">
                                     <option ng-repeat="x in producer_list ">{{ x.producer_name }}</option>
                                </datalist>
                          </div>
                        <div class="form-group">
                            <label>ชื่อลูกค้า</label>
                                <input type="text" id="company_add_0" name="searchCompany" autocomplete="off" list="searchCompanyList" class="form-control" ng-model=postCtrl.inputDataCompany ng-change="CompanyStringToID();" />
                                <datalist id="searchCompanyList" name="searchList" autocomplete="off">
                                     <option ng-repeat="x in company_list ">{{ x.company_name }}</option>
                                </datalist>
                          </div>
                          <div class="form-group">
                            <label>วันที่</label>
                               <input id = "recieve_date_add_0" type="date"  class="form-control" ng-model = "recieve_date_add_0" ng-change="isDateCheck('recieve_date_add_0');"/>
                          </div>

                          <div class="form-group">
                            <label>เลขที่ PO.</label>
                            <input id="po_id_add_0" type="text"  class="form-control" ng-model = "po_id_add_0" ng-change="isTextCheck('po_id_add_0');" />
                          </div>
                        </form>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info" >
                        <form>
                          <div class="form-group">
                            <label>หมวดสินค้า</label>
                            <select class="form-control" id="product_type_add_0"   ng-model="item" ng-change="getProductlist(0);Pass('product_type_add_0')">
                                         <option value=""  hidden>Select</option>

                                          <option  ng-repeat="x in product_type_list "value="{{x.ddl_id}} ">{{x.ddl_name}}</option>
     
                            </select>
                          </div>
                        <div class="form-group">
                            <label>ชื่อสินค้า</label>
                                <input type="text" id="product_add_0" name="searchProduct" autocomplete="off" list="searchProductList" class="form-control" ng-model=postCtrl.inputDataProduct ng-change="ProductStringToID(0)"/>
                                    <datalist id="searchProductList" name="searchList" autocomplete="off" >
                                               <option ng-repeat="x in product_list_0 ">{{ x.product_name }}</option>
                                    </datalist>
                          </div>
                          <div class="form-group">
                            <label>จำนวน</label>
                                <td><input id="total_paper_add_0" type="text"  class="form-control" ng-model = "total_paper_add_0" ng-change="isNumCheck('total_paper_add_0');"/></td>
                          </div>

                          <div class="form-group">
                            <label>ราคา</label>
                            <td><input id="total_price_add_0" type="text"  class="form-control" ng-model = "total_price_add_0" ng-change="isNumCheck('total_price_add_0');"/></td>
                          </div>
                          <div class="form-group">
                            <label>กำหนดส่ง</label>
                            <input id="due_date_add_0" type="date"  class="form-control"  ng-model = "due_date_add_0" ng-change="isDateCheck('due_date_add_0');"/>
                          </div>

                          
                        </form>
                    </div>
                    <div style="margin-left: 25px;"  class="col-sm-3 col-md-6 col-lg-4 alert alert-info" >
                      <form  name="form">
                        รูปภาพ
                        <input type="file" class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                          ngf-resize="{width: 400, height: 400}" ng-click="unupload(0)"></input>
                          <br><center><img width="55%" ngf-src="file || 'src/upload.ico'"></center><br>
                          <button id="upload_button_0" ng-click="upload(0)" disabled>อับโหลด</button>
                          <span class="form-group" id="upload_status_0" >No Upload</span>
                      </form>
                    </div>

                </div>

                                <tr id = "input_fields_wrap" >  
                                   <td colspan="11">
                                        <button ng-controller="PostController as postCtrl" class="btn btn-primary" ng-model="addrow" ng-click="postCtrl.add_row()" >Add More Fields</button>
                                    </td> 
                                </tr>    

            <div class="form-group" style="margin:20px" ng-controller="PostController">  

                    <button type="submit" class="btn btn-primary" ng-click="po_postForm()">Submit</button>
                  <br>
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var postDataApp = angular.module('postDataApp', []);
        var app = angular.module('myApp', ['getDataApp', 'postDataApp','ngFileUpload']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;

        postDataApp.controller('PostController', ['$scope', '$http','$compile','Upload', function($scope,$http,$compile){

            this.addrow = function(company_id){
               //alert("test");

               dialog_delete.dialog( "open" );
               companyid  = company_id;
               document.getElementById("companyDelete").innerHTML  =  'Company : ' + angular.element(document.querySelector('#company_'+ companyid)).text();
               //alert(company_id);
            }


            this.postForm = function (){
                //alert(document.getElementById("recieve_date_add").value);
            //alert($scope.getProductID());
            var isCheckPass = true;
            console.log(listadd);
            messageShow = '';
            if(checkMainAdd()){
                for(var i = 0 ; i<listadd.length;i++){
                    isCheckPass = isCheckPass&&checkAdd(listadd[i]);
                }
                if(isCheckPass){
                    for(var i = 0;i<listadd.length;i++){
                        var encodedString = 
                        'company='  + encodeURIComponent($scope.getCompanyID() ) +
                        '&po_id=' + encodeURIComponent(document.getElementById("po_id_add_0").value ) +
                        '&recieve_date=' + encodeURIComponent(document.getElementById("recieve_date_add_0").value ) +
                        '&due_date=' + encodeURIComponent(document.getElementById("due_date_add_0").value ) +
                        '&product_type=' + encodeURIComponent(document.getElementById("product_type_add_"+listadd[i]).options[document.getElementById("product_type_add_"+listadd[i]).selectedIndex].value) +
                        '&product_id=' + encodeURIComponent($scope.getProductID(listadd[i]) ) +
                        '&product_line=' + encodeURIComponent(document.getElementById("product_line_add_"+listadd[i]).value ) +
                        '&line_step=' + encodeURIComponent("0") +
                        '&total_price=' + encodeURIComponent(document.getElementById("total_price_add_"+listadd[i]).value ) +
                        '&total_paper=' + encodeURIComponent(document.getElementById("total_paper_add_"+listadd[i]).value );
                        //alert("test");

                      $http({
                        method: 'POST',
                        url: 'includes/post_add_po.inc.php',
                        data: encodedString,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                      })
                      .success(function(data, status, headers, config){
                        console.log(data);
                        console.log(this.inputDataRecieve_date);
                        //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                        if(data.trim() === 'correct'){

                          
                        }
                        else{
                          alert('Error');
                          $scope.errorMsg = "Add fail";
                        }
                      })
                      .error(function(data, status,headers, config){
                        $scope.errorMsg = 'Cannot Submit Form';
                      });
                    }
                    $scope.getData();
                  }
              }
            };


              var dialog, dialog_delete, form, indexGet, newID;
         
            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    messageShow = messageShow + n + " must be number.<br>"; 
                    isPass = false;
                    return false;
                }
                 
            }
            function updateTips( t ) {
              tips
                .text( t )
                .addClass( "ui-state-highlight" );
              setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
              }, 500 );
            }
         
            function checkLength( o, n, min, max ) {
              if ( o.length > max || o.length < min ) {
                //o.addClass( "ui-state-error" );
                //updateTips( "Length of " + n + " must be between " +
                //  min + " and " + max + "." );
                messageShow = messageShow + "Length of " + n + " must be between " + min + " and " + max + ".<br>" ;
                isPass = false;
                return false;
              } else {
                return true;
              }
            }
         
            function checkRegexp( o, regexp, n ) {
              if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
              } else {
                return true;
              }
            }

            function isDate(d,n){
                var timestamp = Date.parse(d)
                if (isNaN(d) == false)
                {
                    messageShow = messageShow + "Invalid " + n + ".<br>";
                    isPass = false;
                }
            }

            function checkMainAdd(){
                isPass = true;//alert('aaa');
                checkLength( document.getElementById("company_add_0").value, 'company', 3, 20 );
                checkLength( document.getElementById("po_id_add_0").value, 'po_id', 1, 5 );
                isDate(document.getElementById("recieve_date_add_0").value,'recieve_date');
                isDate(document.getElementById("due_date_add_0").value,'due_date');

                if(!isPass){
                    document.getElementById("dialogMessage").innerHTML  =  messageShow;
                    dialog_message.dialog("open");
                    //alert(isPass);
                    return false;
                }
                else{
                    //alert('bbb');
                    return true;
                }

            }
            function checkAdd(numcheck){

                isPass = true;
                checkLength( document.getElementById("product_id_add_"+numcheck).value, 'product_id['+(numcheck+1)+']', 1, 5 );
                checkLength( document.getElementById("total_price_add_"+numcheck).value, 'total_price['+(numcheck+1)+']', 1, 5 )&&stringIsNumber(document.getElementById("total_price_add_"+numcheck).value,'total_price['+(numcheck+1)+']');
                checkLength( document.getElementById("total_paper_add_"+numcheck).value, 'total_paper['+(numcheck+1)+']', 1, 5 )&&stringIsNumber(document.getElementById("total_paper_add_"+numcheck).value,'total_paper['+(numcheck+1)+']');
                //var strUser = document.getElementById("product_type_add").options[document.getElementById("product_type_add").selectedIndex].value;

                if(!isPass){
                    document.getElementById("dialogMessage").innerHTML  =  messageShow;
                    dialog_message.dialog("open");
                    //alert(isPass);
                    return false;
                }
                else{
                    //alert('bbb');
                    return true;
                }

            }

            function isBlank(valueget){
                if(valueget === ''){
                    //dialog_message.dialog("open");
                    //alert('aaa');
                    messageShow = ""
                    return true;
                }
                else{
                    //alert('bbb');
                    return false;
                }
            }


            dialog_message = $( "#dialog-message-form" ).dialog({
              autoOpen: false,
              width: 500,
              modal: true,
              buttons: {
            OK: function() {
              dialog_message.dialog( "close" );
            }

              },
              close: function() {
                allFields.removeClass( "ui-state-error" );
              }
            });
         
/*            form = dialog.find( "form" ).on( "submit", function( event ) {
                alert('yoyo');
              //event.preventDefault();
              //postEditForm();
            })*/
         

            this.add_row = function () {  

                add_count += 1;

                listadd.push(add_count);
                //alert(listadd);
                var max_fields      = 10; //maximum input boxes allowed
                var wrapper         = document.getElementById("input_fields_wrap"); //Fields wrapper
                //var add_button      = $(".add_field_button"); //Add button ID
                
                //var x = 1; //initlal text box count
                var text = replaceAll($scope.text,"|number|", add_count);
                $(wrapper).before($compile( text )($scope));
                            

                $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                    e.preventDefault(); $(this).parent('div').remove(); x--;
                })
            }


            this.remove_row = function(remove_target){
                //alert('aaa');
                //var array = [2, 5, 9];
                //alert(listadd);
                listadd = listadd.filter(function(item) { 
                    return item !== remove_target;
                });                
                document.getElementById("po_queue_add_"+remove_target).remove();
                //alert(listadd);
            }

            function escapeRegExp(str) {
                return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
            }
            function replaceAll(str, find, replace) {
              return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
            }

             // upload on file select or drop 


          }]);


        getDataApp.controller('customersCtrl',['$scope', '$http','$parse','Upload', function($scope, $http,$parse,Upload) 
        {
/*            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            $scope.gup('q', window.location.search);*/
            function makeid()
            {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 50; i++ )
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }

              $scope.unupload = function(num){
                $('#upload_status_0').text('No Upload');
                $('#upload_button_0').prop('disabled', false);;
              }

              $scope.upload = function (num) {
                var tempname = $scope.file.$ngfName.split(".");
                tempname = tempname[tempname.length-1];
                $scope.file.$ngfName = makeid()+ "." +tempname;console.log($scope.file);

                Upload.upload({
                    url: 'includes/upload_img.inc.php',
                    data: {
                      file: $scope.file, 
                      'targetPath' : '../upload/'
                    }
                }).then(function (resp) {
                    console.log('Success ' + resp.config.data.file.name + 'uploaded. Response: ' + resp.data);
                    $scope.uploadname =  resp.config.data.file.name;
                    $('#upload_status_0').text('Uploaded');
                    $('#upload_button_0').prop('disabled', true);;
                }, function (resp) {
                    console.log('Error status: ' + resp.status);
                }, function (evt) {
                    var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                    console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);

                });
            };
            $scope.getProductTypelist = function (){
                $scope.product_type_list = [];
                $http.get('includes/get_dropdown.php?group=type_product').then(function(response) 
                {
                    $scope.product_type_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.product_type_list)
                });
            }

            $scope.getProducerlistALL = function (){
                $scope.producer_list = [];
                $http.get('includes/get_producer_list.php').then(function(response) 
                {
                    $scope.producer_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.producer_list)
                });
            }

            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.company_list)
                });
            }

            $scope.getProductlistALL = function (){
                $scope.product_list_all = [];
                $http.get('includes/get_offset_product_list_full.php').then(function(response) 
                {
                    $scope.product_list_all = $.map(response.data, function(el) { 
                        return el });
                    //$scope.setProductIDToName(); 
            $scope.getProductlist(0);
                    console.log($scope.product_list_all)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }

            $scope.getProductlist = function (num){
                for(var i = 0;i<listadd.length;i++){
                  var the_string = 'product_list_'+listadd[i];
                  var model = $parse(the_string);
                  $temp = getObjects( $scope.product_list_all,'category',document.getElementById("product_type_add_0").options[document.getElementById("product_type_add_0").selectedIndex].value );
                  model.assign($scope, $temp);
                  if($temp.length>0){
                                    document.getElementById("product_add_"+listadd[i]).disabled = false;
                                }else{
                                    document.getElementById("product_add_"+listadd[i]).disabled = true;
                                }
                }
            }  

            $scope.po_postForm = function (){
                //alert(document.getElementById("recieve_date_add").value);
            //alert($scope.getProductID());

            var encodedString = 
                        'company='  + encodeURIComponent($scope.CompanyStringToID()) +
                        '&producer='  + encodeURIComponent($scope.ProducerStringToID()) +
                        '&po_id=' + encodeURIComponent(document.getElementById("po_id_add_0").value ) +
                        '&recieve_date=' + encodeURIComponent(document.getElementById("recieve_date_add_0").value ) +
                        '&due_date=' + encodeURIComponent(document.getElementById("due_date_add_0").value ) +
                        '&product_type=' + encodeURIComponent(document.getElementById("product_type_add_0").options[document.getElementById("product_type_add_0").selectedIndex].value) +
                        '&product_id=' + encodeURIComponent($scope.ProductStringToID(0).product_id ) +
                        '&product_line=' + encodeURIComponent($scope.ProductStringToID(0).product_line ) +
                        '&line_step=' + encodeURIComponent("0") +
                        '&total_price=' + encodeURIComponent(document.getElementById("total_price_add_0").value ) +
                        '&total_paper=' + encodeURIComponent(document.getElementById("total_paper_add_0").value ) +
                        '&img_url=' + encodeURIComponent($scope.uploadname);
                        //alert("test");

                      $http({
                        method: 'POST',
                        url: 'includes/post_add_po.inc.php',
                        data: encodedString,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                      })
                      .success(function(data, status, headers, config){
                        console.log(encodedString);console.log(data);
                        console.log(this.inputDataRecieve_date);
                        //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                        if(data.trim() === 'correct'){
                          window.location.href = "form-buy-offset.html?q="
                          + document.getElementById("company_add_0").value+"|"
                          + document.getElementById("recieve_date_add_0").value + "|"
                          + document.getElementById("po_id_add_0").value;
                        }
                        else{
                          alert('Error');
                          $scope.errorMsg = "Add fail";
                        }
                      })
                      .error(function(data, status,headers, config){
                        $scope.errorMsg = 'Cannot Submit Form';
                      });
                    
                    $scope.getData();
            };


            $scope.setProductData = function (num){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+num).value );
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    document.getElementById("product_line_add_"+num).value = objecttemp[0].product_line;
                }
                else{
                    document.getElementById("product_line_add_"+num).value = '';
                }
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/get_po_queue.php').then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.getCompanylistALL();
                    $scope.getProducerlistALL();
                    $scope.getProductlistALL();
                    console.log($scope.po_queue);
                });
            }

            $scope.Colorpicker = function(colorget){
              if(colorget == 'red'){
                return '#ffcccc';
              }
              else if(colorget == 'green'){
                return '#ccffcc';
              }
              else if(colorget == 'white'){
                return '#ffffff';
              }

            }

            $scope.CompanyStringToID = function (){
                var  objecttemp = getObjects($scope.company_list,'company_name',document.getElementById("company_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("company_add_0").value.length == 0){
                    document.getElementById("company_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("company_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0].company_id;
                }
                else{
                    document.getElementById("company_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

             $scope.ProducerStringToID = function (){
                var  objecttemp = getObjects($scope.producer_list,'producer_name',document.getElementById("producer_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("producer_add_0").value.length == 0){
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0].producer_id;
                }
                else{
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.ProductStringToID = function (){
                var  objecttemp = getObjects($scope.product_list_all,'product_name',document.getElementById("product_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("product_add_0").value.length == 0){
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0];
                }
                else{
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

             $scope.isDateCheck = function (datein){
                //var timestamp = Date.parse(document.getElementById(datein).value);

                if(document.getElementById(datein).value.length == 0){
                   document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(isNaN(document.getElementById(datein).value) == true){
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

              $scope.isTextCheck = function (textin){

                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( document.getElementById(textin).value.length <= 10 ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }
            $scope.isNumCheck = function (textin){
              var x = +document.getElementById(textin).value;
                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( x.toString() === document.getElementById(textin).value ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.Pass = function (textin){
                    document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
            }



            $scope.getProductID = function (index_id){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+index_id).value );
                
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    return objecttemp[0].product_id;
                }
                else{
                    return 'false';
                }
            }


            $scope.getTextAdd = function (){
                $scope.company_list = [];
                $http.get('text/po_queue_add.txt').then(function(response) 
                { 
                    $scope.text = response.data; 
                    
                });
            }
            //alert('aaababa');
            $scope.getData();
            $scope.getTextAdd();
            $scope.getProductTypelist();


        }]);

    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
