<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <title>Learn AngularJS - Order Form</title>
    <link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

<body ng-app="myApp" ng-controller="customersCtrl">

    <div class="container">          
      <table class = "table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Issuer</th>
            <th>Exp</th>
          </tr>
        </thead>
      <tbody>
            <tr ng-repeat="rec in names | filter:test">
              <td> {{rec.Name}}</td>
              <td> {{rec.Number}}</td>
              <td> {{rec.Issuer}}</td>
              <td> {{rec.Exp}}</td>               
            </tr>     
        </tbody>      
      </table>

      <p>Search : 
      <input type="text" ng-model="test"></p>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      app.controller('customersCtrl', function($scope, $http) {
        $http.get("jsondb.php").then(function (response) {
          $scope.names = response.data;
          console.log($scope.names);
        });
      });
    </script>
</body>

</html>
