<html lang="en">
<head>
<meta charset="utf-8" />



<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid.css" />
<script src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap-tpls.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.1/ui-bootstrap.min.js"></script> -->


</head>
<!-- <body> -->
    

<body ng-app='myApp' ng-controller='customersCtrl'>

    <div>
    <table style="width:auto;" class="table table-bordered">
        <thead>
            <tr>
                <th>Index</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody ui:sortable ng:model="list">
            <tr ng:repeat="item in list" class="item" style="cursor: move;">
                <td>{{$index}}</td>
                <td>{{item}}</td>
            </tr>
        </tbody>
        <hr>
    </div>

    <script type="text/javascript">
        
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) 
        {
            // $scope.customerTable = [];
            // $scope.getTable = function ()
            // {
                $http.get('get_po_queue.php').then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el });
                    $scope.list = ["one", "two", "three", "four", "five", "six"];
                    console.log($scope.po_queue)
                });
            // };

        });
        // var myapp = angular.module('myapp', ['ui']);

        // myapp.controller('controller', function ($scope) {
        //     $scope.list = ["one", "two", "three", "four", "five", "six"];
        // });

        // angular.bootstrap(document, ['myapp']);
        

    </script>

</body>
</html>