<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">




    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;
}
    .modal-header{
        padding-left: 2px;
        padding-right: 2px
    }
    .modal-title{
        font-size: 16px;
    }
    .modal-body{
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 15%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">แก้ไขผู้รับผิดชอบ</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body">
                        <div   class="form-group">
                            <label>ผู้รับผิดชอบ</label>
                            <select class="form-control" id="worker_edit" >
                                    <option value='' hidden>Select</option> 
                                    <option ng-repeat="a in machine_worker_list | filter : {id_machine: edit_id }" value="{{a.id_worker}} ">{{a.user_name}}</option>
                            </select>
                            
                        </div>
                        <br>{{massageEdit}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="saveEdit()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 15%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="alertModalLabel">ผิดพลาด</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body" id="textAlert">
                        test
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>


        <!-- Navigation -->
        
        <div id="page-wrapper"  class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-archive"></i> Bill</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> งาน Bill</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"> งานเข้าเล่ม</i> 
                            </li>
                        </ol>
                    </div>
                </div>



                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                            <tr>         
                                <th colspan="13"><center><div style="font-size: 16px">งานเข้าเล่ม</div></center></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                <th>ลำดับ</th>                    
                                <th>ชื่อสินค้า</th>
                                <th>รายละเอียด</th>
                                <th>หมวดสินค้า</th>
                                <th>กำหนดส่ง</th>
                                <th>จำนวน</th>
                                <th>จำนวนพิมพ์</th>
                                <th>จำนวนเข้าเล่ม</th>
                                <th>จำนวนเย็บ</th>
                               <!--  <th>รูปภาพ</th> -->
                             <!--    <th>รายละเอียด</th> -->
                                <th>ตัวเลือก</th>

                            </tr>
                        </thead>

                        <tr >
                        <thead id="sortable-wait">
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="x in po_queue_wait "  id = "row_{{ x.id }}" class="clickable-row" ng-click="set_target(x.id)"  my-post-repeat-directive>
                          <div >
<!--                                 <td id = "indexrow" value="indexrow_{{ x.index_company }}">{{ x.index_company}}</td> -->

                                <td >{{ x.order_line -- 1}}</td>                         
                                <td >{{ x.product_name }}</td>
                                <td >{{ x.note }}</td>
                                <td >{{ x.product_type_name }}</td>
                                <td >{{ x.due_date }}</td>
                                <td >{{ x.total_paper }}</td>
                                <td >{{ x.amount_current }}</td>
                                <td >{{ (x.amount_current*x.work_per_print)/(x.set_per_book*x.work_per_bigbook) | number: 2}}</td>
                                <td >{{ x.amount_book}}</td>
                                <!-- <td ><a ng-if="x.img_url" href="upload/{{x.img_url}}" target="_blank"><i class=" glyphicon glyphicon-picture"></a></td> -->
   <!--                              <td style="width: 90px;">
       <button class="btn btn-primary" id="submit-user" ng-click="set_target(x.id)">ดู</button>
   </td> -->
                                <td class="col-sm-1">
                                    <button class="btn btn-primary" id="submit-user" ng-click="finish_work(x.id)">จบงาน</button>

                                </td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>
<br><br>
                <div  style="display: none;"  id="button_machine">
                    <div ng-repeat="a in machine_worker_book_list_group " style="display: inline;" >
                        <button class="btn btn-primary" ng-repeat="b in a | limitTo:1 " ng-click="set_item_worker(b.id_machine)">{{b.machine_name}}</button>
                    </div>
                </div>
                    <button id="button_save" class="btn btn-success" style="display: none;width:200px;float:right" ng-click="saveAmountSub()">บันทึก</button>
                
                

                <br><br>

                <div class="table-responsive" style="display: none;" id="table_detail">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                            <tr>         
                                <th colspan="20"><center><div style="font-size: 16px" id="name_target"></div></center></th>
                                
                            </tr>
                           <!--  <tr>         
                               <th colspan="20"><center><div style="font-size: 16px" >Total amount : {{newAmountBook}}</div></center></th>
                           </tr> -->
                        </thead>



                        <tr >
                        <thead>                            <tr>
                                <th style="width: 200px;">วันที่</th>
                                <th  ng-repeat="item in item_target" >{{item.user_name}}</th>
                                <th> จำนวนเย็บ </th>
                            </tr>
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="bookData in bookData_date " >
                            <td ng-repeat="x in bookData | limitTo:1">{{x.datetime}}</td>
                            <td ng-repeat="x in bookData | orderBy:'id_list_worker'"><input class="form-control"  ng-model="a[x.id]" ng-change="calDynamic()" id="amount_book_dialog_{{x.id}}" ng-value="{{x.amount}}"></input></td>
                            <td>{{bookData.sum}}</td>
                          </tr>

                          <tr>
                              <td >TOTAL</td>
                              <td ng-repeat="b in col">{{b.sum}}<!-- <input ng-value="sumTotal_{{b.id_list_worker}}"> --></td>
                              <td >{{newAmountBook}}</td>
                          </tr>

                          <tr>
                              <td ><br>
                                <input type="date" class="form-control" style="width:200px;" id="date_add_dialog"></input><br>
                                <center><button class="btn btn-default" style="width:200px" ng-click="addDate()">เพิ่มวัน</button></center>
                              <br></td>
<!--                               <td colspan="20"  style="vertical-align: middle;">
    <center><button class="btn btn-success" style="width:200px" ng-click="addDate()">บันทึก</button></center>
</td> -->
                          </tr> 
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

/*        var postDataApp = angular.module('postDataApp', []).directive('onFinishRender', function ($timeout) {
            alert('good');  $('#row_18').addClass('active').siblings().removeClass('active');
        });*/
        var postDataApp = angular.module('postDataApp', []);
        var app = angular.module('myApp', ['postDataApp'])
        .directive('myPostRepeatDirective', ['$timeout',function($timeout) {
          return function(scope, element, attrs) {  
            if (scope.$last){
              //alert();
                $timeout(function () {
                    scope.$emit('ngRepeatFinished');
                });
              //console.log(document.getElementById('row_18'));
              //$('#row_18').addClass('active').siblings().removeClass('active');
            }
          };
        }]);

        $('#po_queue_table').on('click', '.clickable-row', function(event) {
          $(this).addClass('active').siblings().removeClass('active');
          console.log($(this));
        });

        postDataApp.controller('customersCtrl', ['$scope', '$http','$parse', function($scope,$http,$parse){


            parent.postMessage('0||Bill - งานเข้าเล่ม||#ffffff||ว่าง', '*');    
            $scope.edit_id = 0;
            $scope.id_target = 0;
            $scope.id_machine = 0;
            $scope.bookData_date = [];

            $scope.$on('ngRepeatFinished', function(ngRepeatFinishedEvent) {
                //console.log(document.getElementById('row_18'));
                $('#row_'+$scope.id_target).addClass('active').siblings().removeClass('active');
            });   

                $( "#sortable-wait" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index(),1,0);
                        }

                    });
                $( "#sortable-wait" ).disableSelection();

                $( "#sortable" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index(),1,1);
                        }

                    });
                $( "#sortable" ).disableSelection();


           $scope.getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat($scope.getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }


            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    return false;
                }
                 
            }

           $scope.validateAccept = function(row_id){
            
                var text = '';
                var isPass = true;

                if(document.getElementById("machine_add_"+row_id).options[document.getElementById("machine_add_"+row_id).selectedIndex].value==''){
                    text = text.concat('เครื่องไม่ถูกต้อง ,');
                    isPass = false;
                }
                if(document.getElementById("worker_add_"+row_id).options[document.getElementById("worker_add_"+row_id).selectedIndex].value==''){
                    text = text.concat('ผู้รับผิดชอบไม่ถูกต้อง ');
                    isPass = false;
                }

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').text(text);
                    
                    return false;
                }else{
                    return true;
                }
           }

           $scope.validateFinish = function(row_id){
            
                var text = '';
                var isPass = true;

                if(!stringIsNumber(document.getElementById('amount_'+row_id).value,"amount")||document.getElementById('amount_'+row_id).value==''){
                    text = text.concat('จำนวนผิดพลาด ');
                    isPass = false;
                }

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').text(text);
                    
                    return false;
                }else{
                    return true;
                }
           }

           $scope.openEdit = function(work_id,id_machine_get){
                $scope.massageEdit = '';
                $scope.edit_id = id_machine_get;
                $scope.work_id_edit = work_id;

           }

           $scope.saveEdit = function(){

            if(document.getElementById("worker_edit").options[document.getElementById("worker_edit").selectedIndex].value == ''){
                 $scope.massageEdit = 'ผู้รับผิดชอบไม่ถูกต้อง';
                 return 0;
             }

            var encodedString = 
                'edit_id='  + encodeURIComponent($scope.work_id_edit) + 
                '&line='  + encodeURIComponent($scope.thislinepage) +
                /*'&machine='  + encodeURIComponent(document.getElementById("machine_add_"+work_id).options[document.getElementById("machine_add_"+work_id).selectedIndex].value) +*/
                '&worker_id='  + encodeURIComponent(document.getElementById("worker_edit").options[document.getElementById("worker_edit").selectedIndex].value) +
                '&type='+ encodeURIComponent($scope.thistypepage);
                ;

                $http({
                method: 'POST',
                url: 'includes/global_post_edit_table_line.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                //console.log(values);
                console.log(data);
                if(data.trim() == 'correct'){
                  //alert('good');
                  $scope.getData();
                  $scope.edit_id = 0;
                  $('#myModal').modal('hide');
                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";

                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
           }


            $scope.accept_work = function(work_id){

                if(!$scope.validateAccept(work_id)){
                    return false;
                }

                var encodedString = 
                'work_id='  + encodeURIComponent(work_id) + 
                '&line='  + encodeURIComponent($scope.thislinepage) +
                '&machine='  + encodeURIComponent(document.getElementById("machine_add_"+work_id).options[document.getElementById("machine_add_"+work_id).selectedIndex].value) +
                '&worker='  + encodeURIComponent(document.getElementById("worker_add_"+work_id).options[document.getElementById("worker_add_"+work_id).selectedIndex].value)+
                '&type='+ encodeURIComponent($scope.thistypepage);

                $http({
                method: 'POST',
                url: 'includes/global_post_submit_line_accept.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                //console.log(values);
                console.log(data);
                if(data.trim() == work_id){
                  //alert('good');
                  parent.postMessage('1||สำเร็จ||ส่งข้อมูล ' +  ($scope.getObjects( $scope.po_queue_wait,'id',work_id))[0].product_name + ' ไปยังงานผลิตเรียบร้อย', '*');
                  $scope.getData();

                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";

                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }


            $scope.finish_work = function(work_id){

                
                var a = $scope.getObjects($scope.po_queue_wait,'id',work_id);

                //alert(a[0].amount_book);
                //return 0;
                var encodedString = 
                'work_id='  + encodeURIComponent(work_id) + 
                '&field_save='  + encodeURIComponent('amount_cut') +
                '&amount='  + encodeURIComponent(a[0].amount_book) + 
                '&thisline='  + encodeURIComponent($scope.thislinepage)+
                '&type='+ encodeURIComponent($scope.thistypepage)+
                '&isOneTable=1';
                
                $http({
                method: 'POST',
                url: 'includes/global_post_submit_line_finish.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){

                console.log(data);
                if(data.trim() == work_id){
                    $scope.clearwork(work_id);
                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }

            $scope.clearwork = function(work_id){

                var encodedString = 
                'work_id='  + encodeURIComponent(work_id);

                $http({
                method: 'POST',
                url: 'includes/post_clear_bill_book.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){

                console.log(data);
                if(data.trim() == 'correct'){
                  parent.postMessage('1||สำเร็จ||ส่งข้อมูล ' + ($scope.getObjects( $scope.po_queue_wait,'id',work_id))[0].product_name + ' ไปยังไลน์งานผลิตถัดไปเรียบร้อย', '*');
                  $scope.getData();
                  $('#button_machine').css("display","none");
                  $('#table_detail').css("display","none");
                  $('#button_save').css("display","none");
                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }

            function indexSwap(from_index,to_index,line,state){
                //alert(from_index+ to_index );
                //var temp = lineget.split(',');
                var encodedString = 
                'from_index='  + encodeURIComponent(from_index) + 
                '&to_index='  + encodeURIComponent(to_index) + 
                '&line=' + encodeURIComponent($scope.thislinepage) +
                '&state=' + encodeURIComponent(state) +
                '&type=' + encodeURIComponent($scope.thistypepage);
                //alert(from_index+"test"+to_index+'-'+line+state);
              $http({
                method: 'POST',
                url: 'includes/global_index_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){

                  $scope.getData();
                }
                else{
                  alert('Error'+data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.changeNum = function(){
                $scope.newAmountBook = calBook();
            }

            $scope.calBook = function(){
                var sum = 0;
                $.each($scope.bookData,function(k,v){
                    //alert(document.getElementById("amount_book_dialog_"+v.id).value);
                    sum = sum + parseInt(document.getElementById("amount_book_dialog_"+v.id).value);
                    });
                return sum;
            }

            $scope.calBookOBJ = function(){
                var sum = 0;
                $.each($scope.bookData,function(k,v){
                    //alert(document.getElementById("amount_book_dialog_"+v.id).value);
                    sum = sum + parseInt(v.amount);
                    });
                return sum;
            }

            $scope.setAfterGetBook = function(){
                var groups = {};
                        $.each($scope.bookData,function(k,v){
                            var id = v.datetime;
                            if(groups[id]){
                                groups[id].push(v);
                            }else{
                                groups[id] = [];
                                groups[id].push(v);
                            }
                        });
                $scope.bookData_date = groups;
                groups = {};
                        $.each($scope.bookData,function(k,v){
                            var id = v.id_list_worker;
                            if(groups[id]){
                                groups[id].push(v);
                            }else{
                                groups[id] = [];
                                groups[id].push(v);
                            }
                        });
                $scope.bookData_worker = groups;
                $scope.sumrowOBJ();
                $scope.sumcolOBJ();
                $scope.oldAmountBook = $scope.calBookOBJ();
                $scope.newAmountBook = $scope.oldAmountBook;
            }

            $scope.addDate = function() {
                 var obj = $scope.getObjects($scope.bookData,"datetime",document.getElementById("date_add_dialog").value);
                 if(document.getElementById("date_add_dialog").value=='')
                   return false;

                for (var i = obj.length - 1; i >= 0; i--) {
                  if(obj[i].datetime == document.getElementById("date_add_dialog").value){
                    alert('invalid date');
                    return false;
                  }
                }
                 //alert(obj);
                 $scope.addBook(document.getElementById("date_add_dialog").value);
            }

            $scope.addBook = function(date_time){
                var encodedString = 
                'id_machine='  + encodeURIComponent($scope.id_machine) + 
                '&id_po_queue='  + encodeURIComponent( $scope.id_target);

                if(date_time != ''){
                    //alert('good');
                    encodedString = encodedString + "&date_time=" +encodeURIComponent(date_time);}
                //alert(from_index+"test"+to_index+'-'+line+state);
              $http({
                method: 'POST',
                url: 'includes/post_bill_add_book.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                    $http.get('includes/get_bill_book.php?id_po_queue='+$scope.id_target+'&id_machine='+$scope.id_machine).then(function(response) 
                    {
                            $scope.bookData = $.map(response.data, function(el) { return el });
                            $scope.setAfterGetBook();
                    });
                }
                else{
                  alert('Error'+data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.saveAmount = function(){
                var encodedString = 
                'id_po='  + encodeURIComponent($scope.id_target);

              $http({
                method: 'POST',
                url: 'includes/post_bill_book_save_amount.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                    //$scope.saveAmountSub();
                    parent.postMessage('1||สำเร็จ||บันทึกข้อมูลเรียบร้อย', '*');
                    $scope.getData();
                }
                else{
                  alert('Error'+data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.saveAmountSub = function(){
            var isOkay = true;
            $.each($scope.bookData_date,function(k,v){
                    $.each(v,function(k,vv){
                            var encodedString = 
                            'id_sub='  + encodeURIComponent(vv.id) + 
                            '&amount='  + encodeURIComponent( document.getElementById("amount_book_dialog_"+vv.id).value );

                          $http({
                            method: 'POST',
                            url: 'includes/post_bill_book_save_amount_sub.inc.php',
                            data: encodedString,
                            headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                          })
                          .success(function(data, status, headers, config){
                            console.log(data);
                            if(data.trim() === 'correct'){
                                
                            }
                            else{
                              isOkay = false;
                              alert('Error'+data);
                              $scope.errorMsg = "Add fail";
                            }
                          })
                          .error(function(data, status,headers, config){
                            $scope.errorMsg = 'Cannot Submit Form';
                          });

                    });
                });
                if(isOkay)  $scope.saveAmount();
            };

            $scope.thistypepage = 3;
            $scope.thislinepage = 4;
            $scope.thismachine = 3;

            Object.size = function(obj) {
                var size = 0, key;
                for (key in obj) {
                    if (obj.hasOwnProperty(key)) size++;
                }
                return size;
            };

            $scope.calDynamic = function(){
                $scope.sumrow();
                $scope.sumcol();
                $scope.newAmountBook = $scope.calBook();
            }

            $scope.sumrowOBJ = function(){
                //alert(Object.size($scope.bookData_date));
                //console.log($scope.bookData_date);
                 $.each($scope.bookData_date,function(k,v){
                    var sum = 0; //console.log(v);
                     $.each(v,function(k,vv){
                         sum = sum + parseInt(vv.amount);
                         //alert(vv.amount);
                     });
                    v.sum = sum;
                    //alert(sum);
                });
                 console.log($scope.bookData_date);
            }

            $scope.sumrow = function(){
                //console.log($scope.bookData_date);
                 $.each($scope.bookData_date,function(k,v){
                    var sum = 0; //console.log(v);
                     $.each(v,function(k,vv){
                         sum = sum + parseInt(document.getElementById("amount_book_dialog_"+vv.id).value);
                         //alert(vv.amount);
                     });
                    v.sum = sum;
                    //alert(sum);
                });
            }

            $scope.sumcolOBJ = function(){
                 $scope.col = [];
                 $.each($scope.bookData_worker,function(k,v){
                    var sum = 0; console.log(v);
                     $.each(v,function(k,vv){
                         sum = sum + parseInt(vv.amount);
                     });
                     var col = {};
                     $scope.col.push({
                          sum: sum
                        });
                    //$parse("sumTotal_"+v[0].id_list_worker).assign($scope, sum);
                    //$scope['sumTotal_'+v[0].id_list_worker] = sum;
                    //console.log($scope.sumTotal_[v[0].id_list_worker]);
                });
            }

            $scope.checkdate = function(date){

            }

            $scope.sumcol = function(){
                 $scope.col = [];
                 $.each($scope.bookData_worker,function(k,v){
                    var sum = 0;
                     $.each(v,function(k,vv){
                         sum = sum + parseInt(document.getElementById("amount_book_dialog_"+vv.id).value);
                     });
                     $scope.col.push({
                          sum: sum
                        });
                    //$scope['sumTotal_'+v[0].id_list_worker] = sum;
                    //$parse("sumTotal_"+v[0].id_list_worker).assign($scope, sum);
                    //$scope.sum[v[0].id_list_worker] = sum;
                });
            }

            $scope.getMachineID = function(){
                $scope.machine_list = [];
                $http.get('includes/get_machine.php?machine_type='+$scope.thistypepage+'&machine_work='+$scope.thislinepage).then(function(response) 
                {
                    $scope.machine_list = $.map(response.data, function(el) { return el });
                    
                });
            }


            $scope.changeMachine = function(row_id){

                document.getElementById("worker_add_"+row_id).disabled = false;

            }

            $scope.changeWorker = function(row_id){

                document.getElementById("machine_add_"+row_id).disabled = true;
            }


            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            lineget = $scope.gup('line', window.location.search);
            
            $scope.getMachine = function (){
                $scope.machine_list = [];
                $http.get('includes/get_machine.php?machine_type='+$scope.thistypepage+'&machine_work='+$scope.thislinepage).then(function(response) 
                {
                    $scope.machine_list = $.map(response.data, function(el) { return el });
                    
                });
            }

            $scope.getMachineWorker = function (){
                $scope.machine_worker_list = [];
                 $http.get('includes/get_machine_worker.php?machine_type='+$scope.thistypepage+'&machine_work='+$scope.thislinepage).then(function(response) 
                {
                    $scope.machine_worker_list = $.map(response.data, function(el) { return el });
                });
            }

            $scope.getMachineWorker_Book = function (){
                $scope.machine_worker_book_list = [];
                $http.get('includes/get_machine_worker_book.php').then(function(response) 
                {
                    $scope.machine_worker_book_list = $.map(response.data, function(el) { return el });
                    var groups = {};
                    console.log($scope.machine_worker_book_list);
                            $.each($scope.machine_worker_book_list,function(k,v){
                                var id = v.id_machine;
                                if(groups[id]){
                                    groups[id].push(v);
                                }else{
                                    groups[id] = [];
                                    groups[id].push(v);
                                }
                        });
                    $scope.machine_worker_book_list_group = groups;
                    console.log(groups);
                });
            }   

            $scope.set_target = function (id_target){
                $scope.id_target = id_target;
                $('#button_machine').css("display","inline");
                if($scope.id_machine != 0)
                    $scope.getBillBook();
            }
            $scope.set_item_worker = function (id_mac){
                $scope.item_target= $scope.getObjects($scope.machine_worker_book_list,"id_machine",id_mac);
                document.getElementById("name_target").innerHTML = $scope.item_target[0].machine_name;
                $scope.id_machine = id_mac;
                 $('#table_detail').css("display","inline");
                 $('#button_save').css("display","inline");
                if($scope.id_target != 0)
                    $scope.getBillBook();
            }


            $scope.getBillBook = function (){
                $scope.bookData = [];
                $http.get('includes/get_bill_book.php?id_po_queue='+$scope.id_target+'&id_machine='+$scope.id_machine).then(function(response) 
                {
                    if(response.data!=''){
                        $scope.bookData = $.map(response.data, function(el) { return el });
                        $scope.setAfterGetBook();
                    }
                    else
                        $scope.addBook('');
                });
            }
                 
            $scope.getData = function (){
                $scope.po_queue = [];
                $scope.po_queue_wait = [];
                $http.get('includes/global_get_table_line.php?line='+$scope.thislinepage+'&state=0&type='+$scope.thistypepage).then(function(response) 
                {
                    $scope.po_queue_wait = $.map(response.data, function(el) { return el });
/*                    alert();
                    $('#row_18').addClass('active').siblings().removeClass('active');
                    $scope.$watch('form.id', function(newVal, oldVal) {
                          // do something with changed value
                    });*/
                    console.log($scope.po_queue_wait);
                });
            }

            $scope.getData();
            $scope.getMachine();
            $scope.getMachineWorker();
            $scope.getMachineWorker_Book();

            

      }]);

    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
