<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">




    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;
}
    .modal-header{
        padding-left: 2px;
        padding-right: 2px
    }
    .modal-title{
        font-size: 16px;
    }
    .modal-body{
        padding-left: 50px;
        padding-right: 50px;
    }
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 15%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">แก้ไขผู้รับผิดชอบ</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body">
                        <div   class="form-group">
                            <label>ผู้รับผิดชอบ</label>
                            <select class="form-control" id="worker_edit" >
                                    <option value='' hidden>Select</option> 
                                    <option ng-repeat="a in machine_worker_list | filter : {id_machine: edit_id }" value="{{a.id_worker}} ">{{a.user_name}}</option>
                            </select>
                            
                        </div>
                        <br>{{massageEdit}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="saveEdit()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 15%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="alertModalLabel">ผิดพลาด</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body" id="textAlert">
                        test
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>


        <!-- Navigation -->
        
        <div id="page-wrapper"  class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-archive"></i> Bill</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> งาน Bill</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"> เครื่องพิมพ์</i> 
                            </li>
                        </ol>
                    </div>
                </div>



                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                            <tr>         
                                <th colspan="15"><center><div style="font-size: 16px">งานรอพิมพ์</div></center></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                <th>ลำดับ</th>                    
                                <th>ชื่อสินค้า</th>
                                <th>รายละเอียด</th>
                                <th>จำนวน</th>
                                <th>กำหนดส่ง</th>
                                <th>จำนวนใบ/ชุด</th>
                                <th>จำนวนแผ่นพิมพ์</th>
                                <th>รูปภาพ</th>
                                <th>เครื่อง</th>
                                <th>ผู้รับผิดชอบ</th>
                                <th>ตัวเลือก</th>

                            </tr>
                        </thead>

                        <tr >
                        <thead id="sortable-wait">
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="x in po_queue_wait "  id = "row_{{ x.id }}">
                          <div >
<!--                                 <td id = "indexrow" value="indexrow_{{ x.index_company }}">{{ x.index_company}}</td> -->

                                <td >{{ x.order_line -- 1}}</td>                         
                                <td >{{ x.product_name }}</td>
                                <td >{{ x.note }}</td>
                                <td >{{ x.total_paper }}</td>
                                <td >{{ x.due_date }}</td>
                                <td >{{ x.paper_per_set }}</td>
                                <td id="amount_{{x.id}}">{{ x.amount_current*x.paper_per_ream*x.cut_amount | number: 2}}</td>
                                <td><center><a ng-if="x.img_url" href="Upload/{{x.img_url}}" target="_blank"><img ng-src="Upload_thumbnail/{{x.img_url}}"></a></center></td>
                                <td>
                                <select class="form-control" id="machine_add_{{x.id}}"  ng-model="machine_add_[x.id]"  ng-change="changeMachine(x.id)">
                                             <option value='' hidden>Select</option>
                                              <option  ng-repeat="a in machine_list "value="{{a.id}} ">{{a.machine_name}}</option>
                                </select>
                                </td>
                                <td>
                                <select class="form-control" id="worker_add_{{x.id}}" ng-model="item_worker_[x.id]" ng-change="changeWorker(x.id)" disabled>
                                             <option value='' hidden>Select</option>
                                              <option ng-repeat="a in machine_worker_list | filter : {id_machine: machine_add_[x.id]}" value="{{a.id_worker}} ">{{a.user_name}}</option>
                                </select>
                                </td>

                                <td class="col-sm-1">
                                    <button class="btn btn-primary" id="submit-user" ng-click="split_work(x.id)">รับงาน</button>

                                </td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>
<br><br>
                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                            <tr>         
                                <th colspan="15"><center><div style="font-size: 16px">งานพิมพ์</div></center></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                <th>ลำดับ</th>                           
                                <th>ชื่อสินค้า</th>
                                <th>รายละเอียด</th>
                                <th>จำนวน</th>
                                <th>กำหนดส่ง</th>
                                <th>จำนวนใบ/ชุด</th>
                                <th>รูปภาพ</th>
                                <th>เครื่อง</th>
                                <th>ชื่อผู้รับผิดชอบ</th>
                                <th>จำนวนแผ่นพิมพ์</th>
                                <th>ตัวเลือก</th>

                            </tr>
                        </thead>

                        <tr >
                        <thead id="sortable">
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="x in po_queue " id = "row_{{ x.id }}">
                          <div >
<!--                                 <td id = "indexrow" value="indexrow_{{ x.index_company }}">{{ x.index_company}}</td> -->

                                <td>{{ x.order_line -- 1}}</td>                   
                                <td>{{ x.product_name }}</td>
                                <td >{{ x.note }}</td>
                                <td>{{ x.total_paper }}</td>
                                <td>{{ x.due_date }}</td>
                                <td >{{ x.paper_per_set }}</td>
                                <td><center><a ng-if="x.img_url" href="Upload/{{x.img_url}}" target="_blank"><img ng-src="Upload_thumbnail/{{x.img_url}}"></a></center></td>
                                <td>{{ x.machine_name }}</td>
                                <td>{{ x.user_name }}</td>
                                <td >{{ x.amount_split*x.paper_per_ream*x.cut_amount | number: 2}}</td>
                                <td style="width: 160px">
                                     
                                    <button class="btn btn-primary" id="submit-user_{{x.id}}" ng-click="finish_work(x.id)">เสร็จงาน</button>

                                </td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var postDataApp = angular.module('postDataApp', []);
        var app = angular.module('myApp', ['postDataApp']);
        
        postDataApp.controller('customersCtrl', ['$scope', '$http', function($scope,$http){

            parent.postMessage('0||Bill - เครื่องพิมพ์||#ffffff||ว่าง', '*');

            $scope.edit_id = 0;

                $( "#sortable-wait" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index(),1,0);
                        }

                    });
                $( "#sortable-wait" ).disableSelection();

                $( "#sortable" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index(),1,1);
                        }

                    });
                $( "#sortable" ).disableSelection();


           $scope.getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat($scope.getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }


            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    return false;
                }
                 
            }

           $scope.validateAccept = function(row_id){
            
                var text = '';
                var isPass = true;

                if(document.getElementById("machine_add_"+row_id).options[document.getElementById("machine_add_"+row_id).selectedIndex].value==''){
                    text = text.concat('เครื่องไม่ถูกต้อง ,');
                    isPass = false;
                }
                if(document.getElementById("worker_add_"+row_id).options[document.getElementById("worker_add_"+row_id).selectedIndex].value==''){
                    text = text.concat('ผู้รับผิดชอบไม่ถูกต้อง ');
                    isPass = false;
                }

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').text(text);
                    
                    return false;
                }else{
                    return true;
                }
           }

           $scope.validateFinish = function(row_id){
            
                var text = '';
                var isPass = true;
/*
                if(!stringIsNumber(document.getElementById('amount_'+row_id).value,"amount")||document.getElementById('amount_'+row_id).value==''){
                    text = text.concat('จำนวนผิดพลาด ');
                    isPass = false;
                }*/

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').text(text);
                    
                    return false;
                }else{
                    return true;
                }
           }

           $scope.openEdit = function(work_id,id_machine_get){
                $scope.massageEdit = '';
                $scope.edit_id = id_machine_get;
                $scope.work_id_edit = work_id;

           }

           $scope.saveEdit = function(){

            if(document.getElementById("worker_edit").options[document.getElementById("worker_edit").selectedIndex].value == ''){
                 $scope.massageEdit = 'ผู้รับผิดชอบไม่ถูกต้อง';
                 return 0;
             }

            var encodedString = 
                'edit_id='  + encodeURIComponent($scope.work_id_edit) + 
                '&line='  + encodeURIComponent($scope.thislinepage) +
                /*'&machine='  + encodeURIComponent(document.getElementById("machine_add_"+work_id).options[document.getElementById("machine_add_"+work_id).selectedIndex].value) +*/
                '&worker_id='  + encodeURIComponent(document.getElementById("worker_edit").options[document.getElementById("worker_edit").selectedIndex].value) +
                '&type='+ encodeURIComponent($scope.thistypepage);
                ;

                $http({
                method: 'POST',
                url: 'includes/global_post_edit_table_line.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                //console.log(values);
                console.log(data);
                if(data.trim() == 'correct'){
                  //alert('good');
                  $scope.getData();
                  $scope.edit_id = 0;
                  $('#myModal').modal('hide');
                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";

                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
           }


            $scope.split_work = function(work_id){

                if(!$scope.validateAccept(work_id)){
                    return false;
                }

                var encodedString = 
                'work_id='  + encodeURIComponent(work_id) + 
                '&line='  + encodeURIComponent($scope.thislinepage) +
                '&state='  + encodeURIComponent(1) +
                '&machine='  + encodeURIComponent(document.getElementById("machine_add_"+work_id).options[document.getElementById("machine_add_"+work_id).selectedIndex].value) +
                '&worker='  + encodeURIComponent(document.getElementById("worker_add_"+work_id).options[document.getElementById("worker_add_"+work_id).selectedIndex].value)+
                '&type='+ encodeURIComponent($scope.thistypepage);

                $http({
                method: 'POST',
                url: 'includes/global_post_submit_line_accept_to_split_flow.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                //console.log(values);
                console.log(data);
                if(data.trim() == work_id){
                  //alert('good');
                  //parent.postMessage('1||สำเร็จ||ส่งข้อมูล ' +  ($scope.getObjects( $scope.po_queue_wait,'id',work_id))[0].product_name + ' ไปยังงานผลิตเรียบร้อย', '*');
                  //$scope.getData();
                  $scope.accept_work(work_id);

                }
                else{
                  alert(data.trim()+" fail");
                  $scope.errorMsg = "Add fail";

                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }


            $scope.accept_work = function(work_id){

                if(!$scope.validateAccept(work_id)){
                    return false;
                }

                var x = $scope.getObjects( $scope.po_queue_wait,'id',work_id)[0];

                var encodedString = 
                'work_id='  + encodeURIComponent(work_id) + 
                '&field_save='  + encodeURIComponent('amount_cut') +
                '&amount='  + encodeURIComponent(x.amount_current*x.paper_per_ream*x.cut_amount) + 
                '&thisline='  + encodeURIComponent($scope.thislinepage)+
                '&type='+ encodeURIComponent($scope.thistypepage) + 
                '&isOneTable='+ encodeURIComponent(true);

                $http({
                method: 'POST',
                url: 'includes/global_post_submit_line_finish.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                //console.log(values);
                console.log(data);
                if(data.trim() == work_id){
                  //alert('good');
                  parent.postMessage('1||สำเร็จ||จบงาน ' +  ($scope.getObjects( $scope.po_queue_wait,'id',work_id))[0].product_name + ' เรียบร้อย', '*');
                  $scope.getData();

                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";

                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }


            $scope.finish_work = function(work_id){

               /* if(!$scope.validateFinish(work_id)){
                    return false;
                }*/
                //alert($scope.getObjects( $scope.po_queue,'id',work_id)[0].id_split);
                var encodedString = 
                'id_split=' + encodeURIComponent($scope.getObjects( $scope.po_queue,'id',work_id)[0].id_split )  + 
                '&work_id='  + encodeURIComponent(work_id) + 
                //'&field_save='  + encodeURIComponent('amount_cut') +
                //'&amount='  + encodeURIComponent(document.getElementById('amount_'+work_id).value) + 
                '&line='  + encodeURIComponent($scope.thislinepage)+
                '&state='  + encodeURIComponent(1)+
                '&type='+ encodeURIComponent($scope.thistypepage);

                $http({
                method: 'POST',
                url: 'includes/global_post_submit_line_accept_end_split_flow.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){

                console.log(data);
                if(data.trim() == work_id){
                  parent.postMessage('1||สำเร็จ||ส่งข้อมูล ' + ($scope.getObjects( $scope.po_queue,'id',work_id))[0].product_name + ' ไปยังไลน์งานผลิตถัดไปเรียบร้อย', '*');
                  $scope.getData();
                }
                else{
                 
                  console.log(data.trim()+"fail");
                    alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }

            function indexSwap(from_index,to_index,line,state){
                //alert(from_index+ to_index );
                //var temp = lineget.split(',');
                var encodedString = 
                'from_index='  + encodeURIComponent(from_index) + 
                '&to_index='  + encodeURIComponent(to_index) + 
                '&line=' + encodeURIComponent($scope.thislinepage) +
                '&state=' + encodeURIComponent(state) +
                '&type=' + encodeURIComponent($scope.thistypepage);
                //alert(from_index+"test"+to_index+'-'+line+state);
              $http({
                method: 'POST',
                url: 'includes/global_index_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){

                  $scope.getData();
                }
                else{
                  alert('Error'+data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };


            $scope.thistypepage = 3;
            $scope.thislinepage = 2;
            $scope.thismachine = 3;

            $scope.getMachineID = function(){
                $scope.machine_list = [];
                $http.get('includes/get_machine.php?machine_type='+$scope.thistypepage+'&machine_work='+$scope.thislinepage).then(function(response) 
                {
                    $scope.machine_list = $.map(response.data, function(el) { return el });
                    
                });
            }


            $scope.changeMachine = function(row_id){

                document.getElementById("worker_add_"+row_id).disabled = false;

            }

            $scope.changeWorker = function(row_id){

                document.getElementById("machine_add_"+row_id).disabled = true;
            }


            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            lineget = $scope.gup('line', window.location.search);
            
            $scope.getMachine = function (){
                $scope.machine_list = [];
                $http.get('includes/get_machine.php?machine_type='+$scope.thistypepage+'&machine_work='+$scope.thislinepage).then(function(response) 
                {
                    $scope.machine_list = $.map(response.data, function(el) { return el });
                    
                });
            }

            $scope.getMachineWorker = function (){
                $scope.machine_worker_list = [];
                $http.get('includes/get_machine_worker.php?machine_type='+$scope.thistypepage+'&machine_work='+$scope.thislinepage).then(function(response) 
                {
                    $scope.machine_worker_list = $.map(response.data, function(el) { return el });
                });
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $scope.po_queue_wait = [];
                $http.get('includes/global_get_table_line.php?line='+$scope.thislinepage+'&state=0&type='+$scope.thistypepage).then(function(response) 
                {
                    $scope.po_queue_wait = $.map(response.data, function(el) { return el });
                    console.log($scope.po_queue_wait)
                });
                $http.get('includes/global_get_table_line_split.php?line='+$scope.thislinepage+'&state=1&type='+$scope.thistypepage).then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el });
                    console.log($scope.po_queue)
                });
            }

            $scope.getData();
            $scope.getMachine();
            $scope.getMachineWorker();

      }]);

    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
