<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">
    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='PostController'>

    <div id="wrapper">

<!--  <button type="" onclick="$('#machine_add_1 option[value=1]').attr('selected','selected');">aaa</button>
<button type="" onclick="$('#machine_add_19').val('1').change()">bbb</button>
<button  ng-model="aaa" type="" ng-click="setCompany()">ccc</button> -->
                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 15%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="alertModalLabel">ผิดพลาด</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body" id="textAlert">
                        test
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>


        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-archive"></i> Bill</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> การจัดส่ง</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"> รอจัดส่ง</i> 
                            </li>
                        </ol>
                    </div>
                </div>

          


                <div class="table-responsive" >
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->

                            </tr>
                        </thead>

                    </table>
                <div class="container-fluid">



                  <div>

                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
<!--                                 <th></th> -->
                                <th>ชื่อลูกค้า</th>
                                <th>เลขที่ PO</th>
                                <th>วันที่ใน PO</th>
                                <th>กำหนดส่ง</th>
                                <th>หมวดสินค้า</th>
                                <th>ชื่อสินค้า</th>
                                <th>จำนวนผลิต </th>
                                <th>วันที่จัดส่ง</th>
                                <th>จำนวนส่งจริง</th>
                                <th>รถจัดส่ง</th>
                                <th>ช่วงเวลา</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue">
<!--                                 <td> 
    <input type="checkbox" class="companycheck" id="checkbox_{{ x.id }}" value="{{ x.id}}"><br>
</td> -->
                                <td id = "company_{{ x.id }}">
                                    <select class="form-control" ng-options="x.company_name for x in company_list track by x.company_id" id="machine_add_{{x.id}}"  ng-model="machine_add_[x.id]" my-post-repeat-directive>
                                   <option value="" ng-hide="1"></option>
                                    <!-- <option value="{{x.company_id}}" selected="selected">{{x.company_name}}</option> -->
                                     </select>
                                </td>
                                <td id = "po_id_{{ x.id }}">{{ x.po_id }}</td>
                                <td id = "recieve_date_{{ x.id }}">{{ x.recieve_date }}</td>
                                <td id = "due_date_{{ x.id }}">{{ x.due_date }}</td>
                                <td id = "product_type_{{ x.id }}">{{ x.product_type_name }}</td>
                                <td id = "product_id_{{ x.id }}">{{ x.product_name }}</td>
                                <td id = "total_paper_{{ x.id }}">{{ x.amount_current }}</td>
                                <td id = >{{ date | date:'yyyy-MM-dd' }} </td>
                                <td>
                                 <input id = "amount_{{x.id}}" type="text"  size="1" class="form-control"/>
                                </td>
                                <td class="col-sm-1">
                                  <select class="form-control" id="car_{{x.id}}"   ng-model="item">
                                      <option value=""  hidden>Select</option>
                                      <option  ng-repeat="x in car_list "value="{{x.car_id}} ">{{x.car_name}}</option>
                                  </select>
                                </td>
                                <td width="180px">
                                    <center>
                                      <button class="btn btn-primary" ng-click="submitTime(x.id,1)">ช่วงเช้า</button>
                                      <button class="btn btn-primary" ng-click="submitTime(x.id,2)">ช่วงบ่าย</button>
                                    </center>
                                </td>
                        </tr>
                      </tbody>
                    </table>


                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var postDataApp = angular.module('postDataApp', ['ui.bootstrap', 'ngResource']);
        var app = angular.module('myApp', ['postDataApp'])
        .directive('myPostRepeatDirective', ['$timeout',function($timeout) {
          return function(scope, element, attrs) {  
            if (scope.$last){
              //alert();
                $timeout(function () {
                    scope.$emit('ngRepeatFinished');
                });
              //console.log(document.getElementById('row_18'));
              //$('#row_18').addClass('active').siblings().removeClass('active');
            }
          };
        }]);

        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;

        postDataApp.controller('PostController', ['$scope', '$http','$compile','filterFilter','$filter', function($scope,$http,$compile,filterFilter,$filter){

          parent.postMessage('0||Bill - รอจัดส่ง||#ffffff||ว่าง', '*');

            $scope.thistypepage = 3;
            $scope.thislinepage = -1;

            $scope.$on('ngRepeatFinished', function(ngRepeatFinishedEvent) {
                 $scope.setCompany();
            });   

            $scope.setCompany = function(){
                for(var i = 0;i < $scope.po_queue.length; i++){
                        //alert("machine_add_"+$scope.po_queue[i].id +'' + $scope.po_queue[i].company_id);
                        //document.getElementById("machine_add_"+$scope.po_queue[i].id).value = '2';
                        $("#machine_add_"+$scope.po_queue[i].id).val($scope.po_queue[i].company_id);
                        //$
            }
        }

           $scope.validate = function(row_id){
            
                var text = '';
                var isPass = true;

                if(!stringIsNumber(document.getElementById('amount_'+row_id).value,"amount")||document.getElementById('amount_'+row_id).value==''){
                    text = text.concat('จำนวนส่งจริงผิดพลาด ');
                    isPass = false;
                }
                if(document.getElementById("car_"+row_id).options[document.getElementById("car_"+row_id).selectedIndex].value==''){
                    text = text.concat('รถไม่ถูกต้อง ');
                    isPass = false;
                }

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').text(text);
                    
                    return false;
                }else{
                    return true;
                }
           }


            $scope.submitTime = function(id_submit,timeget){
//alert(id_submit + timeget +document.getElementById("car_"+id_submit).options[document.getElementById("car_"+id_submit).selectedIndex].value);
                if(!$scope.validate(id_submit)){
                    return false;
                }

                var encodedString = 
                'id='  + encodeURIComponent(id_submit) + 
                '&amount=' + encodeURIComponent(document.getElementById("amount_"+id_submit).value) + 
                '&car='  + encodeURIComponent(document.getElementById("car_"+id_submit).options[document.getElementById("car_"+id_submit).selectedIndex].value) + 
                '&time='  + encodeURIComponent(timeget) +
                '&type=' + encodeURIComponent($scope.thistypepage) + 
                '&company_id=' + encodeURIComponent(document.getElementById("machine_add_"+id_submit).value);

                //alert(document.getElementById("machine_add_"+id_submit).value);
                //return 0;

                $http({
                method: 'POST',
                url: 'includes/global_post_submit_car_time_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(id_submit);
                console.log(data);
                if(data.trim() == id_submit){
                  //alert('ok');
                  parent.postMessage('1||สำเร็จ||ส่งข้อมูลเข้าระบบการส่งเรียบร้อย', '*');
                  $scope.getData();
                }
                else{
                  alert(data.trim());
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                alert('error');
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }
            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    return false;
                }
                 
            }

            

              var dialog, dialog_delete, form, indexGet, newID


              tips = $( ".validateTips" );
         
            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    messageShow = messageShow + n + " must be number.<br>"; 
                    isPass = false;
                    return false;
                }
                 
            }
         
            function checkLength( o, n, min, max ) {
              if ( o.length > max || o.length < min ) {
                messageShow = messageShow + "Length of " + n + " must be between " + min + " and " + max + ".<br>" ;
                isPass = false;
                return false;
              } else {
                return true;
              }
            }
         
            function isBlank(valueget){
                if(valueget === ''){
                    //dialog_message.dialog("open");
                    //alert('aaa');
                    messageShow = ""
                    return true;
                }
                else{
                    //alert('bbb');
                    return false;
                }
            }

            function isDate(d,n){
                var timestamp = Date.parse(d)
                if (isNaN(d) == false)
                {
                    messageShow = messageShow + "Invalid " + n + ".<br>";
                    isPass = false;
                }
            }

            function checkMainAdd(){
                isPass = true;//alert('aaa');
                checkLength( document.getElementById("company_add_0").value, 'company', 3, 20 );
                checkLength( document.getElementById("po_id_add_0").value, 'po_id', 1, 5 );
                isDate(document.getElementById("recieve_date_add_0").value,'recieve_date');
                isDate(document.getElementById("due_date_add_0").value,'due_date');

                if(!isPass){
                    document.getElementById("dialogMessage").innerHTML  =  messageShow;
                    dialog_message.dialog("open");
                    //alert(isPass);
                    return false;
                }
                else{
                    //alert('bbb');
                    return true;
                }

            }

            this.add_row = function () {  

                add_count += 1;

                listadd.push(add_count);
                //alert(listadd);
                var max_fields      = 10; //maximum input boxes allowed
                var wrapper         = document.getElementById("input_fields_wrap"); //Fields wrapper
                //var add_button      = $(".add_field_button"); //Add button ID
                
                //var x = 1; //initlal text box count
                var text = replaceAll($scope.text,"|number|", add_count);
                $(wrapper).before($compile( text )($scope));
                            

                $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                    e.preventDefault(); $(this).parent('div').remove(); x--;
                })
            }


          
          $scope.currentPage = 1;
          $scope.numPerPage = 10;
          $scope.columnToOrder = '';

          $scope.paginate = function(value) {
          $scope.totalItems = $scope.po_queue.length;
            var begin, end, index;
            begin = ($scope.currentPage - 1) * $scope.numPerPage;
            end = begin + $scope.numPerPage;
            index = $scope.po_queue.indexOf(value);
            return (begin <= index && index < end);
          };

          $scope.searchChange = function() {
                $scope.po_queue = filterFilter($scope.first_po_queue, document.getElementById("serachinput").value);  
                $scope.paginate($scope.po_queue);
                $scope.sort($scope.columnToOrder);
                //alert($scope.po_queue.length);
          };

          $scope.sort = function (sortBy) {
                //$scope.resetAll();

                $scope.columnToOrder = sortBy;
                $scope.po_queue = $filter('orderBy')($scope.po_queue, $scope.columnToOrder, $scope.reverseSort);
                $scope.reverse = !$scope.reverse;
                
            };



            $scope.date = new Date();
            $scope.getCarlistALL = function (){
                $scope.car_list = [];
                $http.get('includes/get_table_car.php').then(function(response) 
                {
                    $scope.car_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.car_list)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }

/*            $scope.getProductlist = function (num){
                for(var i = 0;i<listadd.length;i++){
                    var  objecttemp = getObjects($scope.company_list,'name',document.getElementById("company_add_0").value );
                    console.log(objecttemp.length);
                    //alert("company_add_"+num);
                    if(objecttemp.length>0){
                            $temp_product = getObjects($scope.product_list_all,'company_id',objecttemp[0].company_id );
                            $scope.product_list = getObjects($temp_product,'category',document.getElementById("product_type_add_"+listadd[i]).options[document.getElementById("product_type_add_"+listadd[i]).selectedIndex].value );//console.log($scope.product_list);
                            //var  objecttemp = getObjects($scope.company_list,'name',document.getElementById("company_add").value );
                            //console.log(objecttemp.length);

                                document.getElementById("product_id_add_"+listadd[i]).value='';
                                if($scope.product_list.length>0){
                                    document.getElementById("product_id_add_"+listadd[i]).disabled = false;
                                }else{
                                    document.getElementById("product_id_add_"+listadd[i]).disabled = true;
                                }
                                console.log($scope.product_list);
                                //alert("test");
                    }
                    else{
                        document.getElementById("product_id_add_"+listadd[i]).disabled = true;
                    }
                }
            }*/
            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                    $scope.getData();
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.company_list)
                });
            }


            $scope.setProductData = function (num){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+num).value );
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    document.getElementById("product_line_add_"+num).value = objecttemp[0].product_line;
                }
                else{
                    document.getElementById("product_line_add_"+num).value = '';
                }
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/global_get_table_line.php?line='+$scope.thislinepage+'&state=0&type='+$scope.thistypepage).then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el });
                    $scope.getCarlistALL();
                    console.log($scope.po_queue);
                    //alert($scope.machine_add_1);
                    //$scope.machine_add_1 = 2;


                });
            }

            
            $scope.getCompanylistALL();


          }]);





/*
         $( function() {
        

/*        $( "#target" ).click(function() {
          event.preventDefault();
          addUser();
        });*/

       /* var dialog, form,
     
          // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
          emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          company = $( "#company" ),
          po_id = $( "#po_id" ),
          recieve_date = $( "#recieve_date" ),
          due_date = $( "#due_date" ),
          product_id = $( "#product_id" ),
          product_line = $( "#product_line" ),
          line_step = $( "#line_step" ),
          total_paper = $( "#total_paper" ),
          total_price = $( "#total_price" ),
          allFields = $( [] ).add( company ).add( po_id ).add( recieve_date ).add( due_date ).add( product_id ).add( product_line ).add( line_step ).add( total_paper ).add( total_price ),
          tips = $( ".validateTips" );
     
        function updateTips( t ) {
          tips
            .text( t )
            .addClass( "ui-state-highlight" );
          setTimeout(function() {
            tips.removeClass( "ui-state-highlight", 1500 );
          }, 500 );
        }
     
        function checkLength( o, n, min, max ) {
          if ( o.val().length > max || o.val().length < min ) {
            o.addClass( "ui-state-error" );
            updateTips( "Length of " + n + " must be between " +
              min + " and " + max + "." );
            return false;
          } else {
            return true;
          }
        }
     
        function checkRegexp( o, regexp, n ) {
          if ( !( regexp.test( o.val() ) ) ) {
            o.addClass( "ui-state-error" );
            updateTips( n );
            return false;
          } else {
            return true;
          }
        }
     
        function addUser() 
        {
            var valid = true;
            allFields.removeClass( "ui-state-error" );
         
              // valid = valid && checkLength( name, "username", 3, 16 );
              // valid = valid && checkLength( email, "email", 6, 80 );
              // valid = valid && checkLength( password, "password", 5, 16 );
         
              // valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
              // valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
              // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
            var add_json = 
            {
                "company":company.val(),
                "po_id":po_id.val(),
                "recieve_date":recieve_date.val(),
                "due_date":due_date.val(),
                "product_id":product_id.val(),
                "product_line":product_line.val(),
                "line_step":line_step.val(),
                "total_paper":total_paper.val(),
                "total_price":total_price.val()
            }
            console.log(add_json)
            if ( valid ) {
                $( "#sortable tr:last"  ).after( "<tr>" +
                "<td>" + "yoyo" + "</td>" +
                "<td>" + company.val() + "</td>" +
                "<td>" + po_id.val() + "</td>" +
                "<td>" + recieve_date.val() + "</td>" +
                "<td>" + due_date.val() + "</td>" +
                "<td>" + product_id.val() + "</td>" +
                "<td>" + product_line.val() + "</td>" +
                "<td>" + line_step.val() + "</td>" +
                "<td>" + total_paper.val() + "</td>" +
                "<td>" + total_price.val() + "</td>" +
                "</tr>" );
                dialog.dialog( "close" );

            }
          return valid;
        }


        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Create an account": addUser,
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
            allFields.removeClass( "ui-state-error" );
          }
        });
     
        form = dialog.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          addUser();
        });

        
     
        $( "#create-user" ).button().on( "click", function() {
          dialog.dialog( "open" );
        });
      } );*/
    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>


/*            var max_fields      = 10; //maximum input boxes allowed
            var wrapper         = document.getElementById("input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID
            
            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                    x++; //text box increment
                    var file = new XMLHttpRequest();
                    file.open("GET", "text/po_queue_add.txt", false);
                    file.onreadystatechange = function() {
                      //if (file.readyState === 4) {  // Makes sure the document is ready to parse
                        //if (file.status === 200) {  // Makes sure it's found the file
                        
                        var text = file.responseText;alert(text);
                        $(wrapper).after(text);
                        
                          //$(wrapper).after('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>');
                        //}
                      //}
                    }
                     //add input box
                }
            });
            
            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })*/



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
