<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

<br><br>


                <div class="container-fluid">

                    <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                     <thead>
                            <tr>         
                                <th colspan="12"><center><div style="font-size: 16px">งานในกระบวนการผลิต</div></center></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                <th>ชนิดงาน</th>                    
                                <th>เลขที่ PO </th>
                                <th>วันที่ใน PO</th>
                                <th>กำหนดส่ง</th>
                                <th>หมวดสินค้า</th>
                                <th>ชื่อสินค้า</th>
                                <th>จำนวน</th>
                                <th>ขั้นตอนปัจจุบัน</th>
                                <th>สถานะ</th>

                            </tr>
                        </thead>

                        <tr >
                        <thead id="sortable-wait">
                          <tr ng-repeat="x in po_queue "  id = "row_{{ x.id }}">
                          <div >
                                <td>{{ x.type_name }}</td>
                                <td>{{ x.po_id }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.due_date }}</td>
                                <td>{{ x.product_type_name }}</td>
                                <td>{{ x.product_name }}</td>
                                <td>{{ x.total_paper }}</td>
                                <td>{{ x.line_name }}</td>
                                <td>{{ x.state_name }}</td>
                        
                        </tr>
                        
                    </table>

                 
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var postDataApp = angular.module('postDataApp', ['ui.bootstrap', 'ngResource']);
        var app = angular.module('myApp', ['getDataApp', 'postDataApp']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;

        postDataApp.controller('PostController', ['$scope', '$http','$compile','filterFilter','$filter', function($scope,$http,$compile,filterFilter,$filter){




          parent.postMessage('0||Company - งานในกระบวนการผลิต||#ffffff||ว่าง', '*');

          
        


          }]);


        getDataApp.controller('customersCtrl', function($scope, $http) 
        {

         

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/global_company_work.php?line=1').then(function(response) 
                {
                    $scope.first_po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.po_queue = $scope.first_po_queue;
                    
                   
                });

                $scope.company = [];
                $http.get('includes/session_get_company.php?').then(function(response) 
                {
                    $scope.company = $.map(response.data, function(el) { return el ;});
                    $scope.company_name = $scope.company[0].company_name;
                    parent.postMessage('0||'+$scope.company_name+' - งานในกระบวนการผลิต||#ffffff||ว่าง', '*');
                    console.log($scope.company);
                });

            }

            $scope.getData();


        });

    </script>

  <script>


    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
