<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

<br><br>


                <div class="container-fluid">

                 <div class="table-responsive">


                    <table class="table table-striped table-hover table-bordered">
                      <thead><tr>         
                                <th colspan="12"><center><div style="font-size: 16px">งานที่จบกระบวนการ</div></center></th>
                            </tr>
                        <tr>
<!--                                 <th></th> -->
                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a  ng-click="orderByField='company_name'; reverseSort = !reverseSort;sort('company_name');">
                                          ชนิดงาน 
                                          <span ng-show="orderByField == 'company_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a  ng-click="orderByField='po_id'; reverseSort = !reverseSort;sort('po_id');">
                                          เลขที่ PO 
                                          <span ng-show="orderByField == 'po_id'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a ng-click="orderByField='recieve_date'; reverseSort = !reverseSort;sort('recieve_date');">
                                          วันที่ใน PO 
                                          <span ng-show="orderByField == 'recieve_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a ng-click="orderByField='due_date'; reverseSort = !reverseSort;sort('due_date');">
                                          กำหนดส่ง 
                                          <span ng-show="orderByField == 'due_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a ng-click="orderByField='product_type_name'; reverseSort = !reverseSort;sort('product_type_name');">
                                          หมวดสินค้า 
                                          <span ng-show="orderByField == 'product_type_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a ng-click="orderByField='product_name'; reverseSort = !reverseSort;sort('product_name');">
                                          ชื่อสินค้า 
                                          <span ng-show="orderByField == 'product_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>


                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a ng-click="orderByField='amount_current'; reverseSort = !reverseSort ;sort('amount_current');">
                                          จำนวนส่ง 
                                          <span ng-show="orderByField == 'amount_current'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

<!--                                 <th style="padding: 0px"> <ul class="nav"> <li >
          <a href="#" ng-click="orderByField = 'total_price' ;reverseSort = !reverseSort; sort('total_price'); ">
          Total_price 
          <span ng-show="orderByField == 'total_price'">
          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
</li></a></ul></th> -->

                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue_send | orderBy: orderByField:reverseSort | filter:query | filter : paginate ">
<!--                                 <td> 
    <input type="checkbox" class="companycheck" id="checkbox_{{ x.id }}" value="{{ x.id}}"><br>
</td> -->
                                <td>{{ x.type_name }}</td>
                                <td>{{ x.po_id }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.due_date }}</td>
                                <td>{{ x.product_type_name }}</td>
                                <td>{{ x.product_name }}</td>
                                <td>{{ x.amount_current }}</td>

                        </tr>
                      </tbody>
                    </table>
            <div class="row" >
                <div class="col-sm-12 col-md-6" >
                    <pagination total-items="totalItems" ng-model="currentPage"
                      max-size="5" boundary-links="true"
                      items-per-page="numPerPage" class="pagination-sm">
                    </pagination>
                  </div> 
<!--                 <div class="col-sm-12 col-md-6" >
    <div class="form-group" align="right" style="margin:20px" ng-controller="PostController">  

           <button class = " btn btn-primary"id="buttonSubnit" ng-click="submitQueue()">Submit</button> 

      <br>
    </div>
</div> -->
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var postDataApp = angular.module('postDataApp', ['ui.bootstrap', 'ngResource']);
        var app = angular.module('myApp', ['getDataApp', 'postDataApp']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;

        postDataApp.controller('PostController', ['$scope', '$http','$compile','filterFilter','$filter', function($scope,$http,$compile,filterFilter,$filter){




          parent.postMessage('0||Company - รายละเอียดงาน||#ffffff||ว่าง', '*');

          
          $scope.currentPage = 1;
          $scope.numPerPage = 10;
          $scope.columnToOrder = '';

          $scope.paginate = function(value) {
          $scope.totalItems = $scope.po_queue_send.length;
            var begin, end, index;
            begin = ($scope.currentPage - 1) * $scope.numPerPage;
            end = begin + $scope.numPerPage;
            index = $scope.po_queue_send.indexOf(value);
            return (begin <= index && index < end);
          };

          $scope.searchChange = function() {
                $scope.po_queue = filterFilter($scope.first_po_queue, document.getElementById("serachinput").value);  
                $scope.paginate($scope.po_queue);
                $scope.sort($scope.columnToOrder);
                //alert($scope.po_queue.length);
          };

          $scope.sort = function (sortBy) {
                //$scope.resetAll();

                $scope.columnToOrder = sortBy;
                $scope.po_queue = $filter('orderBy')($scope.po_queue, $scope.columnToOrder, $scope.reverseSort);
                $scope.reverse = !$scope.reverse;
                
            };


          }]);


        getDataApp.controller('customersCtrl', function($scope, $http) 
        {

         

            $scope.getData = function (){
              
                $scope.po_queue_send = [];
                $http.get('includes/global_company_work_send.php?').then(function(response) 
                {
                    $scope.po_queue_send = $.map(response.data, function(el) { return el ;});
                     //console.log($scope.po_queue_send);
                });

                $scope.company = [];
                $http.get('includes/session_get_company.php?').then(function(response) 
                {
                    $scope.company = $.map(response.data, function(el) { return el ;});
                    $scope.company_name = $scope.company[0].company_name;
                    parent.postMessage('0||'+$scope.company_name+' - งานในกระบวนการผลิต||#ffffff||ว่าง', '*');
                    console.log($scope.company);
                });

            }
            //alert('aaababa');
            $scope.getData();



        });

    </script>

  <script>


    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
