<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

    <script src="js/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"  type="text/javascript"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/animate.css">



</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.cal_part{
    display: none;
}
.pro_part{
    display: none;
}
.right-bottom{
  position: inherit;
right: 0px;
bottom: 0px;
}
.row .no-float {
  display: table-cell;
  float: none;
}
.hide-scroll {
    overflow: hidden;
}

.viewport {
    overflow: auto;
    max-height: 500px;
    margin-right: -100px;
    padding-right: 100px;

}
#textAlert{
  color: red;
}
</style>
<body ng-app='myApp' ng-controller='PostController'>



    <div id="wrapper">

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style=" ;width: 75% ;margin:auto;margin-top: 5%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>  
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" >
                    <div class="row">
                      <div class="col-sm-12 col-lg-8">
                          <div  class="row">
                              <div  class="col-sm-12 col-lg-6">
                                 <div   class="form-group">
                                     <label>ชื่อลูกค้า</label>
                                     <input type="text" ng-model="company_dialog"  list="searchCompanyList" class="form-control" ng-change="filter_group_product()">
                                      <datalist id="searchCompanyList" name="searchList" autocomplete="off">
                                           <option ng-repeat="x in company_list ">{{ x.company_name }}</option>
                                      </datalist>
                                  </div>
                              </div>
                              <div  class="col-sm-10 col-lg-4">
                                <div class="form-group">
                                  <label>หมวดสินค้า</label>
                                    <select class="form-control" id="product_type_add_0"   ng-model="product_type_dialog" ng-change="getProductlist(0);ProductStringToID(0);Pass('product_type_add_0')" disabled>
                                          <option value='' hidden>Select</option>
                                          <option  ng-repeat="x in product_group_list "value="{{x.id}} ">{{x.ddl_name}}</option>
                                </select>
                              </div>
                              <div ng-if="errorGroup">
                                  <br>
                                  <p style="font-size: 10px;color: red">{{errorGroup}}</p>
                              </div>
                            </div>
                            <div class="col-sm-1 col-lg-1">
                              <div class="form-group">
                               <label><center>เพิ่ม</center></label>
                                   <button type="button" id="btnAddGroup" class="btn btn-success" data-toggle="modal" data-target="#addGroupModal" disabled>+</button>
                              </div>
                            </div>
                            <div class="col-sm-1 col-lg-1">
                              <div class="form-group">
                               <label><center>ลบ</center></label>
                                   <button type="button" id="btnDeleteGroup" class="btn btn-danger" ng-click="postDeleteProductGroup()">x</button>
                              </div>
                            </div>


                          </div>
                          <div  class="row">
                              <div  class="col-sm-12 col-lg-12">
                                 <div   class="form-group">
                                     <label>ชื่อสินค้า</label>
                                     <input type="text" ng-model="product_name_dialog"  class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div  class="row">
                              <div  class="col-sm-12 col-lg-6">
                                 <div   class="form-group">
                                     <label>รายละเอียด</label>
                                     <input type="text" ng-model="detail_dialog"  class="form-control">
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                     <label>ขนาด</label>
                                     <input type="text"  ng-model="size_dialog"  class="form-control">
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                   <label>ชนิดกระดาษ</label>
                                    <input type="text" ng-model="paper_type_dialog"  class="form-control">
                                 </div>
                              </div>
                          </div>
 
                          <div  class="row">


                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                     <label>ความหนา</label>
                                     <input type="text"  ng-model="thickness_dialog"  class="form-control">
                                  </div>
                              </div>
                            <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                   <label>จำนวนสี</label>
                                    <input type="text" ng-model="color_dialog"  class="form-control">
                                 </div>
                              </div>
                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                     <label>งานปะ</label>
                                     <input type="text"  ng-model="mache_dialog"  class="form-control">
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                   <label>ขนาดกระดาษ</label>
                                    <input type="text" ng-model="size_paper_dialog"  class="form-control">
                                 </div>
                              </div>
                          </div>
                          <div  class="row">

                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                                     <label>จำนวนกล่อง/แผ่น</label>
                                     <input type="text"  ng-model="box_per_paper_dialog"  class="form-control">
                                  </div>
                              </div>
                            <div  class="col-sm-12 col-lg-9">
                                 <div   class="form-group">
                                   <label>หมายเหตุ</label>
                                    <input type="text" ng-model="note_2_dialog"  class="form-control">
                                 </div>
                              </div>
                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                             <!--         <label>ขนาดคำนวณ(ตัด)</label>
                             <input type="text"  ng-model="cut_amount_dialog"  class="form-control"> -->
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-lg-3">
                                 <div   class="form-group">
                       <!--               <label>จำนวนงาน/แผ่นพิมพ์</label>
                       <input type="text"  ng-model="work_per_print_dialog"  class="form-control"> -->
                                  </div>
                              </div>
                          </div>

                    </div>
                    <div class="col-sm-12 col-lg-4">
                     <div style="margin-left: 25px;">
                      <form  name="form">
                        รูปภาพ
                        <input type="file" id="btn_upload" class="button" ngf-select ng-model="file_0" name="file_0" ngf-pattern="'image/*'"
                          ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" 
                          ngf-resize="{width: 1920, height: 1920}" ng-click="unupload(0)"></input>
                          <br><center><img width="55%" ngf-src="file_0 || 'src/nopic.jpg'"></center><br>
                          <button class="btn btn-danger" id="upload_button_0" ng-click="upload(0);" toggle-class="btn btn-primary" disabled>อับโหลด</button>
                          <span class="form-group" id="upload_status_0" >No Upload</span>
                      </form>
                      <br>
                    </div>
                    </div>
                  </div>
                  <div  class="row">
                      <div  class="col-sm-12 col-lg-3">
                          <div   class="form-group">
                              <label>ขั้นตอนการผลิต</label>
                              <input type="text"  ng-model="line_dialog"  class="form-control" disabled>
                          </div>
                      </div>
                      <div class="col-lg-12" data-toggle="buttons" >
                           <label class="btn btn-primary" ng-repeat="x in product_type_list | filter:{ id_group : '!-1' } | filter: { id_type : thistype }" id="buttonCheck_{{x.id_group}}" ng-click="sortGroup(x.id_group,x.id)" style="width: 120px;margin-right: 10px;margin-top: 10px;" >
                              <input type="checkbox" id="checkbox_{{x.id}}" autocomplete="off"  > {{x.ddl_name}}
                            </label>
                        </div>
                   </div>
    
                        <br>
                        <div id="textAlert">
                          {{messageAdd}}
                        </div>
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="postProductForm()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="padding-left: 30px;">
                            คุณต้องการลบ {{product_delete}} หรือไม่?
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-danger"  ng-click="postDeleteProductForm()">ลบ</button>
                      </div>
                    </div>
                  </div>
                </div>
        <!-- Navigation -->
        
              <div class="modal fade" id="addGroupModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">เพิ่มหมวดสินค้า</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="margin-left: 30px;margin-right: 3px;">
                                 <div   class="form-group">
                                     <label>หมวดสินค้า</label>
                                     <input type="text" ng-model="product_group_dialog"  class="form-control">
                                  </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="postProductGroup()">เพิ่ม</button>
                      </div>
                    </div>
                  </div>
                </div>


        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-archive"></i> ลูกฟูก</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> รายชื่อสินค้า
                            </li>
                        </ol>
                    </div>
                </div>


                <div class="table-responsive" >
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>

                            </tr>
                        </thead>

                    </table>
                <div class="container-fluid">



                  <div>
                    Search
                    <div class="row">
                        <div class="form-group">  
                       <input type="text" id="serachinput" name="searchCompany" list="searchCompanyList" class="form-control" style="width: 300px" ng-model="query['$']" ng-change="searchChange();showcol($save_state_col);"><br>
                       <div class="col-sm-6 col-lg-6" style="padding-left: 0px">
                          <button class="btn btn-primary" onclick="showcol(1)">รายละเอียดสินค้า</button>
                          <button class="btn btn-primary" onclick="showcol(2)">ส่วนคำนวณ</button>
                          <button class="btn btn-primary" onclick="showcol(3)">ขั้นตอนการผลิต</button><br>
                        </div>
                     <div class="col-sm-6 col-lg-6 " align="right" style="padding-right: 0px">
                        <div class="form-group">  
                       <button class = " btn btn-success" id="buttonDialogAdd"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(0);">เพิ่มรายชื่อชื่อสินค้า</button> 
                       </div>
                     </div>
                    </div>

                    <br>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                                <th style="padding: 0px; width: 95px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_id'; reverseSort = !reverseSort;sort('company_id');">
                                          รหัสสินค้า
                                          <span ng-show="orderByField == 'company_id'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          ชื่อลูกค้า
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>
                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          หมวดสินค้า
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>
                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_name'; reverseSort = !reverseSort;sort('company_name');">
                                          ชื่อสินค้า
                                          <span ng-show="orderByField == 'company_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          รายละเอียด
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          ชนิดกระดาษ
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          ความหนา
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          จำนวนสี
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          งานปะ
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="info_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          รูปภาพ
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="cal_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          ชนิดกระดาษ
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="cal_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          ขนาดกระดาษ
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="cal_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          จำนวนกล่อง/แผ่น
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="cal_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_address1'; reverseSort = !reverseSort;sort('company_address1');">
                                          หมายเหตุ
                                          <span ng-show="orderByField == 'company_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_1'; reverseSort = !reverseSort;sort('product_line_name_1');">
                                          ขั้นตอนที่ 1
                                          <span ng-show="orderByField == 'product_line_name_1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_2'; reverseSort = !reverseSort;sort('product_line_name_2');">
                                          ขั้นตอนที่ 2
                                          <span ng-show="orderByField == 'product_line_name_2'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_3'; reverseSort = !reverseSort;sort('product_line_name_3');">
                                          ขั้นตอนที่ 3
                                          <span ng-show="orderByField == 'product_line_name_3'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_4'; reverseSort = !reverseSort;sort('product_line_name_4');">
                                          ขั้นตอนที่ 4
                                          <span ng-show="orderByField == 'product_line_name_4'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_5'; reverseSort = !reverseSort;sort('product_line_name_5');">
                                          ขั้นตอนที่ 5
                                          <span ng-show="orderByField == 'product_line_name_5'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_6'; reverseSort = !reverseSort;sort('product_line_name_6');">
                                          ขั้นตอนที่ 6
                                          <span ng-show="orderByField == 'product_line_name_6'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_7'; reverseSort = !reverseSort;sort('product_line_name_7');">
                                          ขั้นตอนที่ 7
                                          <span ng-show="orderByField == 'product_line_name_7'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_8'; reverseSort = !reverseSort;sort('product_line_name_8');">
                                          ขั้นตอนที่ 8
                                          <span ng-show="orderByField == 'product_line_name_8'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th class="pro_part" style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_line_name_9'; reverseSort = !reverseSort;sort('product_line_name_9');">
                                          ขั้นตอนที่ 9
                                          <span ng-show="orderByField == 'product_line_name_9'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>
                                <th>ตัวเลือก</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in product_list | orderBy: orderByField:reverseSort | filter:query | filter : paginate ">

                                <td id = "product_id_{{ x.product_id }}">{{ x.product_id }}</td>
                                <td class="info_part" id = "company_name_{{ x.product_id }}">{{ x.company_name }}</td>
                                <td class="info_part" id = "product_type_{{ x.product_id }}">{{ x.product_type_name }}</td>
                                <td id = "product_name_{{ x.product_id }}">{{ x.product_name }}</td>


                                <td class="info_part" id = "note_{{ x.product_id }}">{{ x.note }}</td>


                                <td class="info_part" id = "paper_type_{{ x.product_id }}">{{ x.paper_type }}</td>
                                <td class="info_part" id = "thickness_{{ x.product_id }}">{{ x.thickness }}</td>
                                <td class="info_part" id = "color_{{ x.product_id }}">{{ x.color }}</td>
                                <td class="info_part" id = "mache_{{ x.product_id }}">{{ x.mache }}</td>
                                <td class="info_part" id = "url_picture_{{ x.product_id }}"><center><a ng-if="x.url_picture" href="Upload/{{x.url_picture}}" target="_blank"><img ng-src="Upload_thumbnail/{{x.url_picture}}"></a></center></td>

                                <td class="cal_part" id = "paper_type_name_{{ x.product_id }}">{{ x.paper_type }}</td>
                                <td class="cal_part" id = "paper_ream_size_{{ x.product_id }}">{{ x.size_paper }}</td>
                                <td class="cal_part" id = "paper_per_ream_{{ x.product_id }}">{{ x.box_per_paper }}</td>
                                <td class="cal_part" id = "cut_amount_{{ x.product_id }}">{{ x.note_2 }}</td>
                                <!-- <td id = "product_line_{{ x.product_id }}">{{ x.product_line }}</td> -->


                                <td class="pro_part">{{ x.product_line_name_1 }}</td>
                                <td class="pro_part">{{ x.product_line_name_2 }}</td>
                                <td class="pro_part">{{ x.product_line_name_3 }}</td>
                                <td class="pro_part">{{ x.product_line_name_4 }}</td>
                                <td class="pro_part">{{ x.product_line_name_5 }}</td>
                                <td class="pro_part">{{ x.product_line_name_6 }}</td>
                                <td class="pro_part">{{ x.product_line_name_7 }}</td>
                                <td class="pro_part">{{ x.product_line_name_8 }}</td>
                                <td class="pro_part">{{ x.product_line_name_9 }}</td>
                                <td style="width: 101px;">
                                <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#addModal"
                                    ng-click="set_id_target(x.product_id);"></button>
                                <button type="button" class="btn btn-danger glyphicon glyphicon-remove"  data-toggle="modal" data-target="#deleteModal" 
                                    ng-click="setDalete(x.product_id);"></button>

                                </td>
                        </tr>
                      </tbody>
                    </table>
            <div class="row" >
                <div class="col-sm-12 col-md-6" >
                    <pagination total-items="totalItems" ng-model="currentPage"
                      max-size="5" boundary-links="true"
                      items-per-page="numPerPage" class="pagination-sm">
                    </pagination>
                  </div> 
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var postDataApp = angular.module('postDataApp', ['ui.bootstrap', 'ngResource']);
        var app = angular.module('myApp', ['postDataApp','ngFileUpload']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;
        var $save_state_col = 1;
        postDataApp.controller('PostController', ['$scope', '$http','$compile','filterFilter','$filter','Upload','$parse', function($scope,$http,$compile,filterFilter,$filter,Upload,$parse){

          parent.postMessage('0||รายชื่อสินค้า ลูกฟูก||#ffffff||ว่าง', '*');

          $scope.thistype = 2;

            function makeid()
            {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 50; i++ )
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }


           $scope.set_id_target = function(id_get){
             $('#textAlert').html('');

                for (var i = 0; i < $scope.product_type_list.length; i++) { 
                  $('#checkbox_'+$scope.product_type_list[i].id_group).prop('checked', false);
                  $('#buttonCheck_'+$scope.product_type_list[i].id_group).removeClass('active');
                }
                    $('#upload_button_0').removeClass('btn btn-success');
                    $('#upload_button_0').addClass('btn btn-danger');
                   
                if(id_get > 0 ){

                  $scope.mode = 'edit';
                  $scope.id_target = id_get;
                   var  objecttemp = getObjects($scope.first_product_list,'product_id',id_get );
                   $scope.titleDialog = 'แก้ไขรายชื่อสินค้า - ' + objecttemp[0].company_name;
                   $scope.company_dialog = objecttemp[0].company_name;
                   $scope.filter_group_product();
                   $scope.product_name_dialog = objecttemp[0].product_name;
                   $scope.product_type_dialog = objecttemp[0].category;
                   //alert(objecttemp[0].category);
                   //document.getElementById("product_type_add_0").value = objecttemp[0].category;
                   $scope.detail_dialog = objecttemp[0].note;
                   $scope.paper_type_dialog = objecttemp[0].paper_type;
                   $scope.color_dialog = objecttemp[0].color;
                   $scope.size_dialog = objecttemp[0].size;
                   $scope.mache_dialog = objecttemp[0].mache;
                   $scope.thickness_dialog = objecttemp[0].thickness;
                   $scope.box_per_paper_dialog = objecttemp[0].box_per_paper;
                   $scope.size_paper_dialog = objecttemp[0].size_paper;
                   $scope.note_2_dialog = objecttemp[0].note_2;
                   $scope.line_dialog = objecttemp[0].product_line;

                   //alert(objecttemp[0].url_picture);
                   if(objecttemp[0].url_picture != null && objecttemp[0].url_picture != ''){
                    $scope.file_0 = 'Upload/'+ objecttemp[0].url_picture;
                    $scope.uploadname_0 = objecttemp[0].url_picture;
                  }
                  else{
                    $scope.file_0 = 'src/nopic.jpg';
                     $scope.uploadname_0 = '';
                  }

                  //alert(objecttemp[0].product_line);
                  for (var i = 0; i < objecttemp[0].product_line.length; i++) { 
                      //alert(objecttemp[0].product_line.substring(i,1+i));
                      $('#checkbox_'+objecttemp[0].product_line.substring(i,1+i)).prop('checked', true);
                      $('#buttonCheck_'+objecttemp[0].product_line.substring(i,1+i)).addClass('active');
                  }


                }else{
                   $scope.mode = 'add';
                   $scope.product_group_list = [];
                   document.getElementById("product_type_add_0").disabled = true;
                   document.getElementById("btnAddGroup").disabled = true;
                   $scope.company_dialog = '';
                   $scope.titleDialog = 'เพิ่มรายชื่อสินค้า';
                   $scope.product_name_dialog = '';
                   $scope.product_type_dialog = '';
                   $scope.detail_dialog = '';
                   $scope.paper_type_dialog = '';
                   $scope.color_dialog = '';
                   $scope.size_dialog = '';
                   $scope.mache_dialog = '';
                   $scope.thickness_dialog = '';
                   $scope.size_paper_dialog = '';
                   $scope.note_2_dialog = '';
                   $scope.box_per_paper_dialog = '';
                   $scope.line_dialog = '';
                   $scope.file_0 = '';
                   $scope.uploadname_0 = '';
                   $scope.errorGroup = '';

                }
            }

            $scope.setDalete = function(id_get){
                  var  objecttemp = getObjects($scope.product_list,'product_id',id_get );
                  $scope.titleDialog = 'ลบรายชื่อสินค้า';
                  $scope.product_delete = objecttemp[0].product_name;
                  $scope.id_targetdelete = id_get;
            }

            $scope.validateForm = function(){
              
                  var text = 'ข้อมูลไม่ถูกต้อง\n';
                  var isPass = true;


                      if($scope.target_com <= 0){
                          text = text.concat('ชื่อลูกค้าไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.product_type_dialog == ''){
                          text = text.concat('หมวดสินค้าไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.product_name_dialog == ''){
                          text = text.concat('ชื่อสินค้าไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.detail_dialog == ''){
                          text = text.concat('รายละเอียดไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.paper_type_dialog == ''){
                          text = text.concat('ชนิดกระดาษไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.color_dialog == ''){
                          text = text.concat('จำนวนสีไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.size_dialog == ''){
                          text = text.concat('ขนาดไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.thickness_dialog == ''){
                          text = text.concat('ความหนาไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.size_paper_dialog == ''){
                          text = text.concat('ขนาดกระดาษไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if(!stringIsNumber($scope.box_per_paper_dialog)){
                          text = text.concat('จำนวนกล่อง/แผ่นไม่ถูกต้อง \n');
                          isPass = false;
                      }
/*                      if(!stringIsNumber($scope.size_paper_dialog)){
                          text = text.concat('ขนาดกระดาษไม่ถูกต้อง \n');
                          isPass = false;
                      }*/
/*                      if(!stringIsNumber($scope.cut_amount_dialog)){
                          text = text.concat('ขนาดคำนวณ(ตัด)ไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if(!stringIsNumber($scope.work_per_print_dialog)){
                          text = text.concat('จำนวนงาน/แผ่นพิมพ์ไม่ถูกต้อง \n');
                          isPass = false;
                      }*/
                      if($scope.line_dialog == ''){
                          text = text.concat('ขั้นตอนการผลิตไม่ถูกต้อง \n');
                          isPass = false;
                      }
                  

                  if(!isPass){
                     
                      $('#textAlert').html(htmlNewlines(text));
                      return false;
                  }
                  else{
                      return true;
                  }
             }

            function htmlNewlines(text) {
                var htmls = [];
                var lines = text.split(/\n/);

                var tmpDiv = jQuery(document.createElement('div'));
                for (var i = 0 ; i < lines.length ; i++) {
                    htmls.push(tmpDiv.text(lines[i]).html());
                }
                return htmls.join("<br>");
            }

            $scope.postProductForm = function(){
                
              if(!$scope.validateForm()){
                     return false;
              }
              //alert($scope.target_com );

                var encodedString = 
                'product_name='  + encodeURIComponent($scope.product_name_dialog ) +
                '&company_id=' + encodeURIComponent($scope.target_com ) +
                //'&category=' + encodeURIComponent(document.getElementById("product_type_add_0").options[document.getElementById("product_type_add_0").selectedIndex].value ) +
                '&category=' + encodeURIComponent($scope.product_type_dialog ) +
                '&note=' + encodeURIComponent($scope.detail_dialog ) +
                '&paper_type=' + encodeURIComponent($scope.paper_type_dialog ) +
                '&color=' + encodeURIComponent($scope.color_dialog ) +
                '&size=' + encodeURIComponent($scope.size_dialog ) +
                '&mache=' + encodeURIComponent($scope.mache_dialog ) +
                '&thickness='  + encodeURIComponent($scope.thickness_dialog ) +
                '&size_paper=' + encodeURIComponent($scope.size_paper_dialog ) +
                '&box_per_paper=' + encodeURIComponent($scope.box_per_paper_dialog ) +
                '&note_2=' + encodeURIComponent($scope.note_2_dialog ) +
                //'&cut_amount=' + encodeURIComponent($scope.cut_amount_dialog ) +
                //'&work_per_print=' + encodeURIComponent($scope.work_per_print_dialog ) +
                '&product_line=' + encodeURIComponent($scope.line_dialog ) +
                '&url_picture=' + encodeURIComponent($scope.uploadname_0 );
//alert($scope.paper_type_dialog);return 0;
                if($scope.mode == 'edit'){
                  encodedString = encodedString + '&id_product=' + encodeURIComponent($scope.id_target);
                }

              $http({
                method: 'POST',
                url: 'includes/post_'+$scope.mode+'_corrugated_product.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  parent.postMessage('1||สำเร็จ||บันทึกข้อมูล ' +  $scope.product_name_dialog + ' สู่ระบบเรียบร้อย', '*');
                  $scope.getData();
                  $('#addModal').modal('hide');
                }
                else{
                  alert('Error = ' + data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.postDeleteProductForm = function(){

                var encodedString = 
                'id_product='  + encodeURIComponent($scope.id_targetdelete) + 
                '&type='+ encodeURIComponent($scope.thistype);

              $http({
                method: 'POST',
                url: 'includes/global_post_delete_product.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  parent.postMessage('1||สำเร็จ||ลบข้อมูล ' +  $scope.product_delete + ' ออกจากระบบเรียบร้อย', '*');
                  $scope.getData();
                  $('#deleteModal').modal('hide');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.postDeleteProductGroup = function(){

                var encodedString = 
                'product_type_id='  + encodeURIComponent($scope.product_type_dialog) + 
                '&type=' + encodeURIComponent($scope.thistype);

              $http({
                method: 'POST',
                url: 'includes/post_delete_product_type.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                if(data.trim() === 'correct'){
                  $scope.product_type_dialog = '';
                  $scope.getProductGrouplist();
                  $scope.filter_group_product();
                  $scope.errorGroup = '';
                }
                else{
                  $scope.errorGroup = data;
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorGroup = 'Cannot Submit Form';
              });
            };

            $scope.postProductGroup = function(){
                

                var encodedString = 
                'type_group_name='  + encodeURIComponent($scope.product_group_dialog ) +
                '&id_company=' + encodeURIComponent($scope.target_com ) +
                '&id_type=' + encodeURIComponent($scope.thistype );

              $http({
                method: 'POST',
                url: 'includes/post_add_type_group.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  parent.postMessage('1||สำเร็จ||บันทึกหมวดสำเสร็จ ' +  $scope.product_group_dialog + ' สู่ระบบเรียบร้อย', '*');
                  //$scope.getData();
                  $scope.getProductGrouplist();
                  $('#addGroupModal').modal('hide');
                }
                else{
                  alert('Error = ' + data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            function stringIsNumber(s) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    return false;
                }
            }
         
            function checkLength( o, n, min, max ) {
              if ( o.length > max || o.length < min ) {
                messageShow = messageShow + "Length of " + n + " must be between " + min + " and " + max + ".<br>" ;
                isPass = false;
                return false;
              } else {
                return true;
              }
            }
         
            function isBlank(valueget){
                if(valueget === ''){
                    //dialog_message.dialog("open");
                    //alert('aaa');
                    messageShow = ""
                    return true;
                }
                else{
                    //alert('bbb');
                    return false;
                }
            }

            function isDate(d,n){
                var timestamp = Date.parse(d)
                if (isNaN(d) == false)
                {
                    messageShow = messageShow + "Invalid " + n + ".<br>";
                    isPass = false;
                }
            }

            function checkMainAdd(){
                isPass = true;//alert('aaa');
                checkLength( document.getElementById("company_add_0").value, 'company', 3, 20 );
                checkLength( document.getElementById("po_id_add_0").value, 'po_id', 1, 5 );
                isDate(document.getElementById("recieve_date_add_0").value,'recieve_date');
                isDate(document.getElementById("due_date_add_0").value,'due_date');

                if(!isPass){
                    document.getElementById("dialogMessage").innerHTML  =  messageShow;
                    dialog_message.dialog("open");
                    //alert(isPass);
                    return false;
                }
                else{
                    //alert('bbb');
                    return true;
                }

            }

            $scope.sortGroup = function(id_get,id_btn){
              $scope.line_dialog = '';
              if($('#checkbox_'+id_btn).is(':checked'))
                $('#checkbox_'+id_btn).prop('checked', false);
              else
                $('#checkbox_'+id_btn).prop('checked', true);
              for (var i = 0; i < $scope.product_type_list.length; i++) { 
                if($('#checkbox_'+$scope.product_type_list[i].id).is(':checked')){
                  $scope.line_dialog = $scope.line_dialog + $scope.product_type_list[i].id_group;
                }
              }
            }

          
          $scope.currentPage = 1;
          $scope.numPerPage = 10;
          $scope.columnToOrder = '';

          $scope.paginate = function(value) {
          $scope.totalItems = $scope.product_list.length;
            var begin, end, index;
            begin = ($scope.currentPage - 1) * $scope.numPerPage;
            end = begin + $scope.numPerPage;
            index = $scope.product_list.indexOf(value);
            return (begin <= index && index < end);
          };

          $scope.searchChangePrepare = function(){
            var promise = asyncGreet('Robin Hood');
            promise.then(function(greeting) {
              alert('Success: ' + greeting);
            }, function(reason) {
              alert('Failed: ' + reason);
            });
          }

          //$scope.$watch( $scope.product_list,function(){showcol( $save_state_col);});

              $scope.unupload = function(num){
                $('#upload_button_'+num).removeClass('btn btn-success');
                $('#upload_button_'+num).addClass('btn btn-danger');
                $('#upload_status_'+num).text('No Upload');
                $('#upload_button_'+num).prop('disabled', false);
                $scope.uploadname_0 = '';;
              }

              $scope.upload = function (num) {
                var tempname = $scope['file_'+num].$ngfName.split(".");
                tempname = tempname[tempname.length-1];
                $scope['file_'+num].$ngfName = makeid()+ "." +tempname;console.log($scope['file_'+num]);

                Upload.upload({
                    url: 'includes/upload_img.inc.php',
                    data: {
                      file: $scope['file_'+num], 
                      'targetPath' : '../Upload/'
                    }
                }).then(function (resp) {
                    console.log('Success ' + resp.config.data.file.name + 'uploaded. Response: ' + resp.data);
                    var the_string = 'uploadname_'+num;
                    var model = $parse(the_string);

                    model.assign($scope, resp.config.data.file.name);

                    //$scope.uploadname =  resp.config.data.file.name;
                    $('#upload_status_'+num).text('Uploaded');
                    $('#upload_button_'+num).prop('disabled', true);;
                    $('#upload_button_'+num).removeClass('btn btn-danger');
                    $('#upload_button_'+num).addClass('btn btn-success');

                    console.log($scope['uploadname_'+num]);
                }, function (resp) {
                    console.log('Error status: ' + resp.status);
                }, function (evt) {
                    var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                    console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);

                });
            };


          $scope.filter_group_product = function(){
              $scope.target_com = -1;
              //document.getElementById("product_type_add_0").options[document.getElementById("product_type_add_0").selectedIndex].value = '';
              //alert($scope.product_type_dialog);
              $scope.product_type_dialog ='';
              //alert($scope.product_type_dialog);
              $temp_com = getObjects($scope.company_list,'company_name',$scope.company_dialog);
              if($temp_com.length > 0){
                $scope.product_group_list = getObjects($scope.product_group_list_first,'id_company',$temp_com[0].company_id);
                if($scope.product_group_list.length > 0){
                  document.getElementById("product_type_add_0").disabled = false;

                  //btnAddGroup
                }
                  $scope.target_com = $temp_com[0].company_id;
                  document.getElementById("btnAddGroup").disabled = false;
              }
              else{
                $scope.product_type_dialog = [];
                $scope.product_group_list = [];
                document.getElementById("product_type_add_0").disabled = true;
                document.getElementById("btnAddGroup").disabled = true;
              }
          }


          $scope.searchChange = function() {
            showcol(1);

                $scope.product_list = filterFilter($scope.first_product_list, document.getElementById("serachinput").value);  
                $scope.paginate($scope.product_list);
                $scope.sort($scope.columnToOrder);

                //alert($scope.po_queue.length);
          };

          $scope.sort = function (sortBy) {
                //$scope.resetAll();

                $scope.columnToOrder = sortBy;
                $scope.product_list = $filter('orderBy')($scope.product_list, $scope.columnToOrder, $scope.reverseSort);
                $scope.reverse = !$scope.reverse;
            };


            $scope.setProductLineTable = function (){
                for (var i = 0 ; i < $scope.product_list.length; i++) {
                    for(var j = 0; j <$scope.product_list[i].product_line.length;j++){
                        //alert($scope.product_list[i].product_line.length);//
                    
                    $temp = getObjects($scope.product_type_list,'id_group',$scope.product_list[i].product_line.substring(j, j+1));
                    if($temp.length > 0)
                        $scope.product_list[i]['product_line_name_'+ (j+1)]  = $temp[0].ddl_name;
                    else
                        $scope.product_list[i]['product_line_name_'+ (j+1)]  = 'NOT_FOUND ['+ $scope.product_list[i].product_line.substring(j, j+1)+']';
            }
                    //$scope.product_list[i]['product_line_name_'+ i] = getObjects($scope.product_type_list,'ddl_id',$scope.product_list[i].product_line.substring(j, j+1))[0].ddl_name;
                }

                showcol($save_state_col);
                console.log($scope.product_type_list);
            }

            $scope.getProductTypelist = function (){
                $scope.product_type_list = [];
                $http.get('includes/get_ddl_work.php?group='+$scope.thistype).then(function(response) 
                {
                    $scope.product_type_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 
                    $scope.setProductLineTable();
                    console.log($scope.product_type_list);
                });

            }

            $scope.getProductGrouplist = function (){
                $scope.product_group_list = [];
                $http.get('includes/get_ddl_type_product.php?group='+$scope.thistype).then(function(response) 
                {
                    $scope.product_group_list_first = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 
                    $scope.product_group_list =  $scope.product_group_list_first;
                    //$scope.setProductLineTable();
                    $scope.filter_group_product();
                    console.log($scope.product_group_list);
                });

            }

/*
            $scope.getProducerlistALL = function (){
                $scope.producer_list = [];
                $http.get('includes/get_producer_list.php').then(function(response) 
                {
                    $scope.producer_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.producer_list)
                });
            }*/

            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 
                    console.log($scope.company_list)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }


            $scope.getData = function (){
                $scope.first_product_list = [];
                $http.get('includes/global_get_product_list_full.php?type='+$scope.thistype).then(function(response) 
                {
                    $scope.first_product_list = $.map(response.data, function(el) { 
                    return el;
                });console.log($scope.first_product_list);
                    //$scope.getCompanylistALL();
                    $scope.getProductTypelist();
                    $scope.getCompanylistALL();
                    //$scope.getProducerlistALL();
                    $scope.getProductGrouplist();
                    $scope.product_list = $scope.first_product_list;
                });
            }

            $scope.getData();


          }]);

        function showcol(index_col){

        $save_state_col = index_col;
            $(".cal_part").css("display", "none");
            $(".pro_part").css("display", "none");
            $(".info_part").css("display", "none");

            if(index_col == 1){
            $(".cal_part").css("display", "none");
            $(".pro_part").css("display", "none");
            $(".info_part").css("display", "table-cell");

        }
            else if(index_col == 2){
            $(".cal_part").css("display", "table-cell");
            $(".pro_part").css("display", "none");
            $(".info_part").css("display", "none");
            }

            else if(index_col == 3){
            $(".cal_part").css("display", "none");
            $(".pro_part").css("display", "table-cell");
            $(".info_part").css("display", "none");
            }
            
        }

    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
