<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.arrow{
  text-align: center;
  font-size: 40px;
}
td{
  width: 12.5%;
}
.text-center{
  text-align: center;
}
.well{
  text-align: center;
}
.table>thead>tr>th {
   border-bottom: 0px;
}
.table>tbody>tr>td {
  border-top: 0px;
   border-bottom: 0px;
}
td,th {
    white-space: nowrap;
}
And follo
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="width: 90% ;margin:auto;margin-top: 5% ;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" >
                    <h1>ข้อมูล </h1>
                    <table class="table table-hover table-bordered">
                      <thead>
                                <th>ชื่อลูกค้า</th>
                                <th>เลขที่ PO </th>
                                <th>วันที่ใน PO</th>
                                <th>กำหนดส่ง </th>
                                <th>จำนวน</th>
                                <th>รูปภาพ</th>
                                <th>การผลิตปัจจุบัน</th>
                                <th>สถานะ</th>
                                <th>เครื่อง</th>
                                <th>ผู้ดูแลเครื่อง</th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue_info ">
                                <td>{{ x.company_name }}</td>
                                <td>{{ x.po_id }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.due_date }}</td>
                                <td>{{ x.amount_order }}</td>
                                <td><center><a ng-if="x.img_url" href="Upload/{{x.img_url}}" target="_blank"><img ng-src="Upload_thumbnail/{{x.img_url}}"></a></center></td>
                                <td>{{ x.name_work }}</td>
                                <td>{{ x.state }}</td>
                                <td>{{ x.machine_name }}</td>
                                <td>{{ x.user_name }}</td>
                        </tr>
                      </tbody>
                      </table>
                        <br>

                    <h1>Log </h1>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                                <th>วันที่ทำรายการ</th>
                                <th>วันที่รับทำรายการ </th>
                                <th>จำนวน</th>
                                <th>การผลิต</th>
                                <th>สถานะ</th>
                                <th>ผู้ทำรายการ</th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue_log ">
                                <td>{{ x.submit_date }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.amount }}</td>
                                <td>{{ x.name_work }}</td>
                                <td>{{ x.state }}</td>
                                <td>{{ x.user_name }}</td>
                        </tr>
                      </tbody>
                      </table>
                        <br>
                        <div id="textAlert">
                          {{messageAdd}}
                        </div>
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>

    <div id="wrapper" class="animated fadeIn">
            <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-archive"></i> ลูกฟูก</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"> แสดงผล ระบบการผลิต</i> 
                            </li>
                        </ol>
                    </div>
                </div>
          </div>
      </div>
<div class="container-fluid" style="margin-left: 30px" >
  <div class="row" >

  <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '1'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '1'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '2'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '2'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '3'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '3'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '5'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '5'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="row well">เครื่องตัด</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องพิมพ์</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องทับร่อง + SLOT</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องปะกาว</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
          </tr>
        </tbody >
        <thead>
          <tr >
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '4'}" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th style="border-top: 0px">
                <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '4'}" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
            </th>
            <th style="border-top: 0px">
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '6'}" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th style="border-top: 0px">
                <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '6'}" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td> </td>
            <td></td>
            <td></td>
            <td><div class="row well">เครื่องปั้ม</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องเย็บ</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
          </tr>
        </tbody>
         <thead style="margin-top: 500px">
          <tr>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '7'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '7'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line_current: '-1'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
             </div>
            </th>
            <th>
                <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line_current: '-1'}:true" > 
                <a href="#"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(x.id);">{{x.product_name }}</a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="row well">เครื่องห่อ</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">รอจัดส่ง</div></td>
            <td><div class="arrow">&#8658;</h1></td>
            <td></td>
            <td> </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>

    </table>
  </div>


            </div>
          </div>








        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var app = angular.module('myApp', ['getDataApp']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;

    
        getDataApp.controller('customersCtrl', function($scope, $http) 
        {
          $scope.thistype = 2;

          parent.postMessage('0||ลูกฟูก - แสดงผลระบบการผลิต||#ffffff||ว่าง', '*');

            $scope.set_id_target = function(id_get){
             $('#textAlert').html('');
             $scope.titleDialog = "ข้อมูล PO ID : "+id_get;
                $scope.po_queue_log = [];
                $http.get('includes/global_get_table_line_log_byid.php?find_id='+id_get+'&type='+$scope.thistype).then(function(response) 
                {
                    $scope.po_queue_log = $.map(response.data, function(el) { return el ;});

                    console.log($scope.po_queue_log);
                });

                $scope.po_queue_info = [];
                $http.get('includes/global_get_po_queue_full_byid.php?id='+id_get+'&type='+$scope.thistype).then(function(response) 
                {
                    $scope.po_queue_info = $.map(response.data, function(el) { return el ;});

                    console.log($scope.po_queue_info);
                });
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/global_get_po_queue_inpro.php?type='+$scope.thistype).then(function(response) 
                {
                    $scope.first_po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.po_queue = $scope.first_po_queue;

                    console.log($scope.po_queue);
                });
            }

            $scope.getData();

        });





  
    </script>

</body>

</html>
