<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.arrow{
  text-align: center;
  font-size: 40px;
}
td{
  width: 12.5%;
}
.text-center{
  text-align: center;
}
.well{
  text-align: center;
}
.table>thead>tr>th {
   border-bottom: 0px;
}
.table>tbody>tr>td {
  border-top: 0px;
   border-bottom: 0px;
}
.hide-scroll {
    overflow: hidden;
}

.viewport {
    overflow: auto;
    max-height: 500px;
    margin-right: -100px;
    padding-right: 100px;

}
And follo
</style>
<body ng-app='myApp' ng-controller='customersCtrl' >
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="width: 90% ;margin:auto;margin-top: 5% ;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" >
                    <h1>ข้อมูล </h1>
                    <table class="table table-hover table-bordered">
                      <thead>
                                <th>ชื่อลูกค้า</th>
                                <th>เลขที่ PO </th>
                                <th>วันที่ใน PO</th>
                                <th>กำหนดส่ง </th>
                                <th>จำนวน</th>
                                <th>รูปภาพ</th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue_info ">
                                <td>{{ x.company_name }}</td>
                                <td>{{ x.po_id }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.due_date }}</td>
                                <td>{{ x.amount_order }}</td>
                                <td><center><a ng-if="x.img_url" href="Upload/{{x.img_url}}" target="_blank"><img ng-src="Upload_thumbnail/{{x.img_url}}"></a></center></td>
                        </tr>
                      </tbody>
                      </table>
                        <br>

                    <h1>Log </h1>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                                <th>วันที่ทำรายการ</th>
                                <th>วันที่รับทำรายการ </th>
                                <th>จำนวน</th>
                                <th>การผลิต</th>
                                <th>สถานะ</th>
                                <th>ผู้ทำรายการ</th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue_log ">
                                <td>{{ x.submit_date }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.amount }}</td>
                                <td>{{ x.name_work }}</td>
                                <td>{{ x.state }}</td>
                                <td>{{ x.user_name }}</td>
                        </tr>
                      </tbody>
                      </table>
                        <br>
                        <div id="textAlert">
                          {{messageAdd}}
                        </div>
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>

    <div id="wrapper" class="animated fadeIn">

        <!-- Navigation -->
        
        <div id="page-wrapper" >

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-table"></i> ค้นหาข้อมูลงานส่ง</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> ข้อมูลงานส่ง ลูกฟูก</a>
                            </li>
                        </ol>
                    </div>
                </div>
          </div>
      </div>
<div class="container-fluid" style="margin-left: 30px" >
  <div class="row" >
<button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target();">รายละเอียด</button>
<br><br>
 <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '1'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '1'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '2'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '2'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '3'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '3'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '5'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '5'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องตัด</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องพิมพ์</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องทับร่อง + SLOT</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องปะกาว</div></td>
          </tr>
        </tbody >
        <thead>
          <tr >
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
            </th>
            <th style="border-top: 0px">
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '4'}" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th style="border-top: 0px">
                <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '4'}" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
            </th>
            <th style="border-top: 0px">
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '6'}" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th style="border-top: 0px">
                <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '6'}" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td> </td>
            <td></td>
            <td></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องปั้ม</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องเย็บ</div></td>
            
          </tr>
        </tbody>
         <thead style="margin-top: 500px">
          <tr>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '7'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '7'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
              <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '-1'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
             </div>
            </th>
            <th>
                <div class="text-center" ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '-1'}:true" > 
                   {{x.recieve_date | myDateFormat}} - {{x.submit_date | myDateFormat}}
                   <br>
                   {{x.produce_time}} วัน
                   <br>
                   {{x.amount}}
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><div class="arrow">&#8658;</h1></td>
            <td><div class="row well">เครื่องห่อ</div></td>
            <td> <div class="arrow">&#8658;</h1></td>
            <td><div class="row well">รอจัดส่ง</div></td>
            
            <td></td>
            <td> </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>

    </table>
  </div>

 <!--          <div class="container">
   <div class="row" >
 
     <div class="col-sm-6 col-md-3 col-lg-2" >
               <div ng-repeat="x in first_po_queue |filter:{ state: '0'}  | filter:{ line: '1'}" > 
                 <td>{{x.product_name }}</td>
               </div>
             </div>
             <div class="row well">
               เครื่องตัด
             </div>
         </div>
         <div class="col-lg-6">
           <div class="row">
             <div ng-repeat="x in first_po_queue |filter:{ state: '1'}  | filter:{ line: '1'}" > 
                 <td>{{x.product_name }}</td>
               </div>
             </div>
             <div class="row">
               <h1>&#8658;</h1>
             </div>
         </div>
     </div> -->
              





            </div>
          </div>








        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var app = angular.module('myApp', ['getDataApp']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;

    
        getDataApp.controller('customersCtrl', function($scope, $http) 
        {

          parent.postMessage('0||ลูกฟูก - แสดงผลการผลิต||#ffffff||ว่าง', '*');

          $scope.thistype = 2;

          $scope.set_id_target = function(){
             $('#textAlert').html('');
             $scope.titleDialog = "ข้อมูล PO ID : "+$scope.find_id;
                $scope.po_queue_log = [];
                $http.get('includes/global_get_table_line_log_byid.php?find_id='+$scope.find_id+'&type='+$scope.thistype).then(function(response) 
                {
                    $scope.po_queue_log = $.map(response.data, function(el) { return el ;});

                    console.log($scope.po_queue_log);
                });

                $scope.po_queue_info = [];
                $http.get('includes/global_get_po_queue_send_full_byid.php?id='+$scope.find_id+'&type='+$scope.thistype).then(function(response) 
                {
                    $scope.po_queue_info = $.map(response.data, function(el) { return el ;});

                    console.log($scope.po_queue_info);
                });
            }

            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            $scope.find_id = $scope.gup('getvalue', window.location.search);

            function cal(){

                  for(i = 0; i< $scope.first_po_queue.length;i++){

                  var startDate = new Date($scope.first_po_queue[i].recieve_date);
                  var endDate = new Date( $scope.first_po_queue[i].submit_date);
                  var milisecondsDiff = endDate - startDate; 

                  $scope.first_po_queue[i].produce_time = Math.ceil(Math.ceil(milisecondsDiff/(1000*60*60)).toLocaleString(undefined, {minimumIntegerDigits: 2})/24);
                  //alert(Math.ceil(Math.ceil(milisecondsDiff/(1000*60*60)).toLocaleString(undefined, {minimumIntegerDigits: 2})/24)-1);
                  }
                  
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/global_get_table_line_log_byid.php?find_id='+$scope.find_id+'&type='+$scope.thistype).then(function(response) 
                {
                    $scope.first_po_queue = $.map(response.data, function(el) { return el ;});
                    cal();

                    $scope.po_queue = $scope.first_po_queue;

                    console.log($scope.po_queue);
                });
            }

            $scope.getData();

        });




        app.filter('myDateFormat', function myDateFormat($filter){
          return function(text){
            var  tempdate= new Date(text.replace(/-/g,"/"));
            return $filter('date')(tempdate, "dd/MM/yy");
          }
        });




  
    </script>

</body>

</html>
