<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">
<script src="js/angular-filter.min.js"></script>
    <script src="js/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"  type="text/javascript"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.inner-right {
    /* max-height: 20%; */
    max-height: 300px; 
    overflow-y: scroll;
    margin-left: 30px;
    /* background: ivory; */
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="width: 40% ;margin:auto;margin-top: 5% ;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">พบข้อมูลที่ซ้ำกัน</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" >
                    <h1>เลือกข้อมูล </h1>
                    <table class="table table-hover table-bordered">
                      <thead>

                                <th>เลขกลุ่มงาน</th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="x in groupChoice ">
                                <a href="#"><td  ng-click="checkGroup(x.create_group)">{{ x.create_group }}</td></a>
                               <!--  <td ng-repeat="a in x.po_queue">{{ a.po_id }}</td> -->
                        </tr>
                      </tbody>
                      </table>
                        <br>
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 10%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="alertModalLabel">ผิดพลาด</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body" style="max-height: 30%;">
                      <div class="inner-right" id="textAlert" >
                        test
                      </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>



        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-book"></i> แบบฟอร์มฝ่ายซื้อ
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

               <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row" >
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info">
                        <form>
                          <div class="form-group">
                            <label>ชนิดงาน</label>
                              <select class="form-control" id="type"   ng-model="item_type" ng-change=" selectType();" >
                                  <option value=""  hidden>Select</option>
                                  <option  ng-repeat="x in type_list "value="{{x.id_type}} ">{{x.type_name}}</option>
       
                              </select>
                          </div>

                        <div class="form-group">
                            <label>รหัส</label>
                                <input type="text" id="id_dialog" name="searchID" autocomplete="off" list="searchIDList" class="form-control" ng-model="company_add_0" ng-change="CheckData()"  disabled/>
                                <datalist id="searchIDList" name="searchList" autocomplete="off">
                                     <option ng-repeat="x in po_queue |filter : {type: item_type}">{{ x.id_queue }}</option>
                                </datalist>
                          </div>                   
                        </form>
                    </div>
                </div>
                <div class="row" ng-repeat="x in po_queue_current">
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info" >
                        <form>

                        <div class="form-group">
                            <label><h4> รายการที่ {{$index + 1}}</h4> </label>
                          </div>

                          <div class="form-group">
                            <label>หมวดสินค้า</label>
                                <input type="text" class="form-control" value="{{x.product_name}}" disabled />
                          </div>
                          <div class="form-group">
                            <label>จำนวน</label>
                                <input type="text" class="form-control" value="{{x.amount}}" disabled />
                          </div>

                          <div ng-show="x.paper_type_1">
                              <div class="form-group">
                                <label>ชื่อวัตถุดิบ</label>
                                    <input type="text" class="form-control" value="{{x.paper_type_1}}" disabled />
                              </div>
                              <div class="form-group">
                                <label>ขนาด</label>
                                    <input type="text" class="form-control" value="{{x.size}}" disabled />
                              </div>   
                              <div class="form-group">
                                <label>จำนวนจริง</label>
                                    <input type="text" class="form-control" value="{{x.real_amount| number:2}}" disabled />
                              </div>
                              <div class="form-group">
                                <label>จำนวนที่สั่ง</label>
                                    <input type="text" id = "amount_order_1_{{$index}}" class="form-control" ng-model= "a_1" ng-init="a_1='0'" ng-change="isNumCheck('amount_order_1_'+$index)" value="0"/>
                              </div>     
                          </div>
                          <div ng-show="x.paper_type_2">
                              <div class="form-group">
                                <label>ชื่อวัตถุดิบ</label>
                                    <input type="text" class="form-control" value="{{x.paper_type_2}}" disabled />
                              </div>
                              <div class="form-group">
                                <label>ขนาด</label>
                                    <input type="text" class="form-control" value="{{x.size}}" disabled />
                              </div>   
                              <div class="form-group">
                                <label>จำนวนจริง</label>
                                    <input type="text" class="form-control" value="{{x.real_amount| number:2}}" disabled />
                              </div>
                              <div class="form-group">
                                <label>จำนวนที่สั่ง</label>
                                    <input type="text" id = "amount_order_2_{{$index}}" class="form-control" ng-model= "a_2" ng-init="a_2='0'" ng-change="isNumCheck('amount_order_2_'+$index)" value="0"/>
                              </div>     
                          </div>
                          <div ng-show="x.paper_type_3">
                              <div class="form-group">
                                <label>ชื่อวัตถุดิบ</label>
                                    <input type="text" class="form-control" value="{{x.paper_type_3}}" disabled />
                              </div>
                              <div class="form-group">
                                <label>ขนาด</label>
                                    <input type="text" class="form-control" value="{{x.size}}" disabled />
                              </div>   
                              <div class="form-group">
                                <label>จำนวนจริง</label>
                                    <input type="text" class="form-control" value="{{x.real_amount| number:2}}" disabled />
                              </div>
                              <div class="form-group">
                                <label>จำนวนที่สั่ง</label>
                                    <input type="text" id = "amount_order_3_{{$index}}" class="form-control" ng-model= "a_3" ng-init="a_3='0'"ng-change="isNumCheck('amount_order_3_'+$index)" value="0"/>
                              </div>     
                          </div>


                        </form>
                    </div>
                    <div style="margin-left: 25px;"  class="col-sm-3 col-md-6 col-lg-4 alert alert-info" >
                      <form  name="form">
                        <label>รูปภาพ</label><br>
                        <center><img width="55%"  ngf-src="'Upload/{{x.img_url}}'" onerror="this.src='src/nopic.jpg'" ></center>
                      </form>
                    </div>

                </div>

<!--                               <tr id = "input_fields_wrap" >  
   <td colspan="11">
        <button ng-controller="PostController as postCtrl" class="btn btn-primary" ng-model="addrow" ng-click="postCtrl.add_row()" >Add More Fields</button>
    </td> 
</tr>     -->

            <div class="form-group" style="margin:20px">  

                    <button id="submitBtn" type="submit" class="btn btn-primary" ng-click="po_update()">Submit</button>
                  <br>
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var app = angular.module('myApp', ['getDataApp','ngFileUpload','angular.filter']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;



        getDataApp.controller('customersCtrl',['$scope', '$http','$parse','Upload','$filter', function($scope, $http,$parse,Upload,$filter) 
        {       

          parent.postMessage('0||แบบฟอร์มฝ่ายจัดซื้อ||#ffffff||ว่าง', '*');

            $scope.selectType = function(){
              $('#type').prop('disabled',true);
              $('#id_dialog').prop('disabled',false);
            }

            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                
                return results == null ? null : results[1];
            }


            $scope.split_lineget = function(){

                if($scope.lineget!=null){
                 var res = $scope.lineget.split("|");
                 $scope.item_type  = res[0];
                 $scope.company_add_0  = res[1];
                 $scope.recieve_date_add_0 = $filter("date")(res[2], 'yyyy-MM-dd');
                 $scope.po_id_add_0 = res[3];
                 //alert(res[0] + "aaa"+ res[1]+res[2])
                }
            }
//document.getElementById("recieve_date_add_0").value= "2014-02-09";


          $scope.validateForm = function(){
            
                var text = '';
                var isPass = true;

                for (var i = 0; i < $scope.po_queue_current.length; i++) {

                    if(!$scope.isNumCheck('amount_order_1_'+i )){
                        text = text.concat('รายการที่ '+ Number(i + 1) +' จำนวนที่สั่ง 1 ไม่ถูกต้อง \n');
                        isPass = false;
                    }
                    if(!$scope.isNumCheck('amount_order_2_'+i )){
                        text = text.concat('รายการที่ '+ Number(i + 2) +' จำนวนที่สั่ง 2 ไม่ถูกต้อง \n');
                        isPass = false;
                    }
                    if(!$scope.isNumCheck('amount_order_3_'+i )){
                        text = text.concat('รายการที่ '+ Number(i + 3) +' จำนวนที่สั่ง 3 ไม่ถูกต้อง \n');
                        isPass = false;
                    }
                  }
                

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').html(htmlNewlines(text));
                    return false;
                }
                else{
                    return true;
                }
           }
            function htmlNewlines(text) {
                var htmls = [];
                var lines = text.split(/\n/);

                var tmpDiv = jQuery(document.createElement('div'));
                for (var i = 0 ; i < lines.length ; i++) {
                    htmls.push(tmpDiv.text(lines[i]).html());
                }
                return htmls.join("<br>");
            }


            $scope.po_update = function (){
            var isGo = true;
            var count =0;
            //alert(document.getElementById('amount_order_1_0').value + "aa");
            if(!$scope.validateForm()){
                    return false;
              }

               
              //alert('stop here -> post_global_buy_po_to_send.inc.php ');
              //return 0;



            for (var i = 0; i<$scope.po_queue_current.length;i++){
                //alert(document.getElementById('amount_order').value);

                    var encodedString = 
                          'id='  + encodeURIComponent($scope.po_queue_current[i].id_queue)+
                          '&type='  + encodeURIComponent($scope.item_type) +
                          '&amount_1=' + encodeURIComponent(document.getElementById('amount_order_1_'+i).value) +
                          '&amount_2=' + encodeURIComponent(document.getElementById('amount_order_2_'+i).value) +
                          '&amount_3=' + encodeURIComponent(document.getElementById('amount_order_3_'+i).value);
                          //alert("test");



                        $http({
                          method: 'POST',
                          url: 'includes/post_global_buy_po_to_send.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            count++;
                            if(isGo&&count == $scope.po_queue_current.length){
                                  parent.postMessage('1||สำเร็จ||ส่งข้อมูลเข้าระบบรอการผลิตเรียบร้อย', '*');
                                  window.location.href = "form-buy.html"
                            }
                          }
                          else{
                            isGo = false;
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }

                    //$scope.getData();
            };

            function makeid()
            {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for( var i=0; i < 50; i++ )
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            }

              $scope.unupload = function(num){
                $('#upload_status_0').text('No Upload');
                $('#upload_button_0').prop('disabled', false);;
              }

              $scope.upload = function (num) {
                var tempname = $scope.file.$ngfName.split(".");
                tempname = tempname[tempname.length-1];
                $scope.file.$ngfName = makeid()+ "." +tempname;console.log($scope.file);

                Upload.upload({
                    url: 'includes/upload_img.inc.php',
                    data: {
                      file: $scope.file, 
                      'targetPath' : '../Upload/'
                    }
                }).then(function (resp) {
                    console.log('Success ' + resp.config.data.file.name + 'uploaded. Response: ' + resp.data);
                    $scope.uploadname =  resp.config.data.file.name;
                    $('#upload_status_0').text('Uploaded');
                    $('#upload_button_0').prop('disabled', true);;
                }, function (resp) {
                    console.log('Error status: ' + resp.status);
                }, function (evt) {
                    var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                    console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);

                });
            };

            $scope.getTypeList = function (){
                $scope.type_list = [];
                $http.get('includes/get_ddl_type.php').then(function(response) 
                {
                    $scope.type_list = $.map(response.data, function(el) { 
                        return el }); 
                });
            }


            $scope.getProducerlistALL = function (){
                $scope.producer_list = [];
                $http.get('includes/get_producer_list.php').then(function(response) 
                {
                    $scope.producer_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.producer_list)
                });
            }

            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.company_list)
                });
            }

            $scope.getProductlistALL = function (){
                $scope.product_list_all = [];
                $http.get('includes/get_offset_product_list_full.php').then(function(response) 
                {
                    $scope.product_list_all = $.map(response.data, function(el) { 
                        return el });
                    //$scope.setProductIDToName(); 
            $scope.getProductlist(0);
                    console.log($scope.product_list_all)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }

            $scope.getProductlist = function (num){
                for(var i = 0;i<listadd.length;i++){
                  var the_string = 'product_list_'+listadd[i];
                  var model = $parse(the_string);
                  $temp = getObjects( $scope.product_list_all,'category',document.getElementById("product_type_add_0").options[document.getElementById("product_type_add_0").selectedIndex].value );
                  model.assign($scope, $temp);
                  if($temp.length>0){
                                    document.getElementById("product_add_"+listadd[i]).disabled = false;
                                }else{
                                    document.getElementById("product_add_"+listadd[i]).disabled = true;
                                }
                }
            }  

            $scope.setProductData = function (num){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+num).value );
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    document.getElementById("product_line_add_"+num).value = objecttemp[0].product_line;
                }
                else{
                    document.getElementById("product_line_add_"+num).value = '';
                }
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                //$temp = getObjects( $scope.type_list,'id_type',document.getElementById("type").options[document.getElementById("type").selectedIndex].value );
                $http.get('includes/get_global_buy_po.php').then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.getCompanylistALL();
                    $scope.CheckData();
                    //$scope.getProductlistALL();
                    console.log($scope.po_queue);
                });
            }

            $scope.Colorpicker = function(colorget){
              if(colorget == 'red'){
                return '#ffcccc';
              }
              else if(colorget == 'green'){
                return '#ccffcc';
              }
              else if(colorget == 'white'){
                return '#ffffff';
              }

            }

            $scope.checkGroup = function(id_create_group){
                 $scope.po_queue_current = getObjects($scope.groupChoice_first,'create_group',id_create_group);
                 $('#addModal').modal('hide');
                 $('#submitBtn').prop('disabled', false);
            }

            $scope.CheckData = function (){

               $scope.po_queue_current = [];
               $scope.po_queue_list_po_id = [];
               var objecttype = getObjects($scope.po_queue,'type',$scope.item_type );
                var  objecttemp = getObjects(objecttype,'id_queue',document.getElementById("id_dialog").value );
                if(objecttemp.length<=0){
                    $('#submitBtn').prop('disabled', true);
                    return false;
                }
/*console.log(objecttemp);
               $scope.groupChoice = [];
               $scope.groupChoice_first = objecttemp;
               var count = -1;
               var prev_create_group = -1;
                for(var i = 0; i<objecttemp.length ; i++){
                  if(objecttemp[i].create_group!=prev_create_group){
                    count++;
                    countsub = 0;
                    //$scope.groupChoice[count].po_queue = [];
                  }else{
                    countsub++;
                  }
                  $scope.groupChoice[count] = objecttemp[i];

                  prev_create_group = objecttemp[i].create_group;
                }*/
//console.log($scope.groupChoice);
              $scope.groupChoice = objecttemp;
                if($scope.groupChoice.length>1){
                  $('#addModal').modal('show');
                }else{
                $scope.po_queue_current = objecttemp;
                 $('#submitBtn').prop('disabled', false);
                 return 1;
               }


            }

             $scope.ProducerStringToID = function (){
                var  objecttemp = getObjects($scope.producer_list,'producer_name',document.getElementById("producer_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("producer_add_0").value.length == 0){
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0].producer_id;
                }
                else{
                    document.getElementById("producer_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.ProductStringToID = function (){
                var  objecttemp = getObjects($scope.product_list_all,'product_name',document.getElementById("product_add_0").value );
                console.log(objecttemp.length);
                if(document.getElementById("product_add_0").value.length == 0){
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(objecttemp.length>0){
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('green');
                    return objecttemp[0];
                }
                else{
                    document.getElementById("product_add_0").style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

             $scope.isDateCheck = function (datein){
                //var timestamp = Date.parse(document.getElementById(datein).value);

                if(document.getElementById(datein).value.length == 0){
                   document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(isNaN(document.getElementById(datein).value) == true){
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

              $scope.isTextCheck = function (textin){

                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( document.getElementById(textin).value.length <= 10 ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }
            $scope.isNumCheck = function (textin){
              //alert(textin);
              if(textin=='')return false;
              var x = +document.getElementById(textin).value;
                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( x.toString() === document.getElementById(textin).value ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 1;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.Pass = function (textin){
                    document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
            }


            $scope.getTextAdd = function (){
                $scope.company_list = [];
                $http.get('text/po_queue_add.txt').then(function(response) 
                { 
                    $scope.text = response.data; 
                    
                });
            }
            //alert('aaababa');

            $scope.lineget = $scope.gup('q', decodeURIComponent(window.location.search));
            $scope.split_lineget();
            $scope.po_queue_current = [];

            $scope.getData();
            //$scope.getTextAdd();
            $scope.getTypeList();

        }]);

    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
