<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">
<script src="js/angular-filter.min.js"></script>
    <script src="js/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"  type="text/javascript"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">

</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.inner-right {
    /* max-height: 20%; */
    max-height: 300px; 
    overflow-y: scroll;
    margin-left: 30px;
    margin-right: 3px;
    /* background: ivory; */
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

                <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                  <div class=" modal-dialog" role="document" style="width: 80% ;margin:auto;margin-top: 5% ;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">รายชื่อผู้รับผิดชอบ {{titleDetailMachine}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" >
                      <div class="row">
                         <div class="col-lg-6 ">
                           Search
                            <div class="form-group">  
                                <input type="text" id="serachinput" name="searchCompany" list="searchCompanyList" class="form-control" style="width: 300px" ng-model="querydetail" ng-change="searchChange()">
                            </div>
                         </div>
                         <div class="col-lg-6 " align="right" >
                         <br> 
                            <div class="form-group">  
                           <button class = " btn btn-success" id="btnAddMachineWorker"  data-toggle="modal" data-target="#addMachineWorkerModal" ng-click="setModalAddMachineWorker(a.machine_name);">เพิ่มผู้รับผิดชอบ</button> 
                           </div>
                         </div>
                      </div>
                    <table class="table table-hover table-bordered">
                      <thead>

                      <th>ชื่อผู้รับผิดชอบ</th>
                      <th style="width: 101px">ตัวเลือก</th>

                      </thead>
                      <tbody>
                        <tr ng-repeat="a in machine_worker_list | filter : {id_machine: target_machine}:true | filter : querydetail">
                              <td >{{ a.user_name }}</td>
                              <td >
                                <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#editMachineWorkerModal"
                                    ng-click="setTargetWorker(a.id_work);setModalEditMachineWorker(a.machine_name,a.user_name);"></button>
                                <button type="button" class="btn btn-danger glyphicon glyphicon-remove"  data-toggle="modal" data-target="#deleteMachineWorkerModal" 
                                    ng-click="setTargetDeleteWorker(a.id_work,a.id_worker);setModalDeleteMachineWorker(a.machine_name,a.user_name);"></button>
                              </td>   
                        </tr>
                      </tbody>
                      </table>
                        <br>
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 10%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="alertModalLabel">ผิดพลาด</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body" style="max-height: 30%;">
                      <div class="inner-right" id="textAlert" >
                        test
                      </div>
                        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>

              <div class="modal fade" id="addMachineWorkerModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">เพิ่มผู้รับผิดชอบ {{titleAddMachineWorker}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                        <div class="viewport" style="margin-left: 30px;margin-right: 30px;">
                                   <div   class="form-group">
                                       <label>ชื่อผู้รับผิดชอบ</label>
                                       <input type="text" ng-model="addMachineWorker_dialog"  list="searchWorkerList" class="form-control">
                                        <datalist id="searchWorkerList" name="searchList" autocomplete="off">
                                             <option ng-repeat="x in worker_list ">{{ x.user_name }}</option>
                                        </datalist>
                                        {{messageAddWorker}}
                                    </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="postAddMachineWorker()">เพิ่ม</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="editMachineWorkerModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                    <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                      <div class="modal-content">
                        <div class="modal-header">
                        <div class="col-sm-6">
                             <h5 class="modal-title" id="exampleModalLabel">แก้ไขผู้รับผิดชอบ {{titleEditMachineWorker}}</h5>
                        </div>
                         <div class="col-sm-6">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                          </button>
                        </div>    
                        </div>
                        <div class="modal-body hide-scroll" style="max-height: 30%;">
                          <div class="viewport" style="margin-left: 30px;margin-right: 30px;">
                                     <div   class="form-group">
                                         <label>ชื่อผู้รับผิดชอบ</label>
                                         <input type="text" ng-model="editMachineWorker_dialog"  list="searchWorkerList" class="form-control">
                                          <datalist id="searchWorkerList" name="searchList" autocomplete="off">
                                               <option ng-repeat="x in worker_list ">{{ x.user_name }}</option>
                                          </datalist>
                                          {{messageEditWorker}}
                                      </div>

                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                          <button type="button" class="btn btn-primary"  ng-click="postEditMachineWorker()">เพิ่ม</button>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="modal fade" id="deleteMachineWorkerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูลผู้รับผิดชอบ {{titleDeleteMachineWorker}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="padding-left: 30px;">
                            คุณต้องการลบ {{machine_name_target}} หรือไม่?
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-danger"  ng-click="postDeleteMachineWorker()">ลบ</button>
                      </div>
                    </div>
                  </div>
                </div>

              <div class="modal fade" id="addMachineModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleAddMachine}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="margin-left: 30px;margin-right: 30px;">
                                 <div   class="form-group">
                                     <label>ชื่อเครื่อง</label>
                                     <input type="text" ng-model="addMachine_dialog"  class="form-control">
                                  </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="postAddMachine()">เพิ่ม</button>
                      </div>
                    </div>
                  </div>
                </div>


              <div class="modal fade" id="editMachineModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleEditMachine}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="margin-left: 30px;margin-right: 30px;">
                                 <div   class="form-group">
                                     <label>ชื่อเครื่อง</label>
                                     <input type="text" ng-model="editMachine_dialog"  class="form-control">
                                  </div>
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="postEditMachine()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteMachineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDeleteMachine}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="padding-left: 30px;">
                            คุณต้องการลบ {{machine_name_target}} หรือไม่?
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-danger"  ng-click="postDeleteMachine()">ลบ</button>
                      </div>
                    </div>
                  </div>
                </div>

        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-wrench"></i> รายชื่อเครื่องจักร
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

               <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row" >
                    <div class="col-sm-9 col-md-6 col-lg-4 alert alert-info">
                        <form>
                          <div class="form-group">
                            <label>ชนิดงาน</label>
                              <select class="form-control" id="type"   ng-model="item_type" ng-change=" selectType();getWorkList();" >
                                  <option value=""  hidden>Select</option>
                                  <option  ng-repeat="x in type_list "value="{{x.id_type}} ">{{x.type_name}}</option>
       
                              </select>
                          </div>

                          <div class="form-group">
                            <label>ชื่อหมวดงาน</label>
                              <select class="form-control" id="work_dialog"   ng-model="item_work" ng-change="getMachineList();getMachineWorker();enebleBtn();" disabled>
                                  <option value=""  hidden>Select</option>
                                  <option  ng-repeat="x in work_list | filter:{ have_machine: '1'}:true" value="{{x.id_group}} ">{{x.ddl_name}}</option>
                              </select>
                          </div>                
                        </form>
                    </div>
                </div>

                  <div class="row">
                     <div class="col-lg-6 ">
                       Search
                        <div class="form-group">  
                            <input type="text" id="serachinput" name="searchCompany" list="searchCompanyList" class="form-control" style="width: 300px" ng-model="query.machine_name" ng-change="searchChange()">
                        </div>
                     </div>
                     <div class="col-lg-6 " align="right" >
                     <br> 
                        <div class="form-group">  
                       <button class = " btn btn-success" id="btnAddMachine"  data-toggle="modal" data-target="#addMachineModal" ng-click="setModalAddMachine();" disabled>เพิ่มเครื่องจักร</button> 
                       </div>
                     </div>
                  </div>


                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                        </thead>
                        <thead>
                            <tr>
                                <th>เครื่อง</th>
                                <th style="width: 101px;">ตัวเลือก</th>
                                <th style="width: 120px">รายละเอียด</th>

                            </tr>
                        </thead>
                        <tr >
                        <thead>
                        
                          <tr ng-repeat="x in machine_list  | filter:  query "  id = "row_{{ x.id }}">
                          <div >
                                <td >{{ x.machine_name}}</td>      
                                <td >
                                <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#editMachineModal"
                                    ng-click="setTarget(x.id);setModalEditMachine(x.machine_name);"></button>
                                <button type="button" class="btn btn-danger glyphicon glyphicon-remove"  data-toggle="modal" data-target="#deleteMachineModal" 
                                    ng-click="setTargetDelete(x.id);setModalDeleteMachine(x.machine_name);"></button>

                                </td>             
                                <td >
                                    <center><button class="btn btn-primary" ng-model="btn" ng-click="setTarget(x.id);"data-toggle="modal" data-target="#detailModal">รายละเอียด</button></center>

                                </td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>

            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var app = angular.module('myApp', ['getDataApp','ngFileUpload','angular.filter']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;



        getDataApp.controller('customersCtrl',['$scope', '$http','$parse','Upload','$filter', function($scope, $http,$parse,Upload,$filter) 
        {       

          parent.postMessage('0||รายชื่อเครื่องจักร||#ffffff||ว่าง', '*');

/*            $scope.selectType = function(){
              $('#type').prop('disabled',true);
              $('#work_dialog').prop('disabled',false);
            }*/

          $scope.setTarget= function(id_machine){
            $scope.target_machine = id_machine;
            //alert();
          }
          $scope.setTargetDelete= function(id_machine){
            $scope.target_machine_delete = id_machine;
            //alert();
          }

          $scope.setTargetWorker= function(id_user){
            $scope.target_machine_worker = id_user;
            //alert();
          }
          $scope.setTargetDeleteWorker= function(id_user,id_worker){
            $scope.target_machine_worker_delete = id_user;
            $scope.id_worker_book = id_worker;
            //alert();
          }

          $scope.setModaldetailMachine = function(machine_name){
            $scope.titleDetailMachine = machine_name;
            //alert();
          }
          $scope.setModalAddMachineWorker = function(machine_name){
            $scope.titleAddMachineWorker = machine_name;
            $scope.addMachineWorker_dialog = '';
            $scope.messageAddWorker = '';
          }

          $scope.setModalEditMachineWorker = function(machine_name,user_name){
            $scope.titleEditMachineWorker = user_name;
            $scope.editMachineWorker_dialog = user_name;
             $scope.messageEditWorker = '';
          }

          $scope.setModalDeleteMachineWorker = function(machine_name,user_name){
            $scope.titleDeleteMachineWorker = machine_name;
            $scope.machine_name_target =  user_name;
          }

          $scope.setModalAddMachine = function(id_machine){
            $scope.titleAddMachine = "เพิ่มเครื่องจักรในหมวด "+document.getElementById("work_dialog").options[document.getElementById("work_dialog").selectedIndex].innerHTML;
            $scope.addMachine_dialog = '';
            //alert();
          }
          $scope.setModalEditMachine = function(machine_name){
            $scope.titleEditMachine = "แก้ไขเครื่องจักรในหมวด "+document.getElementById("work_dialog").options[document.getElementById("work_dialog").selectedIndex].innerHTML;
            $scope.editMachine_dialog = machine_name;
            //alert();
          }
          $scope.setModalDeleteMachine = function(machine_name){
            $scope.titleDeleteMachine = "ลบเครื่องจักรในหมวด "+document.getElementById("work_dialog").options[document.getElementById("work_dialog").selectedIndex].innerHTML;
            $scope.machine_name_target =  machine_name;
          }

          $scope.validateForm = function(){
            
                var text = '';
                var isPass = true;

                for (var i = 0; i < $scope.po_queue_current.length; i++) {

                    if(!$scope.isNumCheck('amount_order_'+i )){
                        text = text.concat('รายการที่ '+ Number(i + 1) +' จำนวนที่สั่งไม่ถูกต้อง \n');
                        isPass = false;
                    }
                  }
                

                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').html(htmlNewlines(text));
                    return false;
                }
                else{
                    return true;
                }
           }
            function htmlNewlines(text) {
                var htmls = [];
                var lines = text.split(/\n/);

                var tmpDiv = jQuery(document.createElement('div'));
                for (var i = 0 ; i < lines.length ; i++) {
                    htmls.push(tmpDiv.text(lines[i]).html());
                }
                return htmls.join("<br>");
            }


            $scope.po_update = function (){
            var isGo = true;
            var count =0;

            if(!$scope.validateForm()){
                    return false;
              }
               
            for (var i = 0; i<$scope.po_queue_current.length;i++){
                //alert(document.getElementById('amount_order').value);
                    var encodedString = 
                          'id='  + encodeURIComponent($scope.po_queue_current[i].id)+
                          '&state='  + encodeURIComponent(1) +
                          '&amount=' + encodeURIComponent(document.getElementById('amount_order_'+i).value);
                          //alert("test");

                        $http({
                          method: 'POST',
                          url: 'includes/update_state_po.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            count++;
                            if(isGo&&count == $scope.po_queue_current.length){
                                  parent.postMessage('1||สำเร็จ||ส่งข้อมูลเข้าระบบรอการผลิตเรียบร้อย', '*');
                                  window.location.href = "tables.html"
                            }
                          }
                          else{
                            isGo = false;
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }

                    //$scope.getData();
            };

            $scope.postAddMachine = function (){
               
                    var encodedString = 
                          'machine_name='  + encodeURIComponent($scope.addMachine_dialog)+
                          '&id_type='  + encodeURIComponent($scope.item_type) +
                          '&id_work=' + encodeURIComponent($scope.item_work);
                          //alert("test");

                        $http({
                          method: 'POST',
                          url: 'includes/post_add_machine.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            parent.postMessage('1||สำเร็จ||เพิ่มข้อมูล ' + $scope.addMachine_dialog + ' เรียบร้อย', '*');
                             $scope.getMachineList();
                             $scope.getMachineWorker();
                            $('#addMachineModal').modal('hide');
                          }
                          else{
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }

            $scope.postEditMachine = function (){
               //alert($scope.target_machine+$scope.editMachine_dialog);
                    var encodedString = 
                          'id_machine='  + encodeURIComponent($scope.target_machine)+
                          '&machine_name=' + encodeURIComponent($scope.editMachine_dialog);
                          //alert("test");

                        $http({
                          method: 'POST',
                          url: 'includes/post_edit_machine.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            parent.postMessage('1||สำเร็จ||แก้ไข้อมูล ' + $scope.editMachine_dialog + ' เรียบร้อย', '*');
                             $scope.getMachineList();
                             $scope.getMachineWorker();
                            $('#editMachineModal').modal('hide');
                          }
                          else{
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }


            $scope.postDeleteMachine = function (){
               //alert($scope.target_machine+$scope.editMachine_dialog);
                    var encodedString = 
                          'id_machine='  + encodeURIComponent($scope.target_machine_delete);
                          //alert("test");

                        $http({
                          method: 'POST',
                          url: 'includes/post_delete_machine.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            parent.postMessage('1||สำเร็จ||ลบข้อมูล ' + $scope.machine_name_target + ' เรียบร้อย', '*');
                             $scope.getMachineList();
                             $scope.getMachineWorker();
                            $('#deleteMachineModal').modal('hide');
                          }
                          else{
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }


            $scope.postAddMachineWorker = function (){
                var id_worker = $scope.getIDUser($scope.addMachineWorker_dialog);
                //alert(id_worker);
                if(id_worker == ''){
                  $scope.messageAddWorker = "ชื่อผู้รับผิดชอบไม่ถูกต้อง";
                  return 0;}

                    var encodedString = 
                          'machine_id='  + encodeURIComponent($scope.target_machine)+
                          '&worker_id='  + encodeURIComponent(id_worker);
                          //alert("test");
                          if($scope.item_type==3&&$scope.item_work==4){
                            //alert();
                            encodedString = encodedString + '&is_book='  + encodeURIComponent('yes');
                          }

                        $http({
                          method: 'POST',
                          url: 'includes/post_add_machine_worker.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            parent.postMessage('1||สำเร็จ||เพิ่มข้อมูล ' + $scope.addMachineWorker_dialog + ' เรียบร้อย', '*');
                             $scope.getMachineList();
                             $scope.getMachineWorker();
                            $('#addMachineWorkerModal').modal('hide');
                          }
                          else{
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }

            $scope.postEditMachineWorker = function (){
               var id_worker = $scope.getIDUser($scope.editMachineWorker_dialog);
               //alert($scope.target_machine_worker+" "+id_worker);
                //alert(id_worker);
                if(id_worker == ''){
                  $scope.messageEditWorker = "ชื่อผู้รับผิดชอบไม่ถูกต้อง";
                  return 0;}

                    var encodedString = 
                          'id='  + encodeURIComponent($scope.target_machine_worker)+
                          '&worker_id='  + encodeURIComponent(id_worker);

                          if($scope.item_type==3&&$scope.item_work==4){
                            encodedString = encodedString + '&is_book='  + encodeURIComponent('yes') +
                              '&id_machine='  + encodeURIComponent($scope.target_machine);
                          }

                        $http({
                          method: 'POST',
                          url: 'includes/post_edit_machine_worker.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            parent.postMessage('1||สำเร็จ||แก้ไข้อมูล ' + $scope.editMachineWorker_dialog + ' เรียบร้อย', '*');
                             $scope.getMachineList();
                             $scope.getMachineWorker();
                            $('#editMachineWorkerModal').modal('hide');
                          }
                          else{
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }


            $scope.postDeleteMachineWorker = function (){
               //alert($scope.target_machine+$scope.editMachine_dialog);
                    var encodedString = 
                          'id='  + encodeURIComponent($scope.target_machine_worker_delete);
                          //alert("test");
                          if($scope.item_type==3&&$scope.item_work==4){
                            encodedString = encodedString + '&is_book='  + encodeURIComponent('yes') + 
                            '&id_machine='  + encodeURIComponent($scope.target_machine) + 
                            '&worker_id='  + encodeURIComponent($scope.id_worker_book);
                          }

                        $http({
                          method: 'POST',
                          url: 'includes/post_delete_machine_worker.inc.php',
                          data: encodedString,
                          headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                        })
                        .success(function(data, status, headers, config){
                          //console.log(encodedString);
                          console.log(data);
                          //console.log(this.inputDataRecieve_date);
                          //if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                          if(data.trim() === 'correct'){
                            parent.postMessage('1||สำเร็จ||ลบข้อมูล ' + $scope.machine_name_target + ' เรียบร้อย', '*');
                             $scope.getMachineList();
                             $scope.getMachineWorker();
                            $('#deleteMachineWorkerModal').modal('hide');
                          }
                          else{
                            alert('Error');
                            $scope.errorMsg = "Add fail";
                          }
                        })
                        .error(function(data, status,headers, config){
                          $scope.errorMsg = 'Cannot Submit Form';
                        });
                    }


            $scope.getIDUser = function (name){
                var  objecttemp = getObjects($scope.worker_list,'user_name',name );
                if(objecttemp.length > 0)return objecttemp[0].id;
                else return '';
            }

            $scope.getTypeList = function (){
                $scope.type_list = [];
                $http.get('includes/get_ddl_type.php').then(function(response) 
                {
                    $scope.type_list = $.map(response.data, function(el) { 
                        return el }); 
                });
            }

            $scope.getWorkList = function (){
                $scope.work_list = [];
                $http.get('includes/get_ddl_work.php?group='+$scope.item_type).then(function(response) 
                {
                    //console.log(response.data);
                    $scope.work_list = $.map(response.data, function(el) { 
                        return el }); 

                    console.log($scope.work_list);
                    $('#type').prop('disabled',true);
                    $('#work_dialog').prop('disabled',false);

                });
            }
            $scope.enebleBtn = function (){
              $('#btnAddMachine').prop('disabled',false);
            }

            $scope.getMachineList = function (){
                $scope.machine_list = [];
                $http.get('includes/get_machine.php?machine_type='+$scope.item_type+'&machine_work='+$scope.item_work).then(function(response) 
                {   
                    //console.log(response.data);
                    if(response.data != "")
                      $scope.machine_list = $.map(response.data, function(el) { return el });
                    else
                      $scope.machine_list = "";
                    //console.log($scope.machine_list);
                });
            }

            $scope.getMachineWorker = function (machine_id){
                $scope.machine_worker_list = [];
                $http.get('includes/get_machine_worker.php?machine_type='+$scope.item_type+'&machine_work='+$scope.item_work).then(function(response) 
                {
                    //alert($scope.item_type+'&machine_work='+$scope.item_work);
                    $scope.machine_worker_list = $.map(response.data, function(el) { return el });
                    //console.log($scope.machine_worker_list);
                });
            }

            $scope.getProductTypelist = function (){
                $scope.product_type_list = [];
                $http.get('includes/get_dropdown.php?group=type_product').then(function(response) 
                {
                    $scope.product_type_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.product_type_list)
                });
            }

            $scope.getWorkerList = function (){
                $scope.worker_list = [];
                $http.get('includes/get_userdata_worker.php').then(function(response) 
                {
                    $scope.worker_list = $.map(response.data, function(el) { 
                        return el }); 

                    console.log($scope.product_type_list)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key].trim() == val.trim()) {
                        objects.push(obj);
                    }
                }
                return objects;
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                //$temp = getObjects( $scope.type_list,'id_type',document.getElementById("type").options[document.getElementById("type").selectedIndex].value );
                $http.get('includes/get_po_queue_speci.php?state=0').then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.getCompanylistALL();
                    $scope.CheckData();
                    //$scope.getProductlistALL();
                    console.log($scope.po_queue);
                });
            }


             $scope.isDateCheck = function (datein){
                //var timestamp = Date.parse(document.getElementById(datein).value);

                if(document.getElementById(datein).value.length == 0){
                   document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if(isNaN(document.getElementById(datein).value) == true){
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(datein).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

              $scope.isTextCheck = function (textin){

                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( document.getElementById(textin).value.length <= 10 ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }
            $scope.isNumCheck = function (textin){
              //alert(textin);
              var x = +document.getElementById(textin).value;
                if(document.getElementById(textin).value.length == 0){
                   document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('white');
                    return false;
                }
                else if( x.toString() === document.getElementById(textin).value ){
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 1;
                }
                else{
                      document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('red');
                    return false;
                }
            }

            $scope.Pass = function (textin){
                    document.getElementById(textin).style.backgroundColor =   $scope.Colorpicker('green');
                    return 0;
            }


            $scope.getTextAdd = function (){
                $scope.company_list = [];
                $http.get('text/po_queue_add.txt').then(function(response) 
                { 
                    $scope.text = response.data; 
                    
                });
            }
            //alert('aaababa');


            //$scope.getData();
            //$scope.getTextAdd();
            //$scope.getProductTypelist();
            $scope.getWorkerList();
            $scope.getTypeList();

        }]);

    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
