<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


     <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">


                <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document" style="margin-top: 15%">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="alertModalLabel">ผิดพลาด</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body" id="textAlert">
                        test
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                      </div>
                    </div>
                  </div>
                </div>
        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-table"></i> ค้นหาข้อมูลงานส่ง</a>
                            </li>
                        </ol>
                    </div>
                </div>
  
                <div class="container-fluid">

                  <div class="row" >
                      <div class="col-sm-9 col-md-7 col-lg-5 alert alert-info">
                          <form>
                        <div class="form-group">
                         <label>ชนิดงาน*</label>
                          <div class="row">
                            
                             
                               
                                <div class="col-lg-10">
                                  <select class="form-control" id="type"   ng-model="item_type" ng-change=" getProductTypelist();clearproductinput()">
                                      <option value=""  hidden>Select</option>
                                      <option  ng-repeat="x in type_list "value="{{x.id_type}} ">{{x.type_name}}</option>
           
                                  </select>
                              </div>
                           
                             <div class="col-lg-2">
                               <button id="btn_Clear" type="submit" class="btn btn-warning" onclick="changePage('offset-form-send-table-log.html')" disabled >ล้างค่า</button>
                            </div> </div>
                          </div>

                            <div class="row">
                              <div class="col-lg-5">
                                <div class="form-group">
                                  <label>ชื่อลูกค้า</label>
                                      <input type="text" id="company_add_0" name="searchCompany" autocomplete="off" list="searchCompanyList" class="form-control" ng-model="company_dialog" ng-change="CompanyStringToID();filter_group_product()"/>
                                      <datalist id="searchCompanyList" name="searchList" autocomplete="off">
                                           <option ng-repeat="x in company_list ">{{ x.company_name }}</option>
                                      </datalist>
                                </div>
                              </div>
                              <div class="col-lg-5">
                                <div class="form-group">
                                  <label>หมวดสินค้า</label>
                                    <select class="form-control" id="product_type_add_0"   ng-model="item"  disabled>
                                                 <option value='' hidden>Select</option>

                                                  <option  ng-repeat="x in product_type_list "value="{{x.id}} ">{{x.ddl_name}}</option>
             
                                    </select>
                                </div>
                              </div>
                            </div>
                          

                            <div class="form-group">
                              <label>ช่วงเวลา*</label>
                              <div class="row">
                                <div class="col-lg-5">
                                  <input id = "start_date_add_0" type="date"  class="form-control"  />

                                </div>
                                <div class="col-lg-5">
                                  <input id = "end_date_add_0" type="date"  class="form-control"  />
                                </div>   
                                <div class="col-lg-2">
                                   <button id="btn_Post" type="submit" class="btn btn-primary" ng-click="search_send()">ค้นหา</button>
                                </div>                             
                              </div>

                            </div>
                          </form>
                      </div>
                  </div>
  
                </div>
                <div class="table-responsive" >
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>

                            </tr>
                        </thead>

                    </table>
                <div class="container-fluid">



                  <div >
                    Search
                        <div class="form-group">  
                        <input type="text" id="serachinput" name="searchCompany" list="searchCompanyList" class="form-control" style="width: 300px" ng-model="query['$']" ng-change="searchChange()">
                    <br>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
<!--                                 <th></th> -->
                                <th>ประเภท</th>
                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_name'; reverseSort = !reverseSort;sort('company_name');">
                                          ชื่อลูกค้า 
                                          <span ng-show="orderByField == 'company_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='po_id'; reverseSort = !reverseSort;sort('po_id');">
                                          จำนวน
                                          <span ng-show="orderByField == 'po_id'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='recieve_date'; reverseSort = !reverseSort;sort('recieve_date');">
                                          วันที่
                                          <span ng-show="orderByField == 'recieve_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='due_date'; reverseSort = !reverseSort;sort('due_date');">
                                          กำหนดส่ง 
                                          <span ng-show="orderByField == 'due_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='produce_date'; reverseSort = !reverseSort;sort('produce_date');">
                                          วันที่เริ่มผลิต 
                                          <span ng-show="orderByField == 'produce_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='finish_date'; reverseSort = !reverseSort;sort('finish_date');">
                                          วันที่ส่งของ 
                                          <span ng-show="orderByField == 'finish_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='amount_current'; reverseSort = !reverseSort ;sort('amount_current');">
                                          จำนวนส่ง
                                          <span ng-show="orderByField == 'amount_current'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='total_paper'; reverseSort = !reverseSort ;sort('total_paper');">
                                          เวลาในการผลิต
                                          <span ng-show="orderByField == 'total_paper'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th>รายละเอียด</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue | orderBy: orderByField:reverseSort | filter:query | filter : paginate ">
<!--                                 <td> 
    <input type="checkbox" class="companycheck" id="checkbox_{{ x.id }}" value="{{ x.id}}"><br>
</td> -->
                                <td>{{ x.type_name_display }}</td>
                                <td id = "company_{{ x.id }}">{{ x.company_name }}</td>
                                <td id = "po_id_{{ x.id }}">{{ x.po_id }}</td>
                                <td id = "recieve_date_{{ x.id }}">{{ x.recieve_date }}</td>
                                <td id = "due_date_{{ x.id }}">{{ x.due_date }}</td>
                                <td id = "produce_date_{{ x.id }}">{{ x.produce_date}}</td>
                                <td id = "finish_date_{{ x.id }}">{{ x.finish_date }}</td>
                                <td id = "amount_current_{{ x.id }}">{{ x.amount_current }}</td>

                                <td >{{ x.produce_time }}
                                    

                                </td>
                                <td class="col-sm-1">
                                    <center><button class="btn btn-primary" ng-click="watchLog(x.id,x.type_name)">ดู</button></center>
                                </td>
                        </tr>
                      </tbody>
                    </table>
            <div class="row" >
                <div class="col-sm-12 col-md-6" >
                    <pagination total-items="totalItems" ng-model="currentPage"
                      max-size="5" boundary-links="true"
                      items-per-page="numPerPage" class="pagination-sm">
                    </pagination>
                  </div> 

            </div>

                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var app = angular.module('myApp', ['getDataApp']);
        

        getDataApp.controller('customersCtrl', function($scope, $http,$filter) 
        {
          parent.postMessage('0||ค้นหาข้อมูลงานส่ง||#ffffff||ว่าง', '*');

          $scope.thistype = 1;

          $scope.getDateFormat = function(ago){
            var now = new Date();
            now.setDate(now.getDate() - ago);

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);

            return (now.getFullYear()+"-"+(month)+"-"+(day));

          }






          $scope.validateForm = function(){
            
                var text = '';
                var isPass = true;

                if(!$scope.isDateCheck('start_date_add_0')||!$scope.isDateCheck('end_date_add_0')){
                    text = text.concat('ช่วงเวลาไม่ถูกต้อง \n');
                    isPass = false;
                }


                if(!isPass){
                    $('#alertModal').modal('show');
                    $('#textAlert').html(htmlNewlines(text));
                    return false;
                }else{
                    return true;
                }
           }

            function htmlNewlines(text) {
                var htmls = [];
                var lines = text.split(/\n/);

                var tmpDiv = jQuery(document.createElement('div'));
                for (var i = 0 ; i < lines.length ; i++) {
                    htmls.push(tmpDiv.text(lines[i]).html());
                }
                return htmls.join("<br>");
            }

             $scope.isDateCheck = function (datein){
                //var timestamp = Date.parse(document.getElementById(datein).value);

                if(document.getElementById(datein).value.length == 0){
                    return false;
                }
                else if(isNaN(document.getElementById(datein).value) == true){
                    return 1;
                }
                else{
                    return false;
                }
            }


            $scope.search_send = function(){

            if(!$scope.validateForm()){
                    return false;
              }

              var type_send;
              if(document.getElementById("type").options[document.getElementById("type").selectedIndex].value==''){
                //alert(document.getElementById("type").options[document.getElementById("type").selectedIndex].value);
                  type_send = 0;
              }else{
                  type_send = document.getElementById("type").options[document.getElementById("type").selectedIndex].value;
              }
                //alert(type_send);
                var encodedString = 
                'type='  + encodeURIComponent(type_send) + 
                '&company_name='  + encodeURIComponent(document.getElementById("company_add_0").value ) +
                '&group_product='  + encodeURIComponent(document.getElementById("product_type_add_0").value) + 
                '&startdate='  + encodeURIComponent(document.getElementById("start_date_add_0").value ) +
                '&enddate='  + encodeURIComponent(document.getElementById("end_date_add_0").value );

                //alert(document.getElementById("company_add_0").value + document.getElementById("product_type_add_0").value);
                $http({
                method: 'POST',
                url: 'includes/global_get_po_queue_send_log.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                if(data==""){
                   $scope.first_po_queue = [];
                   $scope.po_queue = [];
                }
                else{
                 $scope.first_po_queue = $.map(data, function(el) { return el ;});
                 cal();
                 $scope.po_queue = $scope.first_po_queue;
                    console.log($scope.po_queue);
                  }
                    
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }            

            function cal(){

              for(i = 0; i< $scope.first_po_queue.length;i++){

              var startDate = new Date($scope.first_po_queue[0].produce_date);
              var endDate = new Date( $scope.first_po_queue[0].finish_date);
              var milisecondsDiff = endDate - startDate; 

              $scope.first_po_queue[i].produce_time = Math.ceil(Math.ceil(milisecondsDiff/(1000*60*60)).toLocaleString(undefined, {minimumIntegerDigits: 2})/24)-1;
              //alert(Math.ceil(Math.ceil(milisecondsDiff/(1000*60*60)).toLocaleString(undefined, {minimumIntegerDigits: 2})/24)-1);
              }
            }

            $scope.watchLog = function(send_id,type_get){
              //alert(send_id + document.getElementById("type").options[document.getElementById("type").selectedIndex].value);
              //alert(type_get);
              //if(type_get== 1)
                window.location.href = type_get+"-diagram-log.html?getvalue="+send_id;
              //if(type_get== 2)
              //window.location.href = "corrugated-diagram-log.html?getvalue="+send_id;
            }

             $scope.clearproductinput = function(){

                 document.getElementById("type").disabled = true;
                 document.getElementById("company_add_0").disabled = false;
                 document.getElementById("product_type_add_0").disabled = false;
                 document.getElementById("start_date_add_0").disabled = false;
                 document.getElementById("end_date_add_0").disabled = false;
                 document.getElementById("btn_Post").disabled = false;
                document.getElementById("btn_Clear").disabled = false;

              }

          $scope.filter_group_product = function(){


              $scope.target_com = -1;

              $temp_com = getObjects($scope.company_list,'company_name',$scope.company_dialog);

              $scope['item'] ='';


              if($temp_com.length > 0){
                  $scope.product_type_list = getObjects($scope.product_type_list_first,'id_company',$temp_com[0].company_id);
                  $('#product_type_add_0').prop('disabled',false);

                  $scope.target_com = $temp_com[0].company_id;
                  //document.getElementById("btnAddGroup").disabled = false;
              }
              else{
                $scope.product_type_dialog = [];
                $scope.product_group_list = [];
                $('#product_type_add_0').prop('disabled',true);
                //document.getElementById("btnAddGroup").disabled = true;
              }

            

          }

            $scope.getTypeList = function (){
                $scope.type_list = [];
                $http.get('includes/get_ddl_type.php').then(function(response) 
                {
                    $scope.type_list = $.map(response.data, function(el) { 
                        return el }); 
                });
            }

            $scope.getProductTypelist = function (){
                $scope.product_type_list_first = [];

                $http.get('includes/get_ddl_type_product.php?group='+$scope.thistype).then(function(response) 
                {
                    $scope.product_type_list_first = $.map(response.data, function(el) { 
                        return el }); 
                    $scope.product_type_list = $scope.product_type_list_first;
                });

            }


            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/get_po_queue.php').then(function(response) 
                {
                    $scope.first_po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.po_queue = $scope.first_po_queue;
                    console.log($scope.po_queue);

                });
            }

            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                });
            }


          $scope.setdefault = function(){
            var now = new Date();

            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
//alert($scope.getDateFormat(1));
            $('#start_date_add_0').val($scope.getDateFormat(7));
            $('#end_date_add_0').val($scope.getDateFormat(0));

            $scope.search_send();

          }
            $scope.setdefault();

            $scope.getCompanylistALL();
            $scope.getTypeList();

            $scope.search_send();
        });


    function changePage(url){
        //alert("abc");
        location.reload();
    }


    </script>

</body>

</html>
