<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
  <link rel="stylesheet" href="chosen.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tables
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tables
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
<!--                 <div id="dialog-form" title="Create new user" >
    
    <form>
        <fieldset>
             value = angular
            <label for="company">Company</label>
            <input type="text" name="Company" id="company" class="text ui-widget-content ui-corner-all">
            <label for="po_id">Po_id</label>
            <input type="text" name="Po_id" id="po_id" class="text ui-widget-content ui-corner-all">
            <label for="recieve_date">Recieve_date</label>
            <input type="text" name="Recieve_date" id="recieve_date" class="text ui-widget-content ui-corner-all">
            <label for="due_date">Due_date</label>
            <input type="text" name="Due_date" id="due_date" class="text ui-widget-content ui-corner-all">
            <label for="product_id">Product_id</label>
            <input type="text" name="Product_id" id="product_id" class="text ui-widget-content ui-corner-all">
            <label for="product_line">Product_line</label>
            <input type="text" name="Product_line" id="product_line" class="text ui-widget-content ui-corner-all">
            <label for="line_step">Line_step</label>
            <input type="text" name="Line_step" id="line_step" class="text ui-widget-content ui-corner-all">
            <label for="total_paper">Total_paper</label>
            <input type="text" name="Total_paper" id="total_paper" class="text ui-widget-content ui-corner-all">
            <label for="total_price">Total_price</label>
            <input type="text" name="Total_price" id="total_price" class="text ui-widget-content ui-corner-all">
            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div> -->
                <div id="dialog-form" title="Edit user" ng:model="po_queue" ng-controller="PostController as postCtrl">
                    
                    <form ng-submit="postCtrl.postEditForm()">
                        <fieldset>
                             <!-- value = angular -->
                            <label id="po_idLabel"></label><br>
                            <label for="amount">Amount</label>
                            <input type="text" name="Amount_Edit" id="amount_Edit" ng-model=postCtrl.inputDataAmount_Edit class="text ui-widget-content ui-corner-all">
                            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">

                        </fieldset>
                        <button id = "EditSaveButton" style="display:none"type="submit"><span >Save</span></button>
                    </form>
                </div>

                <div id="dialog-delete-form" title="Delete user" ng:model="po_queue" ng-controller="PostController as postCtrl">
                    Are you sure you want to delete?
                    <label id="companyDelete"></label>
                    

                </div>


                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                
                                <th>Po_id</th>
                                <th>Po_recieve_date</th>
                                <th>Recieve_date</th>
                                <th>Submit_date</th>
                                <th>Amount</th>
                                <th>Order_line</th>
                                <th>Option</th>
                            </tr>
                        </thead>
<!--                         <tbody  ng:model="po_queue" >
                            <tr ng-repeat="x in po_queue | orderBy:'po_id'">
                                <td>{{ $index }}</td>
                                <td>{{ x.company }}</td>
                                <td>{{ x.po_id }}</td>
                                <td>{{ x.recieve_date }}</td>
                                <td>{{ x.due_date }}</td>
                                <td>{{ x.product_id }}</td>
                                <td>{{ x.product_line }}</td>
                                <td>{{ x.line_step }}</td>
                                <td>{{ x.total_paper }}</td>
                                <td>{{ x.total_price }}</td>
                            </tr>
                        </tbody> -->

                        <tr  ng:model="po_queue">
                        <thead id="sortable">
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="x in po_queue " ng-controller="PostController as postCtrl" id = "row_{{ x.id }}">
                          <div >
<!--                                 <td id = "indexrow" value="indexrow_{{ x.index_company }}">{{ x.index_company}}</td> -->

                               
                                <td id = "po_id_{{ x.id }}">{{ x.po_id }}</td>
                                <td id = "recieve_date_{{ x.id }}">{{ x.po_recieve_date }}</td>
                                <td id = "due_date_{{ x.id }}">{{ x.recieve_date }}</td>
                                <td id = "product_id_{{ x.id }}">{{ x.submit_date }}</td>
                                <td id = "product_line_{{ x.id }}">{{ x.amount }}</td>
                                <td id = "line_step_{{ x.id }}">{{ x.order_line }}</td>
                                <td class="col-sm-1">
 
                                    <button id="edit-user" ng-click="postCtrl.openDialog(x.id)">Edit</button>
                                    <button id="submit-user" ng-click="postCtrl.submitLine(x.id)">Submit</button>

                                </td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>


                    <!-- <div id ="po_queue_pager" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="x in po_queue"><a href="#">{{ x.company }}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->

<!--             <script type="text/javascript" src="js/selectize.js"></script>
<link rel="stylesheet" type="text/css" href="css/selectize.css" />
<div class="demo">
    <div class="control-group">
        <label for="select-beast">Beast:</label>
        <select id="select-beast" class="demo-default" placeholder="Select a person..." >
        <div ng:model="po_queue">
            <option value="">Select a person...</option>
            <option value="4">Thomas Edison</option>
            <option value="1">Nikola</option>
            <option value="3">Nikola Tesla</option>
            <option value="5">Arnold Schwarzenegger</option>
            <option ng-repeat="x in po_queue ">{{ x.company }}</option>
        </div>
        </select>
    </div>
    <script>
    $('#select-beast').selectize({
        create: true,
        sortField: {
            field: 'text',
            direction: 'asc'
        },
        dropdownParent: 'body'
    });
    </script>
</div> -->
<!--                     
            Search


<div class="form-group" style="width: 300px">  
    <input type="text" name="searchCompany" list="searchCompanyList" class="form-control" />
    <datalist id="searchCompanyList" name="searchList">
               <option ng-repeat="x in po_queue | orderBy:'index_company' ">{{ x.company }}</option>
    </datalist>
      <br>
    <button id="abc-user">Create new user</button>
</div> -->
<!--             <div class="form-group" align="right" style="margin:20px" ng-controller="PostController">  

           <button id="buttonSubnit" ng-click="submitQueue()">Submit</button> 

      <br>
</div> -->

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var getDataApp = angular.module('getDataApp', []);
        var postDataApp = angular.module('postDataApp', []);
        var app = angular.module('myApp', ['getDataApp', 'postDataApp']);
        var companyid, lineget;
        postDataApp.controller('PostController', ['$scope', '$http', function($scope,$http){

                var a;
                $( "#sortable" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index());
                       //alert(a + " to " + ui.item.index() + ", " + $scope.po_queue[a].po_id + $scope.po_queue.length);/* do whatever here console.log('update: '+ui.item.index())*/ 
                        //for(var j = 0; j < $scope.po_queue.length ;j++)
                                    //angular.element(document.querySelector('#indexrow[value = indexrow_'+ a +']')).text(ui.item.index());
                                    //document.querySelector('#indexrow[value = indexrow_'+ a +']').setAttribute("value", 'indexrow_-1');
/*                                if(a > ui.item.index()){
                                    //alert("test");
                                    var min = ui.item.index();
                                    var max = a;
                                    for(var i = 0 ; i < $scope.po_queue.length ;i++){
                                        if ($scope.po_queue[i].index_company == max)
                                            $scope.po_queue[i].index_company = parseInt(min);
                                        else if($scope.po_queue[i].index_company >= min && $scope.po_queue[i].index_company < max){
                                            $scope.po_queue[i].index_company++;
                                        }
                                        //alert($scope.po_queue[i].index_company == min);

                                        //angular.element(document.querySelector('#indexrow[value = indexrow_'+ i +']')).text(i+1);
                                        //document.querySelector('#indexrow[value = indexrow_'+ i +']').setAttribute("value", 'indexrow_'+ (i+1));
                                    }
                                    //document.querySelector('#indexrow[value = indexrow_-1]').setAttribute("value", 'indexrow_'+ ui.item.index());
                                }
                                else if(a < ui.item.index()){
                                    var max = ui.item.index();
                                    var min = a;
                                    for(var i = 0 ; i < $scope.po_queue.length ;i++){

                                        if ($scope.po_queue[i].index_company == min)
                                            $scope.po_queue[i].index_company = parseInt(max);
                                        else if($scope.po_queue[i].index_company > min && $scope.po_queue[i].index_company <= max){
                                            $scope.po_queue[i].index_company--;
                                        }
                                    }
                                    //document.querySelector('#indexrow[value = indexrow_-1]').setAttribute("value", 'indexrow_'+ ui.item.index());
                                }/*else{
                                    var min = a;
                                    var max = ui.item.index();
                                    for(var i = min+1 ; i <= max;i++){

                                        angular.element(document.querySelector('#indexrow[value = indexrow_'+ i +']')).text(i-1);
                                        document.querySelector('#indexrow[value = indexrow_'+ i +']').setAttribute("value", 'indexrow_'+ (i-1));
                                    }
                                    document.querySelector('#indexrow[value = indexrow_-1]').setAttribute("value", 'indexrow_'+ ui.item.index());
                                }*/                
                                //$scope.po_queue.reload();*/

                                console.log($scope.po_queue);
                        }

                    });
                $( "#sortable" ).disableSelection();

            this.openDialog = function(company_id){
               //alert("test");
               dialog.dialog( "open" );
               companyid  = company_id;
               document.getElementById("po_idLabel").innerHTML  =  'Po_id :  : ' + angular.element(document.querySelector('#po_id_'+ companyid)).text();
               //alert(company_id);
               //document.getElementById("po_id_Edit").value =  angular.element(document.querySelector('#po_id_'+ companyid)).text();
               document.getElementById("amount_Edit").value =  angular.element(document.querySelector('#amount_'+ companyid)).text();
            }

            this.openDelateDialog = function(company_id){
               //alert("test");

               dialog_delete.dialog( "open" );
               companyid  = company_id;
               document.getElementById("companyDelete").innerHTML  =  'Company : ' + angular.element(document.querySelector('#company_'+ companyid)).text();
               //alert(company_id);
            }

            this.postEditForm = function(){
                //alert(document.getElementById("company_Edit").value + companyid );
                var temp = lineget.split(',');
                var encodedString = 
                'id_company='  + encodeURIComponent(companyid) + 
                '&product_type=' + encodeURIComponent(temp[0]) +
                '&line_step=' + encodeURIComponent(temp[1] ) +
                '&amount=' + encodeURIComponent(document.getElementById("amount_Edit").value );

              $http({
                method: 'POST',
                url: 'includes/post_edit_line.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  //window.location.href = 'index.php';
                  //indexGet = data.trim();
                  //addUser();
                  //updateDataUser();
                  $scope.getData();
                  dialog.dialog( "close" );
                  //alert('ok');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            function postDeleteForm(){
                //alert('delete : ' + companyid );

                var encodedString = 
                'id_company='  + encodeURIComponent(companyid);

              $http({
                method: 'POST',
                url: 'includes/post_delete_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  //window.location.href = 'index.php';
                  //indexGet = data.trim();
                  //deleteDataUser();
                  $scope.getData();
                  dialog_delete.dialog( "close" );
                  //alert('ok');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            this.submitLine = function(company_id){

                companyid  = company_id;
                var temp = lineget.split(',');


                var encodedString = 
                'id_company='  + encodeURIComponent(company_id) + 
                '&product_type='  + encodeURIComponent(temp[0]) + 
                '&line_step=' + encodeURIComponent(temp[1] );

                $http({
                method: 'POST',
                url: 'includes/post_submit_line.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                //console.log(values);
                console.log(data);
                if(data.trim() == company_id){
                  //alert('good');
                  $scope.getData();
                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }

            function indexSwap(from_index,to_index){
                //alert(from_index+ to_index );
                var temp = lineget.split(',');
                var encodedString = 
                'from_index='  + encodeURIComponent(from_index) + 
                '&to_index='  + encodeURIComponent(to_index) + 
                '&product_type=' + encodeURIComponent(temp[0]) +
                '&line_step=' + encodeURIComponent(temp[1] );

              $http({
                method: 'POST',
                url: 'includes/index_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){

                  $scope.getData();
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };



            this.postForm = function (){
                //alert('helloaa');

                var encodedString = 
                'company='  + encodeURIComponent(this.inputDataCompany) +
                '&po_id=' + encodeURIComponent(this.inputDataPo_id) +
                '&recieve_date=' + encodeURIComponent(this.inputDataRecieve_date) +
                '&due_date=' + encodeURIComponent(this.inputDataDue_date) +
                '&product_id=' + encodeURIComponent(this.inputDataProduct_id) +
                '&product_line=' + encodeURIComponent(this.inputDataProduct_line) +
                '&line_step=' + encodeURIComponent(this.inputDataLine_step) +
                '&total_price=' + encodeURIComponent(this.inputDataTotal_price) +
                '&total_paper=' + encodeURIComponent(this.inputDataTotal_paper);

              $http({
                method: 'POST',
                url: 'includes/post_add_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data.split(",")[0]);
                if(stringIsNumber(data.split(",")[0])&&stringIsNumber(data.split(",")[1])){
                  //window.location.href = 'index.php';
                  indexGet = data.split(",")[0];
                  newID = data.split(",")[1];
                  //addUser();
                  $scope.getData();
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

              var dialog, dialog_delete, form, indexGet, newID
              emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
              company = $( "#company" ),
              po_id = $( "#po_id" ),
              recieve_date = $( "#recieve_date" ),
              due_date = $( "#due_date" ),
              product_id = $( "#product_id" ),
              product_line = $( "#product_line" ),
              line_step = $( "#line_step" ),
              total_paper = $( "#total_paper" ),
              total_price = $( "#total_price" ),
              allFields = $( [] ).add( company ).add( po_id ).add( recieve_date ).add( due_date ).add( product_id ).add( product_line ).add( line_step ).add( total_paper ).add( total_price ),
              tips = $( ".validateTips" );
         
            function stringIsNumber(s) {
                var x = +s; // made cast obvious for demonstration
                return x.toString() === s;
            }
            function updateTips( t ) {
              tips
                .text( t )
                .addClass( "ui-state-highlight" );
              setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
              }, 500 );
            }
         
            function checkLength( o, n, min, max ) {
              if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                  min + " and " + max + "." );
                return false;
              } else {
                return true;
              }
            }
         
            function checkRegexp( o, regexp, n ) {
              if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
              } else {
                return true;
              }
            }

            function addUser() 
            {
                var valid = true;
                allFields.removeClass( "ui-state-error" );
             
                  // valid = valid && checkLength( name, "username", 3, 16 );
                  // valid = valid && checkLength( email, "email", 6, 80 );
                  // valid = valid && checkLength( password, "password", 5, 16 );
             
                  // valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
                  // valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
                  // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
                var add_json = 
                {
                    "company":company.val(),
                    "po_id":po_id.val(),
                    "recieve_date":recieve_date.val(),
                    "due_date":due_date.val(),
                    "product_id":product_id.val(),
                    "product_line":product_line.val(),
                    "line_step":line_step.val(),
                    "total_paper":total_paper.val(),
                    "total_price":total_price.val()
                }
                console.log(add_json)
                if ( valid ) {


/*                    $( "#sortable tr:last"  ).after( "<tr>" +
                    "<td id = 'indexrow' value= 'indexrow_" + indexGet + "'>" + indexGet + "</td>" +
                    "<td>" + company.val() + "</td>" +
                    "<td>" + po_id.val() + "</td>" +
                    "<td>" + recieve_date.val() + "</td>" +
                    "<td>" + due_date.val() + "</td>" +
                    "<td>" + product_id.val() + "</td>" +
                    "<td>" + product_line.val() + "</td>" +
                    "<td>" + line_step.val() + "</td>" +
                    "<td>" + total_paper.val() + "</td>" +
                    "<td>" + total_price.val() + "</td>" +
                    "<td> empty </td>" +
                    "</tr>" );*/
                    $scope.po_queue.push({
                            company: company.val(),
                            due_date:due_date.val(),
                            id:parseInt(newID),
                            index_company: parseInt(indexGet),
                            line_step:line_step.val(),
                            po_id:po_id.val(),
                            product_id:product_id.val(),
                            product_line:product_line.val(),
                            recieve_date:recieve_date.val(),
                            total_paper:total_paper.val() ,
                            total_price:total_price.val()
                    });
                }
              return valid;
            }

            function CallEditPost() {
              $scope.postEditForm();
            }
            dialog = $( "#dialog-form" ).dialog({
              autoOpen: false,
              height: 400,
              width: 350,
              modal: true,
              buttons: {
                Save : function() { 
                 document.getElementById("EditSaveButton").click();
             }, Cancel: function() {
              dialog.dialog( "close" );
            }

              },
              close: function() {
                //form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
              }
            });

            dialog_delete = $( "#dialog-delete-form" ).dialog({
              autoOpen: false,
              height: 200,
              width: 350,
              modal: true,
              buttons: {
                Delete : function() { 
                 postDeleteForm();
             }, Cancel: function() {
              dialog_delete.dialog( "close" );
            }

              },
              close: function() {
                //form[ 0 ].reset();
                allFields.removeClass( "ui-state-error" );
              }
            });
         
/*            form = dialog.find( "form" ).on( "submit", function( event ) {
                alert('yoyo');
              //event.preventDefault();
              //postEditForm();
            })*/;
         



          }]);


        getDataApp.controller('customersCtrl', function($scope, $http) 
        {
            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            lineget = $scope.gup('line', window.location.search);
            
            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/get_po_line.php?line='+lineget).then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el });
                    console.log($scope.po_queue)
                });
            }
            $scope.getData();

        });

/*
         $( function() {
        

/*        $( "#target" ).click(function() {
          event.preventDefault();
          addUser();
        });*/

       /* var dialog, form,
     
          // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
          emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          company = $( "#company" ),
          po_id = $( "#po_id" ),
          recieve_date = $( "#recieve_date" ),
          due_date = $( "#due_date" ),
          product_id = $( "#product_id" ),
          product_line = $( "#product_line" ),
          line_step = $( "#line_step" ),
          total_paper = $( "#total_paper" ),
          total_price = $( "#total_price" ),
          allFields = $( [] ).add( company ).add( po_id ).add( recieve_date ).add( due_date ).add( product_id ).add( product_line ).add( line_step ).add( total_paper ).add( total_price ),
          tips = $( ".validateTips" );
     
        function updateTips( t ) {
          tips
            .text( t )
            .addClass( "ui-state-highlight" );
          setTimeout(function() {
            tips.removeClass( "ui-state-highlight", 1500 );
          }, 500 );
        }
     
        function checkLength( o, n, min, max ) {
          if ( o.val().length > max || o.val().length < min ) {
            o.addClass( "ui-state-error" );
            updateTips( "Length of " + n + " must be between " +
              min + " and " + max + "." );
            return false;
          } else {
            return true;
          }
        }
     
        function checkRegexp( o, regexp, n ) {
          if ( !( regexp.test( o.val() ) ) ) {
            o.addClass( "ui-state-error" );
            updateTips( n );
            return false;
          } else {
            return true;
          }
        }
     
        function addUser() 
        {
            var valid = true;
            allFields.removeClass( "ui-state-error" );
         
              // valid = valid && checkLength( name, "username", 3, 16 );
              // valid = valid && checkLength( email, "email", 6, 80 );
              // valid = valid && checkLength( password, "password", 5, 16 );
         
              // valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
              // valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
              // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
            var add_json = 
            {
                "company":company.val(),
                "po_id":po_id.val(),
                "recieve_date":recieve_date.val(),
                "due_date":due_date.val(),
                "product_id":product_id.val(),
                "product_line":product_line.val(),
                "line_step":line_step.val(),
                "total_paper":total_paper.val(),
                "total_price":total_price.val()
            }
            console.log(add_json)
            if ( valid ) {
                $( "#sortable tr:last"  ).after( "<tr>" +
                "<td>" + "yoyo" + "</td>" +
                "<td>" + company.val() + "</td>" +
                "<td>" + po_id.val() + "</td>" +
                "<td>" + recieve_date.val() + "</td>" +
                "<td>" + due_date.val() + "</td>" +
                "<td>" + product_id.val() + "</td>" +
                "<td>" + product_line.val() + "</td>" +
                "<td>" + line_step.val() + "</td>" +
                "<td>" + total_paper.val() + "</td>" +
                "<td>" + total_price.val() + "</td>" +
                "</tr>" );
                dialog.dialog( "close" );

            }
          return valid;
        }


        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Create an account": addUser,
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
            allFields.removeClass( "ui-state-error" );
          }
        });
     
        form = dialog.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          addUser();
        });

        
     
        $( "#create-user" ).button().on( "click", function() {
          dialog.dialog( "open" );
        });
      } );*/
    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>
      $( function() {

      } );




    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
