<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MUJAMES: Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- jQuery -->
    <script src="js/aes.js"></script>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">

</head>

<style type="text/css" media="screen">

.container{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
</style>

<body style="align-content: center;">

    <div class="container" >
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <!-- <img src="images/logo.png" alt="Mahidol" style="width:100%;"> -->
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body"  ng-app="postExample" ng-controller="PostController as postCtrl">
                        <form  class="login-form" ng-submit="postCtrl.postForm()">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus ng-model=postCtrl.inputData.username>
                                </div>
                                <div class="form-group">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="postCtrl.inputData.password">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>

                                <div class="alert alert-danger" role="alert" ng-show="errorMsg">{{errorMsg}}</div>
                                <!-- Change this to a button or input when using this as a form -->
                                <!--<a href="index.html" class="btn btn-lg btn-success btn-block">Login</a>-->
                                <input type="submit" name="submit" id="submit" value="Login" class="btn btn-lg btn-success btn-block"> 
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

        <script>
            angular.module('postExample', [])
            .controller('PostController', ['$scope', '$http', function($scope,$http){

                    this.postForm = function(){
                        
                        var encodedString = 'username='+encodeURIComponent(this.inputData.username) +
                    '&password=' +
                    encodeURIComponent(CryptoJS.MD5(this.inputData.password));

                    $http({
                        method: 'POST',
                        url: 'includes/checklogin.inc.php',
                        data: encodedString,
                        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                    })
                    .success(function(data, status, headers, config){
                        console.log(data);
                        if(data.trim() === 'correct'){
                            window.location.href = 'index.html';
                        }
                        else{
                            $scope.errorMsg = "Login fail";
                        }
                    })
                    .error(function(data, status,headers, config){
                        $scope.errorMsg = 'Cannot Submit Form';
                    });
                };
            }]);

    </script>


</body>

</html>