<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>

    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;
}
</style>
<body ng-app='myApp' ng-controller='PostController'>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-archive"></i> offset</a>
                            </li>
                            <li>
                                <i class="fa fa-table"></i> การจัดส่ง</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"> ฟอร์มจัดส่ง</i> 
                            </li>
                        </ol>
                    </div>
                </div>



                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                            <tr>         
                                <th colspan="10"><center><div style="font-size: 16px">ช่วงเช้า</div></center></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                <th>ชื่อลูกค</th>                           
                                <th>ชื่อสินค้า</th>
                                <th>จำนวน</th>
                                <th>รูปภาพ</th>
                                <th>รถจัดส่ง</th>
                                <th>วันที่จัดส่ง</th>
                                <th>พร้อมส่ง</th>

                            </tr>
                        </thead>

                        <tr >
                        <thead >
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="x in po_queue_wait " id = "row_{{ x.id }}">
                          <div >
<!--                                 <td id = "indexrow" value="indexrow_{{ x.index_company }}">{{ x.index_company}}</td> -->

                                <td>{{ x.company_name }}</td>                   
                                <td>{{ x.product_name }}</td>
                                <td>{{ x.amount_current }}</td>
                                <td><a ng-if="x.img_url" href="upload/{{x.img_url}}" target="_blank"><i class=" glyphicon glyphicon-picture"></a></td>
                                <td>{{ x.car_name }}</td>
                                <td>{{ x.send_date }}</td>
                                <td> <button class="btn btn-primary" id="submit-user" ng-click="finish_work(x.id)">พร้อมส่ง</button></td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>
<br><br>
                <div class="table-responsive">
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                  <thead>
                            <tr>         
                                <th colspan="10"><center><div style="font-size: 16px">ช่วงบ่าย</div></center></th>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->
                                <th>ชื่อลูกค</th>                           
                                <th>ชื่อสินค้า</th>
                                <th>จำนวน</th>
                                <th>รูปภาพ</th>
                                <th>รถจัดส่ง</th>
                                <th>วันที่จัดส่ง</th>
                                <th>พร้อมส่ง</th>

                            </tr>
                        </thead>

                        <tr >
                        <thead >
<!--                    <td ng-repeat="x in po_queue | orderBy:'po_id'" class="ui-state-default">{{ $index }}</td> -->
                        
                          <tr ng-repeat="x in po_queue " id = "row_{{ x.id }}">
                          <div >
<!--                                 <td id = "indexrow" value="indexrow_{{ x.index_company }}">{{ x.index_company}}</td> -->

                                <td>{{ x.company_name }}</td>                   
                                <td>{{ x.product_name }}</td>
                                <td>{{ x.amount_wrap }}</td>
                                <td><a ng-if="x.img_url" href="upload/{{x.img_url}}" target="_blank"><i class=" glyphicon glyphicon-picture"></a></td>
                                <td>{{ x.car_name }}</td>
                                <td>{{ x.send_date }}</td>
                                <td> <button class="btn btn-primary" id="submit-user" ng-click="finish_work(x.id)">พร้อมส่ง</button></td>
                            </div>
                           </tr>
                        
                           <thead id="footerTable">

                           </thead>
                        </thead>
                        </tr>
                        
                    </table>


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var postDataApp = angular.module('postDataApp', []);
        var app = angular.module('myApp', ['postDataApp']);
        var companyid, lineget;
        
        postDataApp.controller('PostController', ['$scope', '$http', function($scope,$http){

            parent.postMessage('0||offset - ฟอร์มจัดส่ง||#ffffff||ว่าง', '*');

            $scope.thistypepage = 1;
            $scope.thislinepage = -1;

                $( "#sortable-wait" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index(),1,0);
                        }

                    });
                $( "#sortable-wait" ).disableSelection();

                $( "#sortable" )
                    .sortable({
                    helper: fixHelper  ,
                       revert       : true,
                       connectWith  : ".sortable",
                       start        : function(event,ui){ a = ui.item.index();},
                       stop         : function(event,ui){ 

                        indexSwap(a,ui.item.index(),1,1);
                        }

                    });
                $( "#sortable" ).disableSelection();

         
            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    return false;
                }
                 
            }


            $scope.finish_work = function(work_id){

                var encodedString = 
                'work_id='  + encodeURIComponent(work_id) +
                '&type=' + encodeURIComponent($scope.thistypepage);

                $http({
                method: 'POST',
                url: 'includes/global_post_submit_line_send.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){

                console.log(data);
                if(data.trim() == work_id){
                  parent.postMessage('1||สำเร็จ||งานเสร็จเรียบร้อย', '*');
                  $scope.getData();
                }
                else{
                  alert(data.trim()+"fail");
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }


            function indexSwap(from_index,to_index,line,state){
                //alert(from_index+ to_index );
                //var temp = lineget.split(',');
                var encodedString = 
                'from_index='  + encodeURIComponent(from_index) + 
                '&to_index='  + encodeURIComponent(to_index) + 
                '&line=' + encodeURIComponent($scope.thislinepage) +
                '&state=' + encodeURIComponent(state) +
                '&type=' + encodeURIComponent($scope.thistypepage);
                //alert(from_index+"test"+to_index+'-'+line+state);
              $http({
                method: 'POST',
                url: 'includes/global_index_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){

                  $scope.getData();
                }
                else{
                  alert('Error'+data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };


            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            lineget = $scope.gup('line', window.location.search);
            
            $scope.getData = function (){
                $scope.po_queue = [];
                $scope.po_queue_wait = [];
                $http.get('includes/global_get_po_queue_wait_finish.php?time=1&type='+$scope.thistypepage).then(function(response) 
                {
                    $scope.po_queue_wait = $.map(response.data, function(el) { return el });
                    console.log($scope.po_queue_wait)
                });
                $http.get('includes/global_get_po_queue_wait_finish.php?time=2&type='+$scope.thistypepage).then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el });
                    console.log($scope.po_queue)
                });
            }
            $scope.getData();

        }]);

/*
         $( function() {
        

/*        $( "#target" ).click(function() {
          event.preventDefault();
          addUser();
        });*/

       /* var dialog, form,
     
          // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
          emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          company = $( "#company" ),
          po_id = $( "#po_id" ),
          recieve_date = $( "#recieve_date" ),
          due_date = $( "#due_date" ),
          product_id = $( "#product_id" ),
          product_line = $( "#product_line" ),
          line_step = $( "#line_step" ),
          total_paper = $( "#total_paper" ),
          total_price = $( "#total_price" ),
          allFields = $( [] ).add( company ).add( po_id ).add( recieve_date ).add( due_date ).add( product_id ).add( product_line ).add( line_step ).add( total_paper ).add( total_price ),
          tips = $( ".validateTips" );
     
        function updateTips( t ) {
          tips
            .text( t )
            .addClass( "ui-state-highlight" );
          setTimeout(function() {
            tips.removeClass( "ui-state-highlight", 1500 );
          }, 500 );
        }
     
        function checkLength( o, n, min, max ) {
          if ( o.val().length > max || o.val().length < min ) {
            o.addClass( "ui-state-error" );
            updateTips( "Length of " + n + " must be between " +
              min + " and " + max + "." );
            return false;
          } else {
            return true;
          }
        }
     
        function checkRegexp( o, regexp, n ) {
          if ( !( regexp.test( o.val() ) ) ) {
            o.addClass( "ui-state-error" );
            updateTips( n );
            return false;
          } else {
            return true;
          }
        }
     
        function addUser() 
        {
            var valid = true;
            allFields.removeClass( "ui-state-error" );
         
              // valid = valid && checkLength( name, "username", 3, 16 );
              // valid = valid && checkLength( email, "email", 6, 80 );
              // valid = valid && checkLength( password, "password", 5, 16 );
         
              // valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
              // valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
              // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
            var add_json = 
            {
                "company":company.val(),
                "po_id":po_id.val(),
                "recieve_date":recieve_date.val(),
                "due_date":due_date.val(),
                "product_id":product_id.val(),
                "product_line":product_line.val(),
                "line_step":line_step.val(),
                "total_paper":total_paper.val(),
                "total_price":total_price.val()
            }
            console.log(add_json)
            if ( valid ) {
                $( "#sortable tr:last"  ).after( "<tr>" +
                "<td>" + "yoyo" + "</td>" +
                "<td>" + company.val() + "</td>" +
                "<td>" + po_id.val() + "</td>" +
                "<td>" + recieve_date.val() + "</td>" +
                "<td>" + due_date.val() + "</td>" +
                "<td>" + product_id.val() + "</td>" +
                "<td>" + product_line.val() + "</td>" +
                "<td>" + line_step.val() + "</td>" +
                "<td>" + total_paper.val() + "</td>" +
                "<td>" + total_price.val() + "</td>" +
                "</tr>" );
                dialog.dialog( "close" );

            }
          return valid;
        }


        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Create an account": addUser,
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
            allFields.removeClass( "ui-state-error" );
          }
        });
     
        form = dialog.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          addUser();
        });

        
     
        $( "#create-user" ).button().on( "click", function() {
          dialog.dialog( "open" );
        });
      } );*/
    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>
      $( function() {

      } );




    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
