<html lang="en">
<head>
<meta charset="utf-8" />



<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid.css" />
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="src/sortable.js"></script>


</head>
<!-- <body> -->
<style type="text/css" media="screen">
    	.sort_item{
			padding: 2px;
		    width: 50px;
		    height: 20px;
		    border: 1px solid #333;
		    margin: 2px;
		    background: #EEE;
    	}

    	.div_sort_item{
			padding: 2px;
		    border: 1px solid #333;
		    margin: 2px;
		    background: black;

    	}
</style>

<body ng-app='myApp' ng-controller='customersCtrl'>
	
	<div style="float :left;margin-right: 50px">
    <ul ui-sortable ng-model="po_queue">
        <div ng-repeat="item in po_queue" class ="sort_item" style="cursor: move;">{{ item.po_id }}</div>
    </ul>
    </div>

    <div style="float: left">
    	<table style="width:auto;" class="table table-bordered">
	        <thead>
	            <tr> 
	                <th>Count</th>
	            </tr>
	        </thead>
	        <tbody ui-sortable ng-model="po_queue">
	            <tr ng:repeat="item in po_queue">
	                <td>{{ item.company }}</td>
	            </tr>
	        </tbody>
        </table>
        <button id="create-user">Create new user</button>    
    </div>

	
	
    <script type="text/javascript">

        var app = angular.module('myApp', ['ui.sortable']);
        app.controller('customersCtrl', function($scope, $http) 
        {
            // $scope.customerTable = [];
            // $scope.getTable = function ()
            // {
                $http.get('get_po_queue.php').then(function(response) 
                {
                    $scope.po_queue = $.map(response.data, function(el) { return el });
                    console.log($scope.po_queue )
                });
            // };

            $( "#create-user" ).button().on( "click", function() {
          		

          		for(i = 0;i < $scope.po_queue.length;i++)
          		{
          			$scope.po_queue[i].po_id = "po"+ i.toString();
          		}

          		

        	});

        	
        });
        
        
        // var myapp = angular.module('myapp', ['ui.sortable']);

        // myapp.controller('controller', function ($scope) {
        //     $scope.list = ["one", "two", "three", "four", "five", "six"];
        // });

        // angular.bootstrap(document, ['myapp']);
        

    </script>

</body>
</html>