<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>


    <link rel="stylesheet" href="css/animate.css">

    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
</style>
<body ng-app='myApp' ng-controller='customersCtrl'>

    <div id="wrapper">

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="padding-left: 30px;">
                            คุณต้องการลบ {{po_delete}} หรือไม่?
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-danger"  ng-click="postDeletePOForm()">ลบ</button>
                      </div>
                    </div>
                  </div>
                </div>
        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Tables
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Tables
                            </li>
                        </ol>
                    </div>
                </div>



                <div class="table-responsive" >
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->

                            </tr>
                        </thead>

                    </table>
                <div class="container-fluid">



                  <div>
                    Search
                        <div class="form-group">  
                        <input type="text" id="serachinput" name="searchCompany" list="searchCompanyList" class="form-control" style="width: 300px" ng-model="query['$']" ng-change="searchChange()">
                    <br>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
<!--                                 <th></th> -->
                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='company_name'; reverseSort = !reverseSort;sort('company_name');">
                                          ชื่อลูกค้า 
                                          <span ng-show="orderByField == 'company_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='po_id'; reverseSort = !reverseSort;sort('po_id');">
                                          เลขที่ PO 
                                          <span ng-show="orderByField == 'po_id'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='recieve_date'; reverseSort = !reverseSort;sort('recieve_date');">
                                          วันที่ใน PO 
                                          <span ng-show="orderByField == 'recieve_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='due_date'; reverseSort = !reverseSort;sort('due_date');">
                                          กำหนดส่ง 
                                          <span ng-show="orderByField == 'due_date'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_type'; reverseSort = !reverseSort;sort('product_type');">
                                          หมวดสินค้า 
                                          <span ng-show="orderByField == 'product_type'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='product_id'; reverseSort = !reverseSort;sort('product_id');">
                                          ชื่อสินค้า 
                                          <span ng-show="orderByField == 'product_id'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

<!--                                 <th style="padding: 0px"> <ul class="nav"> <li >
<a href="#" ng-click="orderByField='product_line'; reverseSort = !reverseSort;sort('product_line');">
          Product_line 
          <span ng-show="orderByField == 'product_line'">
          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
</li></a></ul></th>

<th style="padding: 0px"> <ul class="nav"> <li >
<a href="#" ng-click="orderByField='line_step'; reverseSort = !reverseSort;sort('line_step');">
          Line_step 
          <span ng-show="orderByField == 'line_step'">
          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
</li></a></ul></th> -->

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='total_paper'; reverseSort = !reverseSort ;sort('total_paper');">
                                          จำนวน 
                                          <span ng-show="orderByField == 'total_paper'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

<!--                                 <th style="padding: 0px"> <ul class="nav"> <li >
          <a href="#" ng-click="orderByField = 'total_price' ;reverseSort = !reverseSort; sort('total_price'); ">
          Total_price 
          <span ng-show="orderByField == 'total_price'">
          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
</li></a></ul></th> -->

                                <th>ตัวเลือก</th>
                                <th>ดำเนินการ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in po_queue | orderBy: orderByField:reverseSort | filter:query | filter : paginate ">
<!--                                 <td> 
    <input type="checkbox" class="companycheck" id="checkbox_{{ x.id }}" value="{{ x.id}}"><br>
</td> -->
                                <td id = "company_{{ x.id }}">{{ x.company_name }}</td>
                                <td id = "po_id_{{ x.id }}">{{ x.po_id }}</td>
                                <td id = "recieve_date_{{ x.id }}">{{ x.recieve_date }}</td>
                                <td id = "due_date_{{ x.id }}">{{ x.due_date }}</td>
                                <td id = "product_type_{{ x.id }}">{{ x.product_type_name }}</td>
                                <td id = "product_id_{{ x.id }}">{{ x.product_name }}</td>
<!--                                 <td id = "product_line_{{ x.id }}">{{ x.product_line }}</td>
<td id = "line_step_{{ x.id }}">{{ x.line_step }}</td> -->
                                <td id = "total_paper_{{ x.id }}">{{ x.total_paper }}</td>
<!--                                 <td id = "total_price_{{ x.id }}">{{ x.total_price }}</td> -->
                                <td style="width: 70px;">
                                <center><button type="button" class="btn btn-danger glyphicon glyphicon-remove"  data-toggle="modal" data-target="#deleteModal" 
                                    ng-click="setDalete(x.id);"></button></center>

                                </td>
                                <td class="col-sm-1">
                                    <center><button class="btn btn-primary" ng-click="submitQueue(x.id)">เริ่มงาน</button></center>
                                </td>
                        </tr>
                      </tbody>
                    </table>
            <div class="row" >
                <div class="col-sm-12 col-md-6" >
                    <pagination total-items="totalItems" ng-model="currentPage"
                      max-size="5" boundary-links="true"
                      items-per-page="numPerPage" class="pagination-sm">
                    </pagination>
                  </div> 
<!--                 <div class="col-sm-12 col-md-6" >
    <div class="form-group" align="right" style="margin:20px" ng-controller="PostController">  

           <button class = " btn btn-primary"id="buttonSubnit" ng-click="submitQueue()">Submit</button> 

      <br>
    </div>
</div> -->
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var postDataApp = angular.module('postDataApp', ['ui.bootstrap', 'ngResource']);
        var app = angular.module('myApp', ['postDataApp']);
        var companyid,messageShow,isPass;
        var listadd = [0];
        var add_count = 0;
        var c = 1;
        postDataApp.controller('customersCtrl', ['$scope', '$http','$compile','filterFilter','$filter', function($scope,$http,$compile,filterFilter,$filter){

          parent.postMessage('0||Offset - PO queue - Waiting||#ffffff||ว่าง', '*');

          $scope.thistype = 1;

            $scope.setDalete = function(id_get){
                  var  objecttemp = getObjects($scope.first_po_queue,'id',id_get );
                  $scope.titleDialog = 'ลบรายชื่องาน';
                  $scope.po_delete = objecttemp[0].id;
                  $scope.id_targetdelete = id_get;
            }

            $scope.postDeletePOForm = function(){

                var encodedString = 
                'id='  + encodeURIComponent($scope.id_targetdelete)+
                '&type='  + encodeURIComponent($scope.thistype);


              $http({
                method: 'POST',
                url: 'includes/post_delete_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  parent.postMessage('1||สำเร็จ||ลบข้อมูล ' +  $scope.po_delete + ' ออกจากระบบเรียบร้อย', '*');
                  $scope.getData();
                  $('#deleteModal').modal('hide');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };


            this.postEditForm = function(){
                //alert(document.getElementById("company_Edit").value + companyid );

                var encodedString = 
                'id_company='  + encodeURIComponent(companyid) + 
                '&company='  + encodeURIComponent(document.getElementById("company_Edit").value ) +
                '&po_id=' + encodeURIComponent(document.getElementById("po_id_Edit").value ) +
                '&recieve_date=' + encodeURIComponent(document.getElementById("recieve_date_Edit").value ) +
                '&due_date=' + encodeURIComponent(document.getElementById("due_date_Edit").value ) +
                '&product_type=' + encodeURIComponent(document.getElementById("product_type_Edit").value ) +
                '&product_id=' + encodeURIComponent(document.getElementById("product_id_Edit").value ) +
                '&product_line=' + encodeURIComponent(document.getElementById("product_line_Edit").value ) +
                '&total_price=' + encodeURIComponent(document.getElementById("total_price_Edit").value ) +
                '&total_paper=' + encodeURIComponent(document.getElementById("total_paper_Edit").value );

              $http({
                method: 'POST',
                url: 'includes/post_edit_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  //window.location.href = 'index.php';
                  //indexGet = data.trim();
                  //addUser();
                  //updateDataUser();
                  $scope.getData();
                  dialog.dialog( "close" );
                  //alert('ok');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            function postDeleteForm(){
                //alert('delete : ' + companyid );

                var encodedString = 
                'id_company='  + encodeURIComponent(companyid);

              $http({
                method: 'POST',
                url: 'includes/post_delete_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  //window.location.href = 'index.php';
                  //indexGet = data.trim();
                  //deleteDataUser();
                  $scope.getData();
                  dialog_delete.dialog( "close" );
                  //alert('ok');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.submitQueue = function(id_submit){
                //var values = $('input:checkbox:checked.companycheck').map(function () {
                //  return this.value;
                //}).get(); // ["18", "55", "10"]
                //alert(values);
                var encodedString = 
                'id_queue='  + encodeURIComponent(id_submit);

                $http({
                method: 'POST',
                url: 'includes/post_offset_submit_po.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(id_submit);
                console.log(data);
                if(data.trim() == id_submit){
                  //alert('ok');
                  parent.postMessage('1||สำเร็จ||ส่งข้อมูลเข้าระบบการผลิตเรียบร้อย', '*');
                  $scope.getData();
                }
                else{
                  alert(data.trim());
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                alert('error');
                $scope.errorMsg = 'Cannot Submit Form';
              });
                
            }


            

              var dialog, dialog_delete, form, indexGet, newID


              tips = $( ".validateTips" );
         
            function stringIsNumber(s,n) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    n = n.charAt(0).toUpperCase() + n.slice(1);
                    messageShow = messageShow + n + " must be number.<br>"; 
                    isPass = false;
                    return false;
                }
                 
            }
         
            function checkLength( o, n, min, max ) {
              if ( o.length > max || o.length < min ) {
                messageShow = messageShow + "Length of " + n + " must be between " + min + " and " + max + ".<br>" ;
                isPass = false;
                return false;
              } else {
                return true;
              }
            }
         
            function isBlank(valueget){
                if(valueget === ''){
                    //dialog_message.dialog("open");
                    //alert('aaa');
                    messageShow = ""
                    return true;
                }
                else{
                    //alert('bbb');
                    return false;
                }
            }

            function isDate(d,n){
                var timestamp = Date.parse(d)
                if (isNaN(d) == false)
                {
                    messageShow = messageShow + "Invalid " + n + ".<br>";
                    isPass = false;
                }
            }

            function checkMainAdd(){
                isPass = true;//alert('aaa');
                checkLength( document.getElementById("company_add_0").value, 'company', 3, 20 );
                checkLength( document.getElementById("po_id_add_0").value, 'po_id', 1, 5 );
                isDate(document.getElementById("recieve_date_add_0").value,'recieve_date');
                isDate(document.getElementById("due_date_add_0").value,'due_date');

                if(!isPass){
                    document.getElementById("dialogMessage").innerHTML  =  messageShow;
                    dialog_message.dialog("open");
                    //alert(isPass);
                    return false;
                }
                else{
                    //alert('bbb');
                    return true;
                }

            }
            function checkAdd(numcheck){

                isPass = true;
                checkLength( document.getElementById("product_id_add_"+numcheck).value, 'product_id['+(numcheck+1)+']', 1, 5 );
                checkLength( document.getElementById("total_price_add_"+numcheck).value, 'total_price['+(numcheck+1)+']', 1, 5 )&&stringIsNumber(document.getElementById("total_price_add_"+numcheck).value,'total_price['+(numcheck+1)+']');
                checkLength( document.getElementById("total_paper_add_"+numcheck).value, 'total_paper['+(numcheck+1)+']', 1, 5 )&&stringIsNumber(document.getElementById("total_paper_add_"+numcheck).value,'total_paper['+(numcheck+1)+']');
                //var strUser = document.getElementById("product_type_add").options[document.getElementById("product_type_add").selectedIndex].value;

                if(!isPass){
                    document.getElementById("dialogMessage").innerHTML  =  messageShow;
                    dialog_message.dialog("open");
                    //alert(isPass);
                    return false;
                }
                else{
                    //alert('bbb');
                    return true;
                }
            }


            function CallEditPost() {
              $scope.postEditForm();
            }

            dialog = $( "#dialog-form" ).dialog({
              autoOpen: false,
              height: 400,
              width: 350,
              modal: true,
              buttons: {
                Save : function() { 
                 document.getElementById("EditSaveButton").click();
             }, Cancel: function() {
              dialog.dialog( "close" );
            }

              },
              close: function() {
                //form[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
              }
            });

            dialog_delete = $( "#dialog-delete-form" ).dialog({
              autoOpen: false,
              height: 200,
              width: 350,
              modal: true,
              buttons: {
                Delete : function() { 
                 postDeleteForm();
             }, Cancel: function() {
              dialog_delete.dialog( "close" );
            }

              },
              close: function() {
                //form[ 0 ].reset();
                //allFields.removeClass( "ui-state-error" );
              }
            });

            dialog_message = $( "#dialog-message-form" ).dialog({
              autoOpen: false,
              width: 500,
              modal: true,
              buttons: {
            OK: function() {
              dialog_message.dialog( "close" );
            }

              },
              close: function() {
                //allFields.removeClass( "ui-state-error" );
              }
            });
         
         

            this.add_row = function () {  

                add_count += 1;

                listadd.push(add_count);
                //alert(listadd);
                var max_fields      = 10; //maximum input boxes allowed
                var wrapper         = document.getElementById("input_fields_wrap"); //Fields wrapper
                //var add_button      = $(".add_field_button"); //Add button ID
                
                //var x = 1; //initlal text box count
                var text = replaceAll($scope.text,"|number|", add_count);
                $(wrapper).before($compile( text )($scope));
                            

                $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                    e.preventDefault(); $(this).parent('div').remove(); x--;
                })
            }


            this.remove_row = function(remove_target){
                //alert('aaa');
                //var array = [2, 5, 9];
                //alert(listadd);
                listadd = listadd.filter(function(item) { 
                    return item !== remove_target;
                });                
                document.getElementById("po_queue_add_"+remove_target).remove();
                //alert(listadd);
            }

            function escapeRegExp(str) {
                return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
            }
            function replaceAll(str, find, replace) {
              return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
            }


          
          $scope.currentPage = 1;
          $scope.numPerPage = 10;
          $scope.columnToOrder = '';

          $scope.paginate = function(value) {
          $scope.totalItems = $scope.po_queue.length;
            var begin, end, index;
            begin = ($scope.currentPage - 1) * $scope.numPerPage;
            end = begin + $scope.numPerPage;
            index = $scope.po_queue.indexOf(value);
            return (begin <= index && index < end);
          };

          $scope.searchChange = function() {
                $scope.po_queue = filterFilter($scope.first_po_queue, document.getElementById("serachinput").value);  
                $scope.paginate($scope.po_queue);
                $scope.sort($scope.columnToOrder);
                //alert($scope.po_queue.length);
          };

          $scope.sort = function (sortBy) {
                //$scope.resetAll();

                $scope.columnToOrder = sortBy;
                $scope.po_queue = $filter('orderBy')($scope.po_queue, $scope.columnToOrder, $scope.reverseSort);
                $scope.reverse = !$scope.reverse;
                
            };


/*            $scope.gup = function( name, url ) {
                if (!url) url = location.href;
                name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
                var regexS = "[\\?&]"+name+"=([^&#]*)";
                var regex = new RegExp( regexS );
                var results = regex.exec( url );
                //alert(results[1]);
                return results == null ? null : results[1];
            }
            $scope.gup('q', window.location.search);*/
            

            $scope.getCompanylistALL = function (){
                $scope.company_list = [];
                $http.get('includes/get_company_list.php').then(function(response) 
                {
                    $scope.company_list = $.map(response.data, function(el) { 
                        return el }); 
                    //$scope.setCompanyIDToName(); 

                    console.log($scope.company_list)
                });
            }

            $scope.getProductlistALL = function (){
                $scope.product_list_all = [];
                $http.get('includes/get_product_list.php').then(function(response) 
                {
                    $scope.product_list_all = $.map(response.data, function(el) { 
                        return el });
                    //$scope.setProductIDToName(); 
                    console.log($scope.product_list_all)
                });
            }

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }

            $scope.getProductlist = function (num){
                for(var i = 0;i<listadd.length;i++){
                    var  objecttemp = getObjects($scope.company_list,'name',document.getElementById("company_add_0").value );
                    console.log(objecttemp.length);
                    //alert("company_add_"+num);
                    if(objecttemp.length>0){
                            $temp_product = getObjects($scope.product_list_all,'company_id',objecttemp[0].company_id );
                            $scope.product_list = getObjects($temp_product,'category',document.getElementById("product_type_add_"+listadd[i]).options[document.getElementById("product_type_add_"+listadd[i]).selectedIndex].value );//console.log($scope.product_list);
                            //var  objecttemp = getObjects($scope.company_list,'name',document.getElementById("company_add").value );
                            //console.log(objecttemp.length);

                                document.getElementById("product_id_add_"+listadd[i]).value='';
                                if($scope.product_list.length>0){
                                    document.getElementById("product_id_add_"+listadd[i]).disabled = false;
                                }else{
                                    document.getElementById("product_id_add_"+listadd[i]).disabled = true;
                                }
                                console.log($scope.product_list);
                                //alert("test");
                    }
                    else{
                        document.getElementById("product_id_add_"+listadd[i]).disabled = true;
                    }
                }
            }


            $scope.setProductData = function (num){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+num).value );
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    document.getElementById("product_line_add_"+num).value = objecttemp[0].product_line;
                }
                else{
                    document.getElementById("product_line_add_"+num).value = '';
                }
            }

            $scope.getData = function (){
                $scope.po_queue = [];
                $http.get('includes/get_po_queue.php').then(function(response) 
                {
                    $scope.first_po_queue = $.map(response.data, function(el) { return el ;});
                    $scope.po_queue = $scope.first_po_queue;
                    $scope.getCompanylistALL();
                    //$scope.getProductlistALL();
                    console.log($scope.po_queue);
                });
            }

            $scope.getCompanyID = function (){
                var  objecttemp = getObjects($scope.company_list,'name',document.getElementById("company_add_0").value );

                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    return objecttemp[0].company_id;
                }
                else{
                    return 'false';
                }
            }

            $scope.getProductID = function (index_id){
                var  objecttemp = getObjects($scope.product_list,'name',document.getElementById("product_id_add_"+index_id).value );
                
                console.log(objecttemp.length);

                if(objecttemp.length>0){
                    return objecttemp[0].product_id;
                }
                else{
                    return 'false';
                }
            }



            $scope.getTextAdd = function (){
                $scope.company_list = [];
                $http.get('text/po_queue_add.txt').then(function(response) 
                { 
                    $scope.text = response.data; 
                    
                    //$scope.add_row();
                    //console.log($scope.company_list)
                });
            }
            //alert('aaababa');
            $scope.getData();
            $scope.getTextAdd();


          }]);





/*
         $( function() {
        

/*        $( "#target" ).click(function() {
          event.preventDefault();
          addUser();
        });*/

       /* var dialog, form,
     
          // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
          emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          company = $( "#company" ),
          po_id = $( "#po_id" ),
          recieve_date = $( "#recieve_date" ),
          due_date = $( "#due_date" ),
          product_id = $( "#product_id" ),
          product_line = $( "#product_line" ),
          line_step = $( "#line_step" ),
          total_paper = $( "#total_paper" ),
          total_price = $( "#total_price" ),
          allFields = $( [] ).add( company ).add( po_id ).add( recieve_date ).add( due_date ).add( product_id ).add( product_line ).add( line_step ).add( total_paper ).add( total_price ),
          tips = $( ".validateTips" );
     
        function updateTips( t ) {
          tips
            .text( t )
            .addClass( "ui-state-highlight" );
          setTimeout(function() {
            tips.removeClass( "ui-state-highlight", 1500 );
          }, 500 );
        }
     
        function checkLength( o, n, min, max ) {
          if ( o.val().length > max || o.val().length < min ) {
            o.addClass( "ui-state-error" );
            updateTips( "Length of " + n + " must be between " +
              min + " and " + max + "." );
            return false;
          } else {
            return true;
          }
        }
     
        function checkRegexp( o, regexp, n ) {
          if ( !( regexp.test( o.val() ) ) ) {
            o.addClass( "ui-state-error" );
            updateTips( n );
            return false;
          } else {
            return true;
          }
        }
     
        function addUser() 
        {
            var valid = true;
            allFields.removeClass( "ui-state-error" );
         
              // valid = valid && checkLength( name, "username", 3, 16 );
              // valid = valid && checkLength( email, "email", 6, 80 );
              // valid = valid && checkLength( password, "password", 5, 16 );
         
              // valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
              // valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
              // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
            var add_json = 
            {
                "company":company.val(),
                "po_id":po_id.val(),
                "recieve_date":recieve_date.val(),
                "due_date":due_date.val(),
                "product_id":product_id.val(),
                "product_line":product_line.val(),
                "line_step":line_step.val(),
                "total_paper":total_paper.val(),
                "total_price":total_price.val()
            }
            console.log(add_json)
            if ( valid ) {
                $( "#sortable tr:last"  ).after( "<tr>" +
                "<td>" + "yoyo" + "</td>" +
                "<td>" + company.val() + "</td>" +
                "<td>" + po_id.val() + "</td>" +
                "<td>" + recieve_date.val() + "</td>" +
                "<td>" + due_date.val() + "</td>" +
                "<td>" + product_id.val() + "</td>" +
                "<td>" + product_line.val() + "</td>" +
                "<td>" + line_step.val() + "</td>" +
                "<td>" + total_paper.val() + "</td>" +
                "<td>" + total_price.val() + "</td>" +
                "</tr>" );
                dialog.dialog( "close" );

            }
          return valid;
        }


        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Create an account": addUser,
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
            allFields.removeClass( "ui-state-error" );
          }
        });
     
        form = dialog.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          addUser();
        });

        
     
        $( "#create-user" ).button().on( "click", function() {
          dialog.dialog( "open" );
        });
      } );*/
    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>


/*            var max_fields      = 10; //maximum input boxes allowed
            var wrapper         = document.getElementById("input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID
            
            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                    x++; //text box increment
                    var file = new XMLHttpRequest();
                    file.open("GET", "text/po_queue_add.txt", false);
                    file.onreadystatechange = function() {
                      //if (file.readyState === 4) {  // Makes sure the document is ready to parse
                        //if (file.status === 200) {  // Makes sure it's found the file
                        
                        var text = file.responseText;alert(text);
                        $(wrapper).after(text);
                        
                          //$(wrapper).after('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>');
                        //}
                      //}
                    }
                     //add input box
                }
            });
            
            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })*/



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
