<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>
<!--   <link rel="stylesheet" href="chosen.css"> -->
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">



    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->

    <script src="js/i18n/grid.locale-en.js" type="text/javascript"></script>
    <script src="js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/bootstrap.min.js" ></script>
    <script src="js/angular-resource.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.js"></script>

    <link href="css/addition.css" rel="stylesheet" type="text/css">
    <link href="css/mujames.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/animate.css">


</head>
<style>
/*     label, input { display:block; } */
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
    .ui-sortable-helper {
    display: table;

}.table-responsive {
  overflow-x: visible !important;
  overflow-y: visible !important;
}
.right-bottom{
  position: inherit;
right: 0px;
bottom: 0px;
}
.row .no-float {
  display: table-cell;
  float: none;
}
.hide-scroll {
    overflow: hidden;
}

.viewport {
    overflow: auto;
    max-height: 500px;
    margin-right: -100px;
    padding-right: 100px;
    
}
#textAlert{
  color: red;
}

</style>
<body ng-app='myApp' ng-controller='PostController'>

    <div id="wrapper">

                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 10% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" >
                        <div  class="row">
                              <div  class="col-sm-12 col-lg-6">
                                 <div   class="form-group">
                                     <label>ชื่อผู้ผลิต</label>
                                     <input type="text" ng-model="producer_dialog"  class="form-control">
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-lg-6">
                                 <div   class="form-group">
                                   <label>เลขประจำตัวผู้เสียภาษี</label>
                                    <input type="text" ng-model="tax_no_dialog"  class="form-control">
                                 </div>
                              </div>
                          </div>
                          <div  class="row">
                              <div  class="col-sm-12 col-lg-12">
                                 <div   class="form-group">
                                     <label>ที่อยู่ 1</label>
                                     <input type="text" ng-model="address1_dialog"  class="form-control">
                                  </div>
                              </div>
                          </div>
                          <div  class="row">
                              <div  class="col-sm-12 col-lg-6">
                                 <div   class="form-group">
                                     <label>เบอร์โทรศัพท์</label>
                                     <input type="text"  ng-model="tel_no_dialog"  class="form-control">
                                  </div>
                              </div>
                              <div  class="col-sm-12 col-lg-6">
                                 <div   class="form-group">
                                   <label>เบอร์แฟกซ์</label>
                                    <input type="text" ng-model="fax_no_dialog"  class="form-control">
                                 </div>
                              </div>
                          </div>
                         
                        <br>
                        <div id="textAlert">
                          {{messageAdd}}
                        </div>
                      </div>
                          
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-primary"  ng-click="postProducerForm()">บันทึก</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class=" modal-dialog" role="document" style="margin-top: 15% ;width: 50% margin:auto;">
                    <div class="modal-content">
                      <div class="modal-header">
                      <div class="col-sm-6">
                           <h5 class="modal-title" id="exampleModalLabel">{{titleDialog}}</h5>
                      </div>
                       <div class="col-sm-6">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="font-size: 25px;">&times;</span>
                        </button>
                      </div>    
                      </div>
                      <div class="modal-body hide-scroll" style="max-height: 30%;">
                      <div class="viewport" style="padding-left: 30px;">
                            คุณต้องการลบ {{producer_delete}} หรือไม่?
                      </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
                        <button type="button" class="btn btn-danger"  ng-click="postDeleteProducerForm()">ลบ</button>
                      </div>
                    </div>
                  </div>
                </div>

        <!-- Navigation -->
        
        <div id="page-wrapper" class="animated fadeIn">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <br>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-list-ul"></i> รายชื่อ</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> รายชื่อลูกค้า
                            </li>
                        </ol>
                    </div>
                </div>



                <div class="table-responsive" >
                    <table id="po_queue_table" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
<!--                                 <th>Index</th> -->

                            </tr>
                        </thead>

                    </table>
                <div class="container-fluid">

                <div>
                  
                </div>
                <br>
                  <div>
                  <div class="row">
                     <div class="col-lg-6 ">
                       Search
                        <div class="form-group">  
                            <input type="text" id="serachinput" name="searchCompany" list="searchCompanyList" class="form-control" style="width: 300px" ng-model="query['$']" ng-change="searchChange()">
                        </div>
                     </div>
                     <div class="col-lg-6 " align="right" >
                     <br> 
                        <div class="form-group">  
                       <button class = " btn btn-success" id="buttonDialogAdd"  data-toggle="modal" data-target="#addModal" ng-click="set_id_target(0);">เพิ่มรายชื่อผู้ผลิต</button> 
                       </div>
                     </div>
                  </div>
                    
                    <br>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                        <tr>
                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='producer_id'; reverseSort = !reverseSort;sort('producer_id');">
                                          รหัสผู้ผลิต 
                                          <span ng-show="orderByField == 'producer_id'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='producer_name'; reverseSort = !reverseSort;sort('producer_name');">
                                          ชื่อผู้ผลิต 
                                          <span ng-show="orderByField == 'producer_name'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='producer_address1'; reverseSort = !reverseSort;sort('producer_address1');">
                                          ที่อยู่ 1
                                          <span ng-show="orderByField == 'producer_address1'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='producer_tax_no'; reverseSort = !reverseSort;sort('producer_tax_no');">
                                          เลขที่ประจำตัวผู้เสียภาษี
                                          <span ng-show="orderByField == 'producer_tax_no'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='producer_tel'; reverseSort = !reverseSort;sort('producer_tel');">
                                          โทร 
                                          <span ng-show="orderByField == 'producer_tel'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th style="padding: 0px"> <ul class="nav"> <li >
                                <a href="#" ng-click="orderByField='producer_fax'; reverseSort = !reverseSort;sort('producer_fax');">
                                          FAX 
                                          <span ng-show="orderByField == 'producer_fax'">
                                          <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                                          <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span></span>
                                </li></a></ul></th>

                                <th>ตัวเลือก</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="x in producer_list | orderBy: orderByField:reverseSort | filter:query | filter : paginate ">
                                <td  style="width: 120px">{{ x.producer_id }}</td>
                                <td >{{ x.producer_name }}</td>
                                <td >{{ x.producer_address1 }}</td>
                                <td >{{ x.producer_tax_no }}</td>
                                <td >{{ x.producer_tel }}</td>
                                <td >{{ x.producer_fax }}</td>
                                <td style="width: 101px;">
                                <button type="button" class="btn btn-primary glyphicon glyphicon-pencil"  data-toggle="modal" data-target="#addModal"
                                    ng-click="set_id_target(x.producer_id);"></button>
                                <button type="button" class="btn btn-danger glyphicon glyphicon-remove"  data-toggle="modal" data-target="#deleteModal" 
                                    ng-click="setDalete(x.producer_id);"></button>

                                </td>
                        </tr>
                      </tbody>
                    </table>
            <div class="row" >
                <div class="col-sm-12 col-md-6" >
                    <pagination total-items="totalItems" ng-model="currentPage"
                      max-size="5" boundary-links="true"
                      items-per-page="numPerPage" class="pagination-sm">
                    </pagination>
                  </div> 
            </div>

                <!-- /.row -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- /#page-wrapper -->

    <script type="text/javascript">

        var postDataApp = angular.module('postDataApp', ['ui.bootstrap', 'ngResource']);
        var app = angular.module('myApp', [ 'postDataApp']);

        postDataApp.controller('PostController', ['$scope', '$http','$compile','filterFilter','$filter', function($scope,$http,$compile,filterFilter,$filter){

          parent.postMessage('0||รายชื่อผู้ผลิต||#ffffff||ว่าง', '*');

            $scope.set_id_target = function(id_get){
             $('#textAlert').html('');
                if(id_get > 0 ){
                  $scope.mode = 'edit';
                  $scope.id_target = id_get;
                   var  objecttemp = getObjects($scope.first_producer_list,'producer_id',id_get );
                   $scope.titleDialog = 'แก้ไขรายชื่อผู้ผลิต - ' + objecttemp[0].producer_name;
                   $scope.producer_dialog = objecttemp[0].producer_name;
                   $scope.address1_dialog = objecttemp[0].producer_address1;
                   $scope.tax_no_dialog = objecttemp[0].producer_tax_no;
                   $scope.tel_no_dialog = objecttemp[0].producer_tel;
                   $scope.fax_no_dialog = objecttemp[0].producer_fax;

                }else{
                   $scope.mode = 'add';
                   $scope.titleDialog = 'เพิ่มรายชื่อผู้ผลิต';
                   $scope.producer_dialog = '';
                   $scope.address1_dialog = '';
                   $scope.tax_no_dialog = '';
                   $scope.tel_no_dialog = '';
                   $scope.fax_no_dialog = '';
                }
            }

            $scope.setDalete = function(id_get){
                  var  objecttemp = getObjects($scope.first_producer_list,'producer_id',id_get );
                  $scope.titleDialog = 'ลบรายชื่อผู้ผลิต';
                  $scope.producer_delete = objecttemp[0].producer_name;
                  $scope.id_targetdelete = id_get;
            }

            $scope.validateForm = function(){
              
                  var text = 'ข้อมูลไม่ถูกต้อง\n';
                  var isPass = true;

                      if($scope.producer_dialog == ''){
                          text = text.concat('ชื่อผู้ผลิตไม่ถูกไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.address1_dialog == ''){
                          text = text.concat('ที่อยู่ 1 ไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.tax_no_dialog == ''){
                          text = text.concat('เลขประจำตัวผู้เสียภาษีไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.tel_no_dialog == ''){
                          text = text.concat('เบอร์โทรศัพท์ไม่ถูกต้อง \n');
                          isPass = false;
                      }
                      if($scope.fax_no_dialog == ''){
                          text = text.concat('แฟกซ์ไม่ถูกต้อง \n');
                          isPass = false;
                      }                  

                  if(!isPass){
                     
                      $('#textAlert').html(htmlNewlines(text));
                      return false;
                  }
                  else{
                      return true;
                  }
             }

            function htmlNewlines(text) {
                var htmls = [];
                var lines = text.split(/\n/);

                var tmpDiv = jQuery(document.createElement('div'));
                for (var i = 0 ; i < lines.length ; i++) {
                    htmls.push(tmpDiv.text(lines[i]).html());
                }
                return htmls.join("<br>");
            }

            $scope.postProducerForm = function(){
                
            if(!$scope.validateForm()){
                    return false;
              }

                var encodedString = 
                'producer='  + encodeURIComponent($scope.producer_dialog ) +
                '&address1=' + encodeURIComponent($scope.address1_dialog ) +
                '&tax_no=' + encodeURIComponent($scope.tax_no_dialog ) +
                '&tel=' + encodeURIComponent($scope.tel_no_dialog ) +
                '&fax=' + encodeURIComponent($scope.fax_no_dialog );

                if($scope.mode == 'edit'){
                  encodedString = encodedString + '&id_producer=' + encodeURIComponent($scope.id_target);
                  //alert($scope.id_target);
                }

              $http({
                method: 'POST',
                url: 'includes/post_'+$scope.mode+'_producer.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  parent.postMessage('1||สำเร็จ||บันทึกข้อมูล ' +  $scope.producer_dialog + ' สู่ระบบเรียบร้อย', '*');
                  $scope.getData();
                  $('#addModal').modal('hide');
                }
                else{
                  alert('Error = ' + data);
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };

            $scope.postDeleteProducerForm = function(){

                var encodedString = 
                'id_producer='  + encodeURIComponent($scope.id_targetdelete);

              $http({
                method: 'POST',
                url: 'includes/post_delete_producer.inc.php',
                data: encodedString,
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
              })
              .success(function(data, status, headers, config){
                console.log(data);
                if(data.trim() === 'correct'){
                  parent.postMessage('1||สำเร็จ||ลบข้อมูล ' +  $scope.producer_delete + ' ออกจากระบบเรียบร้อย', '*');
                  $scope.getData();
                  $('#deleteModal').modal('hide');
                }
                else{
                  alert('Error');
                  $scope.errorMsg = "Add fail";
                }
              })
              .error(function(data, status,headers, config){
                $scope.errorMsg = 'Cannot Submit Form';
              });
            };
         
            function stringIsNumber(s) {
                var x = +s; // made cast obvious for demonstration
                if (x.toString() === s){
                    return true;
                }else{
                    return false;
                }
                 
            }
         
            function checkLength( o, n, min, max ) {
              if ( o.length > max || o.length < min ) {
                messageShow = messageShow + "Length of " + n + " must be between " + min + " and " + max + ".<br>" ;
                isPass = false;
                return false;
              } else {
                return true;
              }
            }
         
            function isBlank(valueget){
                if(valueget === ''){
                    //dialog_message.dialog("open");
                    //alert('aaa');
                    messageShow = ""
                    return true;
                }
                else{
                    //alert('bbb');
                    return false;
                }
            }

            function isDate(d,n){
                var timestamp = Date.parse(d)
                if (isNaN(d) == false)
                {
                    messageShow = messageShow + "Invalid " + n + ".<br>";
                    isPass = false;
                }
            }

         
            function escapeRegExp(str) {
                return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
            }
            function replaceAll(str, find, replace) {
              return str.replace(new RegExp(escapeRegExp(find), 'g'), replace);
            }

          
          $scope.currentPage = 1;
          $scope.numPerPage = 20;
          $scope.columnToOrder = '';

          $scope.paginate = function(value) {
          $scope.totalItems = $scope.producer_list.length;
            var begin, end, index;
            begin = ($scope.currentPage - 1) * $scope.numPerPage;
            end = begin + $scope.numPerPage;
            index = $scope.producer_list.indexOf(value);
            return (begin <= index && index < end);
          };

          $scope.searchChange = function() {
                $scope.company_list = filterFilter($scope.first_company_list, document.getElementById("serachinput").value);  
                $scope.paginate($scope.company_list);
                $scope.sort($scope.columnToOrder);
                //alert($scope.po_queue.length);
          };

          $scope.sort = function (sortBy) {
                //$scope.resetAll();

                $scope.columnToOrder = sortBy;
                $scope.company_list = $filter('orderBy')($scope.company_list, $scope.columnToOrder, $scope.reverseSort);
                $scope.reverse = !$scope.reverse;
                
            };

           getObjects = function(obj, key, val) {
                var objects = [];
                for (var i in obj) {
                    if (!obj.hasOwnProperty(i)) continue;
                    if (typeof obj[i] == 'object') {
                        objects = objects.concat(getObjects(obj[i], key, val));
                    } else if (i == key && obj[key] == val) {
                        objects.push(obj);
                    }
                }
                return objects;
            }


            $scope.getData = function (){
                $scope.first_producer_list = [];
                $http.get('includes/get_producer_list.php').then(function(response) 
                {
                    $scope.first_producer_list = $.map(response.data, function(el) { return el }); 
                    $scope.producer_list = $scope.first_producer_list;

                    console.log($scope.producer_list)
                });
            }

            $scope.getData();

        }]);





/*
         $( function() {
        

/*        $( "#target" ).click(function() {
          event.preventDefault();
          addUser();
        });*/

       /* var dialog, form,
     
          // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
          emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          company = $( "#company" ),
          po_id = $( "#po_id" ),
          recieve_date = $( "#recieve_date" ),
          due_date = $( "#due_date" ),
          product_id = $( "#product_id" ),
          product_line = $( "#product_line" ),
          line_step = $( "#line_step" ),
          total_paper = $( "#total_paper" ),
          total_price = $( "#total_price" ),
          allFields = $( [] ).add( company ).add( po_id ).add( recieve_date ).add( due_date ).add( product_id ).add( product_line ).add( line_step ).add( total_paper ).add( total_price ),
          tips = $( ".validateTips" );
     
        function updateTips( t ) {
          tips
            .text( t )
            .addClass( "ui-state-highlight" );
          setTimeout(function() {
            tips.removeClass( "ui-state-highlight", 1500 );
          }, 500 );
        }
     
        function checkLength( o, n, min, max ) {
          if ( o.val().length > max || o.val().length < min ) {
            o.addClass( "ui-state-error" );
            updateTips( "Length of " + n + " must be between " +
              min + " and " + max + "." );
            return false;
          } else {
            return true;
          }
        }
     
        function checkRegexp( o, regexp, n ) {
          if ( !( regexp.test( o.val() ) ) ) {
            o.addClass( "ui-state-error" );
            updateTips( n );
            return false;
          } else {
            return true;
          }
        }
     
        function addUser() 
        {
            var valid = true;
            allFields.removeClass( "ui-state-error" );
         
              // valid = valid && checkLength( name, "username", 3, 16 );
              // valid = valid && checkLength( email, "email", 6, 80 );
              // valid = valid && checkLength( password, "password", 5, 16 );
         
              // valid = valid && checkRegexp( name, /^[a-z]([0-9a-z_\s])+$/i, "Username may consist of a-z, 0-9, underscores, spaces and must begin with a letter." );
              // valid = valid && checkRegexp( email, emailRegex, "eg. ui@jquery.com" );
              // valid = valid && checkRegexp( password, /^([0-9a-zA-Z])+$/, "Password field only allow : a-z 0-9" );
            var add_json = 
            {
                "company":company.val(),
                "po_id":po_id.val(),
                "recieve_date":recieve_date.val(),
                "due_date":due_date.val(),
                "product_id":product_id.val(),
                "product_line":product_line.val(),
                "line_step":line_step.val(),
                "total_paper":total_paper.val(),
                "total_price":total_price.val()
            }
            console.log(add_json)
            if ( valid ) {
                $( "#sortable tr:last"  ).after( "<tr>" +
                "<td>" + "yoyo" + "</td>" +
                "<td>" + company.val() + "</td>" +
                "<td>" + po_id.val() + "</td>" +
                "<td>" + recieve_date.val() + "</td>" +
                "<td>" + due_date.val() + "</td>" +
                "<td>" + product_id.val() + "</td>" +
                "<td>" + product_line.val() + "</td>" +
                "<td>" + line_step.val() + "</td>" +
                "<td>" + total_paper.val() + "</td>" +
                "<td>" + total_price.val() + "</td>" +
                "</tr>" );
                dialog.dialog( "close" );

            }
          return valid;
        }


        dialog = $( "#dialog-form" ).dialog({
          autoOpen: false,
          height: 400,
          width: 350,
          modal: true,
          buttons: {
            "Create an account": addUser,
            Cancel: function() {
              dialog.dialog( "close" );
            }
          },
          close: function() {
            form[ 0 ].reset();
            allFields.removeClass( "ui-state-error" );
          }
        });
     
        form = dialog.find( "form" ).on( "submit", function( event ) {
          event.preventDefault();
          addUser();
        });

        
     
        $( "#create-user" ).button().on( "click", function() {
          dialog.dialog( "open" );
        });
      } );*/
    </script>
<!--   <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

<!--     <link rel="stylesheet" type="text/css" href="selectize.css" /> -->
  <script>


/*            var max_fields      = 10; //maximum input boxes allowed
            var wrapper         = document.getElementById("input_fields_wrap"); //Fields wrapper
            var add_button      = $(".add_field_button"); //Add button ID
            
            var x = 1; //initlal text box count
            $(add_button).click(function(e){ //on add input button click
                e.preventDefault();
                if(x < max_fields){ //max input box allowed
                    x++; //text box increment
                    var file = new XMLHttpRequest();
                    file.open("GET", "text/po_queue_add.txt", false);
                    file.onreadystatechange = function() {
                      //if (file.readyState === 4) {  // Makes sure the document is ready to parse
                        //if (file.status === 200) {  // Makes sure it's found the file
                        
                        var text = file.responseText;alert(text);
                        $(wrapper).after(text);
                        
                          //$(wrapper).after('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>');
                        //}
                      //}
                    }
                     //add input box
                }
            });
            
            $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
                e.preventDefault(); $(this).parent('div').remove(); x--;
            })*/



    var fixHelper = function(e, ui) {  
      ui.children().each(function() {  
        $(this).width($(this).width());  
      });  
      return ui;  
    };

  </script>
</body>

</html>
